@font-face {
	font-family: 'AvenirNextCyr-Thin';
	src: url('../fonts/avenirnextcyr-thin.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/avenirnextcyr-thin.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/avenirnextcyr-thin.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/avenirnextcyr-thin.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/avenirnextcyr-thin.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/avenirnextcyr-thin.svg#avenirnextcyr-thin') format('svg'); /* Chrome < 4, Legacy iOS */
}