body{
    font-family: Arial;
    margin: 0;
}
header{
    padding: 30px 0 70px 0;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.project{
    flex-basis: 48%;
    margin: 0 0 25px 0;
}
.project p{
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 15px 0;
}
.project a{
    display: block;
    font-size: 16px;
    text-decoration: none;
    color: skyblue;
    margin: 5px 0;
}
.project a:hover{
    color: deepskyblue; 
}
header{
    padding: 30px 0 70px 0;
}
header .container{
    align-items: center;
}
.logo{
    color: #000;
    font-size: 24px;
    color: dodgerblue;
}
.slogan{
    font-size: 30px;
    font-weight: bold;
}
.pink{
    color: hotpink;
}
.yellow{
    color: orange;
}
.contacts{}
.contacts p{
    margin: 0 0 10px 0;
}
.contacts p:last-child{
    margin: 0;
}
.contacts p a,
.contacts p img{
    display: inline-block;
    vertical-align: middle;
}
.contacts p img{
    height: 24px;
    margin: 0 5px 0 0;
}
.contacts p a{
    text-decoration: none;
}
.blue{
    color: dodgerblue;
    transition: 0.5s;
}
.blue:hover{
    color: skyblue;
}
.red{
    color: firebrick;
}
.red:hover{
    color: indianred;
}