@media (max-width: 1139px) {
  .container {
    width: 690px; }
  .wrapper {
    padding: 100px 0 0 0; }
  header {
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 0;
    left: 0;
    background: #fff;
    border-bottom: 2px solid #E1E1E1;
    padding: 0; }
    header .container {
      height: 98px;
      box-sizing: border-box;
      position: static; }
  .main-menu-btn {
    width: 44px;
    height: 29px;
    position: relative;
    display: block;
    margin: 0 24px 0 0; }
    .main-menu-btn span {
      display: block;
      position: absolute;
      left: 0;
      width: 100%;
      height: 5px;
      background: #808080;
      cursor: pointer;
      transition: 0.4s; }
      .main-menu-btn span:nth-child(1) {
        top: 0; }
      .main-menu-btn span:nth-child(2) {
        top: 12px; }
      .main-menu-btn span:nth-child(3) {
        bottom: 0; }
    .main-menu-btn p {
      position: absolute;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      z-index: 2;
      margin: 0; }
    .main-menu-btn.active span:nth-child(1) {
      top: 50%;
      transform: rotate(45deg); }
    .main-menu-btn.active span:nth-child(2) {
      display: none; }
    .main-menu-btn.active span:nth-child(3) {
      top: 50%;
      transform: rotate(-45deg); }
    .main-menu-btn.active div {
      position: absolute;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      z-index: 2; }
  .logo {
    font-size: 35px; }
    .logo p {
      display: none; }
  .main-menu ul li {
    margin: 0 0 0 12px; }
    .main-menu ul li:first-child {
      margin-left: 0; }
    .main-menu ul li a {
      font-size: 0; }
      .main-menu ul li a svg {
        width: 40px;
        height: auto; }
      .main-menu ul li a span b {
        width: 18px;
        height: 18px;
        font-size: 12px;
        font-weight: 400; }
  .bottom-menu {
    position: absolute;
    width: 100%;
    top: 100%;
    margin: 0;
    left: 0;
    z-index: 10;
    display: none;
    flex-wrap: wrap;
    height: calc(100vh - 100px);
    overflow: auto;
    box-sizing: border-box;
    background: #fff; }
    .bottom-menu.active {
      display: flex; }
    .bottom-menu:after {
      display: none; }
    .bottom-menu > ul {
      flex-wrap: wrap;
      width: 690px;
      margin: 0 auto;
      display: block; }
      .bottom-menu > ul > li {
        width: 100%; }
        .bottom-menu > ul > li:hover > a, .bottom-menu > ul > li.active > a {
          color: #C57B48; }
          .bottom-menu > ul > li:hover > a:after, .bottom-menu > ul > li.active > a:after {
            display: none; }
        .bottom-menu > ul > li > a {
          padding: 0;
          display: flex;
          align-items: center;
          height: 44px; }
          .bottom-menu > ul > li > a.toggle:after {
            content: "";
            width: 12px;
            height: 7px;
            background: url(../images/icons/main-menu-arrow.svg) no-repeat;
            display: block;
            margin: 0 0 0 auto;
            position: static; }
          .bottom-menu > ul > li > a.toggle.active:after {
            transform: rotate(180deg); }
        .bottom-menu > ul > li > .dropdown-menu {
          display: none;
          width: 100%;
          position: relative;
          top: auto;
          left: auto;
          flex-wrap: wrap;
          align-items: stretch;
          padding-bottom: 1px; }
          .bottom-menu > ul > li > .dropdown-menu .dropdown-menu-column {
            width: 48%;
            margin: 0 0 20px 0; }
          .bottom-menu > ul > li > .dropdown-menu .dropdown-menu-preview {
            width: 48%;
            margin: 0 0 20px 0; }
        .bottom-menu > ul > li:hover .dropdown-menu {
          display: none; }
        .bottom-menu > ul > li a.active + .dropdown-menu {
          display: flex; }
    .bottom-menu > .for-md {
      width: 100%;
      overflow: hidden;
      margin: auto 0 0 0; }
    .bottom-menu::-webkit-scrollbar {
      width: 0px;
      height: 0px; }
    .bottom-menu::-webkit-scrollbar-button {
      background-color: #666; }
    .bottom-menu::-webkit-scrollbar-track {
      background-color: #999; }
    .bottom-menu::-webkit-scrollbar-track-piece {
      background-color: #ffffff; }
    .bottom-menu::-webkit-scrollbar-thumb {
      height: 50px;
      background-color: #666;
      border-radius: 3px; }
    .bottom-menu::-webkit-scrollbar-corner {
      background-color: #999; }
    .bottom-menu::-webkit-resizer {
      background-color: #666; }
  .for-md {
    display: block; }
  .no-for-md {
    display: none; }
  .phones {
    margin: 0 30px 0 auto;
    padding-top: 0; }
  .fast-menu {
    width: 690px;
    display: flex;
    position: relative;
    z-index: 1;
    margin: 0  auto;
    align-items: center;
    justify-content: space-between;
    padding: 6px 0 7px 0; }
    .fast-menu a {
      display: flex;
      align-items: center;
      font-size: 18px;
      color: rgba(0, 0, 0, 0.5);
      text-decoration: none;
      height: 39px;
      position: relative; }
      .fast-menu a:before {
        content: "";
        width: 1px;
        height: 39px;
        top: 0;
        right: -45px;
        background: #787676;
        position: absolute; }
      .fast-menu a:last-child:before {
        display: none; }
      .fast-menu a img {
        display: block;
        margin: 0 9px 0 0; }
    .fast-menu:before {
      content: "";
      width: 100vw;
      height: 100%;
      position: absolute;
      top: 0;
      left: 50%;
      margin: 0 0 0 -50vw;
      z-index: -1;
      background: #EFEBEC; }
  .header-banner {
    background: none;
    position: fixed;
    top: 98px;
    width: 100%;
    padding: 0;
    z-index: 10;
    display: none; }
    .header-banner.active {
      display: block; }
    .header-banner .container {
      box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2); }
      .header-banner .container .search-form {
        width: 100%; }
        .header-banner .container .search-form form button {
          display: none; }
        .header-banner .container .search-form form .search-form-close {
          position: absolute;
          top: 50%;
          transform: translate(0, -50%);
          right: 21px;
          cursor: pointer; }
          .header-banner .container .search-form form .search-form-close svg {
            fill: rgba(0, 0, 0, 0.5); }
          .header-banner .container .search-form form .search-form-close:hover svg {
            fill: #C57B48; }
      .header-banner .container .discount-banner {
        display: none; }
  .banners {
    padding: 0;
    width: 690px;
    margin: 30px auto 0 auto;
    grid-template-columns: 390px 280px; }
  .banner-slider .slick-slide {
    min-height: 345px; }
    .banner-slider .slick-slide:after {
      height: 55px; }
    .banner-slider .slick-slide .banner-slider-title {
      font-size: 25px;
      padding: 29px 30px 0 0; }
      .banner-slider .slick-slide .banner-slider-title a span {
        font-size: 30px;
        margin: -5px 0 0 0; }
    .banner-slider .slick-slide .banner-slider-bottom {
      font-size: 30px;
      bottom: 7px;
      right: 30px; }
    .banner-slider .slick-slide a img {
      max-width: none;
      height: 100%; }
  .banner-slider .slick-dots {
    bottom: 20px; }
  .banner .banner-chost {
    font-size: 20px;
    left: 105px;
    top: 20px;
    position: absolute; }
  .banner .banner-title-small {
    font-size: 18px;
    line-height: 1;
    bottom: auto;
    top: 55px; }
    .banner .banner-title-small a {
      bottom: 10px; }
      .banner .banner-title-small a span {
        font-size: 20px;
        line-height: 40px; }
      .banner .banner-title-small a br {
        display: none; }
  .banner a img {
    height: 100%;
    transform: translate(0, -50%);
    left: 0; }
  .banner .banner-bottom {
    width: 100%;
    padding: 0 0 0 0;
    flex-wrap: wrap;
    padding: 0 9px 7px 11px; }
    .banner .banner-bottom .banner-title {
      font-size: 18px;
      line-height: 1;
      margin: 0 0 18px 0; }
      .banner .banner-bottom .banner-title a span {
        font-size: 22px;
        margin: 0; }
    .banner .banner-bottom .btn {
      width: 100%; }
  .products {
    width: 690px;
    margin: 0 auto;
    justify-content: space-between; }
  .product {
    width: calc(50% - 15px);
    margin: 0 0 0 0;
    padding: 0 0 4px 0;
    position: relative;
    z-index: 1; }
    .product:hover {
      box-shadow: none;
      z-index: 2; }
      .product:hover:before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        padding: 10px 10px;
        top: -10px;
        left: -10px;
        box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.15);
        background: #FFF; }
    .product .product-title {
      margin: -3px 0 11px 0; }
      .product .product-title a {
        font-size: 18px;
        margin: 7px 0 0 0; }
    .product .product-img .product-img-for {
      margin: 0 0 17px 0; }
      .product .product-img .product-img-for .slick-slide {
        min-height: 417px; }
    .product .product-img .product-img-nav .slick-list .slick-track .slick-slide {
      width: 25px;
      height: 25px; }
    .product .product-price {
      margin: 11px 0 0 0; }
  .products-slider .product:nth-child(6) ~ .product {
    display: none; }
  .products-slider.active .product:nth-child(6) ~ .product {
    display: block; }
  .show-more.for-md {
    width: 320px;
    height: 55px;
    display: flex;
    margin: 0 auto;
    box-sizing: border-box;
    border: 1px solid #C57B48;
    color: #C57B48;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 700; }
    .show-more.for-md svg {
      fill: #C57B48;
      margin: 0 0 0 13px; }
    .show-more.for-md:hover {
      color: #fff;
      background: #C57B48; }
      .show-more.for-md:hover svg {
        fill: #fff; }
    .show-more.for-md.active {
      display: none; }
  .admissions {
    margin: 48px 0 30px 0;
    grid-gap: 40px 30px; }
  .admission {
    padding: 20px 15px 20px 80px; }
    .admission .admission-description {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 20px 11px 30px; }
      .admission .admission-description .admission-title {
        font-size: 25px; }
        .admission .admission-description .admission-title a span {
          font-size: 35px;
          margin: -3px 0 0 0; }
      .admission .admission-description > img {
        width: 100px;
        left: 10px;
        bottom: 0;
        top: auto;
        right: auto; }
    .admission.small {
      height: 207px; }
      .admission.small .admission-title {
        font-size: 22px; }
  .free-delivery {
    min-height: 123px;
    background-position: left center;
    margin: 30px 0 36px 0; }
    .free-delivery:before {
      content: "";
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.25);
      top: 0;
      left: 0;
      z-index: 0;
      position: absolute; }
    .free-delivery .free-delivery-title {
      font-size: 16px;
      padding: 0 0 0 13px;
      position: relative;
      z-index: 1; }
      .free-delivery .free-delivery-title span {
        font-size: 25px; }
    .free-delivery .delivery-boxes {
      z-index: -1; }
      .free-delivery .delivery-boxes img {
        width: 100px; }
    .free-delivery .btn {
      min-width: 295px;
      position: relative;
      z-index: 1; }
  .mail-form {
    background: none;
    z-index: 0;
    margin: 0 0 -50px 0; }
    .mail-form:before {
      content: "";
      position: absolute;
      z-index: -1;
      background: url(../images/mail-form-bg.jpg) right center no-repeat;
      height: 100%;
      width: 100vw;
      left: 50%;
      margin: 0 0 0 -50vw; }
    .mail-form > img {
      transform: rotate(-130deg);
      left: 0;
      bottom: 0; }
    .mail-form .mail-form-left {
      padding: 15px 0 10px 0; }
      .mail-form .mail-form-left span {
        max-width: 320px; }
    .mail-form .btn {
      margin-top: 10px; }
  footer {
    position: relative;
    z-index: 1;
    margin: 50px 0 0 0;
    padding: 50px 0 0 0; }
    footer > .container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 30px; }
      footer > .container > div {
        display: block; }
    footer .group-column {
      justify-content: flex-start; }
      footer .group-column .footer-column {
        margin: 0 0 19px 0; }
        footer .group-column .footer-column:last-child {
          margin: 0; }
    footer .footer-column .footer-column-title {
      margin: 0 0 15px 0; }
    footer .copyright {
      margin: 32px 0 0 0;
      padding: 0;
      line-height: 1; }
      footer .copyright .container {
        padding: 17px 0 18px 0; }
      footer .copyright .copyright-left {
        max-width: 200px; }
      footer .copyright .copyright-right {
        position: absolute;
        left: 0;
        bottom: 100%;
        margin: 0 0 32px 0; }
      footer .copyright .copyright-middle {
        max-width: 200px; }
  .footer-links a {
    white-space: nowrap; }
  .popular {
    padding: 34px 0 0 0; }
    .popular .popular-title {
      font-size: 25px;
      margin: 0 0 11px 0; }
  .up {
    bottom: 100%;
    top: auto;
    margin: 0 0 21px 0;
    right: 0;
    left: auto; }
  .mobil-phones {
    width: 690px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    padding: 20px 0;
    line-height: 32px;
    display: flex;
    align-items: center; }
    .mobil-phones:before {
      content: "";
      width: 100vw;
      height: 100%;
      background: #808080 url(../images/icons/mobil-phones.png) right 30px center no-repeat;
      position: absolute;
      top: 0;
      left: 50%;
      margin: 0 0 0 -50vw;
      z-index: -1; }
    .mobil-phones div a {
      font-weight: 700;
      color: #fff;
      text-decoration: none;
      margin: 0 0 0 0;
      display: block; }
    .mobil-phones div span {
      margin: 0;
      font-size: 18px;
      color: rgba(255, 255, 255, 0.5); }
    .mobil-phones div:last-child {
      margin: 0 0 0 50px; }
  .cart-preview {
    right: calc(50vw - 360px); } }

@media (max-width: 767px) {
  .container {
    width: auto;
    margin: 0 15px; }
  .wrapper {
    padding: 69px 0 0 0; }
  .bottom-menu > ul {
    width: auto;
    margin: 0 15px; }
  .bottom-menu .fast-menu {
    width: auto;
    margin: 0 15px; }
  .bottom-menu .mobil-phones {
    width: auto;
    margin: 0 15px; }
  header {
    border-bottom: 1px solid #E1E1E1; }
    header .container {
      height: 68px; }
  .phones {
    display: none; }
  .main-menu-btn {
    width: 30px;
    height: 20px;
    margin: 0 15px 0 0; }
    .main-menu-btn span {
      height: 3px; }
      .main-menu-btn span:nth-child(2) {
        top: 8px; }
  .logo {
    font-size: 20px;
    margin: 0 auto 0 0; }
    .logo b {
      font-size: 22px; }
  .main-menu ul li a svg {
    margin: 0;
    width: 26px;
    height: auto; }
  .banners {
    width: auto;
    margin: 20px 15px 0 15px;
    display: block; }
    .banners .banner {
      min-height: 140px;
      margin: 20px 0 20px 0; }
      .banners .banner:last-child {
        min-height: 220px;
        margin-bottom: 0; }
      .banners .banner .banner-chost {
        left: 95px; }
      .banners .banner .banner-title-small {
        left: 95px; }
  .banner-slider .slick-slide {
    min-height: 310px; }
    .banner-slider .slick-slide .banner-slider-title {
      padding: 32px 14px 0 0; }
    .banner-slider .slick-slide .banner-slider-bottom {
      right: 15px; }
  .products {
    width: auto;
    margin: 0 15px;
    padding: 0; }
    .products .product {
      width: 100%; }
  .products-slider .product:nth-child(3) ~ .product {
    display: none; }
  .products-slider .product.active:nth-child(3) ~ .product {
    display: block; }
  .product .product-img .product-img-for .slick-slide {
    height: 127vw;
    max-height: 520px; }
  .admission {
    padding: 15px 12px 8px 8px; }
    .admission .admission-description {
      flex-wrap: wrap;
      padding: 10px 0 5px 5px;
      position: relative;
      z-index: 1; }
      .admission .admission-description .admission-title {
        margin: 0 0 10px 0; }
        .admission .admission-description .admission-title a span {
          font-size: 33px; }
      .admission .admission-description .admission-btn {
        width: calc(100% - 5px); }
        .admission .admission-description .admission-btn .btn {
          min-width: 100%; }
      .admission .admission-description > img {
        z-index: -1;
        left: auto;
        right: 0;
        bottom: -8px;
        height: 110%;
        width: auto; }
    .admission.small {
      grid-column: span 3;
      height: calc(100vw - 30px); }
  .free-delivery {
    display: flex;
    flex-wrap: wrap;
    padding: 0 13px 14px 13px;
    margin: 40px 0; }
    .free-delivery .btn {
      min-width: 100%; }
    .free-delivery .free-delivery-title {
      padding: 20px 0 9px 0; }
      .free-delivery .free-delivery-title span {
        font-size: 21px; }
    .free-delivery .delivery-boxes {
      right: 25px; }
    .free-delivery .left {
      top: 10px;
      left: -20px;
      transform: translate(0); }
  .mail-form {
    flex-wrap: wrap; }
    .mail-form:before {
      background-size: cover; }
    .mail-form .mail-form-left {
      font-size: 20px;
      text-align: center; }
      .mail-form .mail-form-left span {
        font-size: 35px; }
    .mail-form .btn {
      min-width: 100%;
      margin: 0 0 18px 0; }
  footer {
    padding: 0; }
    footer > .container {
      display: block;
      margin: 0; }
    footer .group-column .footer-column {
      margin: 0; }
    footer .footer-column:nth-child(1) {
      max-width: 100%; }
    footer .footer-column .footer-column-title {
      padding: 0 15px 0 15px;
      margin: 0;
      height: 55px;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
      footer .footer-column .footer-column-title:after {
        content: "";
        width: 12px;
        height: 9px;
        background: url(../images/icons/footer-span.svg) no-repeat;
        margin: 0 0 0 auto; }
      footer .footer-column .footer-column-title.active:after {
        transform: rotate(180deg); }
      footer .footer-column .footer-column-title.active + .footer-content {
        display: block; }
    footer .footer-column .footer-content {
      background: #2E2D2D;
      padding: 11px 15px 15px 15px;
      display: none;
      margin: 0; }
    footer .copyright {
      margin: 83px 0 0 0; }
  .bottom-menu {
    height: calc(100vh - 68px); }
    .bottom-menu > ul {
      width: 100%; }
      .bottom-menu > ul > li > .dropdown-menu {
        padding: 14px 15px 17px 15px; }
        .bottom-menu > ul > li > .dropdown-menu .dropdown-menu-column {
          width: 100%; }
    .bottom-menu .fast-menu {
      flex-wrap: wrap;
      padding: 15px 0; }
      .bottom-menu .fast-menu a {
        height: 28px;
        position: relative;
        width: 100%;
        padding: 0 0 0 35px;
        font-size: 14px; }
        .bottom-menu .fast-menu a img {
          position: absolute;
          top: 50%;
          left: 0;
          transform: translate(0, -50%); }
        .bottom-menu .fast-menu a:before {
          display: none; }
    .bottom-menu .mobil-phones {
      flex-wrap: wrap;
      line-height: 20px;
      font-display: 14px; }
      .bottom-menu .mobil-phones div br {
        display: none; }
      .bottom-menu .mobil-phones div:last-child {
        margin: 0; }
  .header-banner {
    top: 68px; }
  .cart-preview {
    width: 100%;
    height: calc(100vh - 68px);
    overflow: auto;
    top: 100%;
    right: 0; } }
