$bg: #33548C;
$bg2: #30A8C4;
$bg3: #2EFFFF;
$bg4: #333333;
$bg5: linear-gradient(180deg, #333333 0%, #33548C 0.01%, #2EFFFF 100%);;
$bg6: #F6FAFF;
$bg7: #E0EEFF;
$grad: linear-gradient(180deg, #33548C 0%, #30A8C4 100%);