$color: #656362;
$colorHover: #C57B48;
$border: #818181;
@media (max-width: 1919px){
	.card{
		width: 1110px;
		margin: 0 auto;
		padding: 0;
		.slider-for{
			width: 534px;
			.slick-slide{
				height: 700px;
			}
		}
		.card-right{
			h1{
				font-size: 26px;
			}
		}
	}
	.big-select{
		.big-select-container{
			flex-wrap: nowrap;
			.big-select-container-left{
				min-width: 63px;
			}
			.presence{
				margin: -10px 0 8px 14px;
			}
		}
		.big-select-dropdown{
			.big-select-container{
				.presence{
					margin: -10px 0 8px 14px;
				}
			}
		}
	}
	.no-for-small-pc{
		display: none;
	}
	.for-small-pc{
		display: block;
		.card-social{
			margin: 20px 0 0 0;
		}
		.card-partners{
			margin: 15px 0 0 0;
		}
	}
}
@media (max-width: 1440px){
	.product{
		.product-title{ 
			a{
				font-size: 18px;
				margin: 0;
			}
		}
	}
}
@media (max-width: 1139px){
	.container{
		width: 690px;
	}
	.wrapper{
		padding: 100px 0 0 0;
	}
	header{
		position: fixed;
		z-index: 10;
		width: 100%;
		top: 0;
		left: 0;
		background: #fff;
		border-bottom: 2px solid #E1E1E1;
		padding: 0;
		.container{
			height: 98px;
			box-sizing: border-box;
			position: static;
		}
	}
	.main-menu-btn{
		width: 44px;
		height: 29px;
		position: relative;
		display: block;
		margin: 0 24px 0 0;
		span{
			display: block;
			position: absolute;
			left: 0;
			width: 100%;
			height: 5px;
			background: #808080;
			cursor: pointer;
			transition: 0.4s;
			&:nth-child(1){
				top: 0;
			}
			&:nth-child(2){
				top: 12px
			}
			&:nth-child(3){
				bottom: 0;
			}
		}
		p{
			position: absolute;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			z-index: 2;
			margin: 0;
		}
		&.active{
			span{
				&:nth-child(1){
					top: 50%;
					transform: rotate(45deg);
				}
				&:nth-child(2){
					display: none;
				}
				&:nth-child(3){
					top: 50%;
					transform: rotate(-45deg);
				}
			}
			div{
				position: absolute;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				z-index: 2;
			}
		}
	}
	.logo{
		font-size: 35px;
		p{
			display: none;
		}
	}
	.main-menu{
		ul{
			li{
				margin: 0 0 0 12px;
				&:first-child{
					margin-left: 0;
				}
				a{
					font-size: 0;
					svg{
						width: 40px;
						height: auto;
					}
					span{
						b{
							width: 18px;
							height: 18px;
							font-size: 12px;
							font-weight: 400;
						}
					}
				}
			}
		}
	}
	.bottom-menu{
		position: absolute;
		width: 100%;
		top: 100%;
		margin: 0;
		left: 0;
		z-index: 10;
		display: none;
		flex-wrap: wrap;
		height: calc(100vh - 100px);
		overflow: auto;
		box-sizing: border-box;
		background: #fff;
		&.active{
			display: flex;
		}
		&:after{
			display: none;
		}
		>ul{
			flex-wrap: wrap;
			width: 690px;
			margin: 0 auto;
			display: block;
			>li{
				width: 100%;
				&:hover,
				&.active{
					>a{
						color: $colorHover;
						&:after{
							display: none;
						}
					}
				}
				>a{
					padding: 0;
					display: flex;
					align-items: center;
					height: 44px;
					&.toggle{
						&:after{
							content: "";
							width: 12px;
							height: 7px;
							background: url(../images/icons/main-menu-arrow.svg) no-repeat;
							display: block;
							margin: 0 0 0 auto;
							position: static;
						}
						&.active:after{
							transform: rotate(180deg);
						}
					}
				}
				>.dropdown-menu{
					display: none;
					width: 100%;
					position: relative;
					top: auto;
					left: auto;
					flex-wrap: wrap;
					align-items: stretch;
					padding-bottom: 1px;
					.dropdown-menu-column{
						width: 48%;
						margin: 0 0 20px 0;
					}
					.dropdown-menu-preview{
						width: 48%;
						margin: 0 0 20px 0;
					}
				}
				&:hover{
					.dropdown-menu{
						display: none;
					}
				}
				a.active + .dropdown-menu{
					display: flex;
				}
			}
		}
		>.for-md{
			width: 100%;
			overflow: hidden;
			margin: auto 0 0 0;
		}
		&::-webkit-scrollbar { width: 0px; height: 0px;}
		&::-webkit-scrollbar-button {  background-color: #666; }
		&::-webkit-scrollbar-track {  background-color: #999;}
		&::-webkit-scrollbar-track-piece { background-color: #ffffff;}
		&::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
		&::-webkit-scrollbar-corner { background-color: #999;}
		&::-webkit-resizer { background-color: #666;}
	}
	.for-md{
		display: block;
	}
	.no-for-md{
		display: none;
	}
	.phones{
		margin: 0 30px 0 auto;
		padding-top: 0;
	}
	.fast-menu{
		width: 690px;
		display: flex;
		position: relative;
		z-index: 1;
		margin: 0  auto;
		align-items: center;
		justify-content: space-between;
		padding: 6px 0 7px 0;
		a{
			display: flex;
			align-items: center;
			font-size: 18px;
			color: rgba(0, 0, 0, 0.5);
			text-decoration: none;
			height: 39px;
			position: relative;
			&:before{
				content: "";
				width: 1px;
				height: 39px;
				top: 0;
				right: -45px;
				background: #787676;
				position: absolute;
			}
			&:last-child:before{
				display: none;
			}
			img{
				display: block;
				margin: 0 9px 0 0;
			}
		}
		&:before{
			content: "";
			width: 100vw;
			height: 100%;
			position: absolute;
			top: 0;
			left: 50%;
			margin: 0 0 0 -50vw;
			z-index: -1;
			background: #EFEBEC;
		}
	}
	.header-banner{
		background: none;
		position: fixed;
		top: 98px;
		width: 100%;
		padding: 0;
		z-index: 10;
		display: none;
		&.active{
			display: block;
		}
		.container{
			box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
			.search-form{
				width: 100%;
				form{
					button{
						display: none;
					}
					.search-form-close{
						position: absolute;
						top: 50%;
						transform: translate(0,-50%);
						right: 21px;
						cursor: pointer;
						svg{
							fill: rgba(0,0,0,0.5);
						}
						&:hover{
							svg{
								fill: $colorHover;
							}
						}
					}
				}
			}
			.discount-banner{
				display: none;
			}
		}
	}
	.banners{
		padding: 0;
		width: 690px;
		margin: 30px auto 0 auto;
		grid-template-columns: 390px 280px; 
	}
	.banner-slider{
		.slick-slide{
			min-height: 345px;
			&:after{
				height: 55px;
			}
			.banner-slider-title{
				font-size: 25px;
				padding: 29px 30px 0 0;
				a{
					span{
						font-size: 30px;
						margin: -5px 0 0 0;
					}
				}
			}
			.banner-slider-bottom{
				font-size: 30px;
				bottom: 7px;
				right: 30px;
			}
			a{
				img{
					max-width: none;
					height: 100%;
				}
			}
		}
		.slick-dots{
			bottom: 20px;
		}
	}
	.banner{
		.banner-chost{
			font-size: 20px;
			left: 105px;
			top: 20px;
			position: absolute;
		}
		.banner-title-small{
			font-size: 18px;
			line-height: 1;
			bottom: auto;
			top: 55px;
			a{
				bottom: 10px;
				span{
					font-size: 20px;
					line-height: 40px;
				}
				br{
					display: none;
				}
			}
		}
		a{
			img{
				height: 100%;
			}
		}
		.banner-bottom{
			width: 100%;
			padding: 0 0 0 0;
			flex-wrap: wrap;
			padding: 0 9px 7px 11px;
			.banner-title{
				font-size: 18px;
				line-height: 1;
				margin: 0 0 18px 0;
				a{
					span{
						font-size: 22px;
						margin: 0;
					}
				}
			}
			.btn{
				width: 100%;
			}
		}
	}
	.products{
		width: 690px;
		margin: 0 auto;
		justify-content: space-between;
	}
	.product{
		width: calc(50% - 15px);
		margin: 0 0 0 0;
		padding: 0 0 4px 0;
		position: relative;
		z-index: 1;
		&:hover{
			box-shadow: none;
			z-index: 2;
			&:before{
				content: "";
				width: 100%;
				height: 100%;
				position: absolute;
				z-index: -1;
				padding: 10px 10px;
				top: -10px;
				left: -10px;
				box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.15);
				background: #FFF;
			}
		}
		.product-title{
			margin: -3px 0 11px 0;
			a{
				font-size: 18px;
				margin: 7px 0 0 0;
			}
		}
		.product-img{
			.product-img-for{
				margin: 0 0 17px 0;
				.slick-slide{
					min-height: 417px;
				}
			}
			.product-img-nav{
				.slick-list{
					.slick-track{
						.slick-slide{
							width: 25px;
							height: 25px;
						}
					}
				}
			}
		}
		.product-price{
			margin: 11px 0 0 0;
		}
	}
	.products-slider{
		.product:nth-child(6) ~ .product{
			display: none;
		}
		&.active{
			.product:nth-child(6) ~ .product{
				display: block;
			}
		}
	}
	.show-more.for-md{
		width: 320px;
		height: 55px;
		display: flex;
		margin: 0 auto;
		box-sizing: border-box;
		border: 1px solid $colorHover;
		color: $colorHover;
		align-items: center;
		justify-content: center;
		font-size: 18px;
		font-weight: 700;
		svg{
			fill: $colorHover;
			margin: 0 0 0 13px;
		}
		&:hover{
			color: #fff;
			background: $colorHover;
			svg{
				fill: #fff;
			}
		}
		&.active{
			display: none;
		}
	}
	.admissions{
		margin: 48px 0 30px 0;
		grid-gap: 40px 30px;
	}
	.admission{
		padding: 20px 15px 20px 80px;
		.admission-description{
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 15px 20px 11px 30px;
			.admission-title{
				font-size: 25px;
				a{
					span{
						font-size: 35px;
						margin: -3px 0 0 0;
					}
				}
			}
			> img{
				width: 100px;
				left: 10px;
				bottom: 0;
				top: auto;
				right: auto;
			}
		}
		&.small{
			height: 207px;
			.admission-title{
				font-size: 22px;
				a{}
			}
		}
	}
	.free-delivery{
		min-height: 123px;
		background-position: left center;
		margin: 30px 0 36px 0;
		&:before{
			content: "";
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.25);
			top: 0;
			left: 0;
			z-index: 0;
			position: absolute;
		}
		.free-delivery-title{
			font-size: 16px;
			padding: 0 0 0 13px;
			position: relative;
			z-index: 1;
			span{
				font-size: 25px;
			}
		}
		.delivery-boxes{
			z-index: -1;
			img{
				width: 100px;
			}
		}
		.btn{
			min-width: 295px;
			position: relative;
			z-index: 1;
		}
	}
	.mail-form{
		background: none;
		z-index: 0;
		margin: 0 0 -50px 0;
		&:before{
			content: "";
			position: absolute;
			z-index: -1;
			background: url(../images/mail-form-bg.jpg) right center no-repeat;
			height: 100%;
			width: 100vw;
			left: 50%;
			margin: 0 0 0 -50vw;
		}
		> img{
			transform: rotate(-130deg);
			left: 0;
			bottom: 0;
		}
		.mail-form-left{
			padding: 15px 0 10px 0;
			span{
				max-width: 320px;
			} 
		}
		.btn{
			margin-top: 10px;
		}
	}
	footer{
		position: relative;
		z-index: 1;
		margin: 50px 0 0 0;
		padding: 50px 0 0 0;
		>.container{
			display: grid;
			grid-template-columns:  1fr 1fr 1fr 1fr;
			grid-gap: 30px;
			>div{
				display: block;
			}
		}
		.group-column{
			justify-content: flex-start;
			.footer-column{
				margin: 0 0 19px 0;
				&:last-child{
					margin: 0;
				}
			}
		}
		.footer-column{
			.footer-column-title{
				margin: 0 0 15px 0;
			}
		}
		.copyright{
			margin: 32px 0 0 0;
			padding: 0;
			line-height: 1;
			.container{
				padding: 17px 0 18px 0;
			}
			.copyright-left{
				max-width: 200px;
			}
			.copyright-right{
				position: absolute;
				left: 0;
				bottom: 100%;
				margin: 0 0 32px 0;
			}
			.copyright-middle{
				max-width: 200px;
			}
		}
	}
	.footer-links{
		a{
			white-space: nowrap;
		}
	}
	.popular{
		padding: 34px 0 0 0;
		.popular-title{
			font-size: 25px;
			margin: 0 0 11px 0;
		}
	}
	.up{
		bottom: 100%;
		top: auto;
		margin: 0 0 21px 0;
		right: 0;
		left: auto;
	}
	.mobil-phones{
		width: 690px;
		margin: 0 auto;
		position: relative;
		z-index: 1;
		padding: 20px 0;
		line-height: 32px;
		display: flex;
		align-items: center;
		&:before{
			content: "";
			width: 100vw;
			height: 100%;
			background: #808080 url(../images/icons/mobil-phones.png) right 30px center no-repeat;
			position: absolute;
			top: 0;
			left: 50%;
			margin: 0 0 0 -50vw;
			z-index: -1;
		}
		div{
			a{
				font-weight: 700;
				color: #fff;
				text-decoration: none;
				margin: 0 0 0 0;
				display: block;
			}
			span{
				margin: 0;
				font-size: 18px;
				color: rgba(255,255,255,0.5);
			}
			&:last-child{
				margin: 0 0 0 50px;
			}
		}
	}
	.cart-preview{
		right: calc(50vw - 360px);
	}
	.breadcrumbs{
		margin: 26px 0 27px 0;
		letter-spacing: 0;
	}
	.personal-cabinet{
		h1{
			font-size: 25px;
			margin: 0 0 19px 0;
		}
	}
	.personal-cabinet-left{
		width: 210px;
		ul{
			li{
				a{
					padding: 0 0 0 11px;
					span{
						margin: 0 15px 0 0;
					}
				}
			}
		}
	}
	.personal-cabinet-right{
		width: 450px;
		button{
			min-width: 336px;
		}
	}
	.MySubscribesBtns{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		margin: 34px 0 0 0;
		a{
			min-width: 210px;
			margin: 0;
		}
	}
	.sales{
		margin: 22px 0 73px 0;
	}
	.salesProgress{
		.salesProgressLine{
			height: 10px;
			.procent{
				margin: 0 0 -1px 0;
				span{
					padding: 0 0 15px 0;
				}
			}
		}
	}
	.salesProgressDescription{
		margin: 30px 0 0 0;
		p{
			margin: 0 0 17px 0;
		}
	}
	.CartArea{
		margin: 0;
		h1{
			font-size: 25px;
		}
		>a{
			margin: 0 0 0 auto;
		}
	}
	.CartArea-top{
		margin: 0 0 11px 0;
		>a{
			margin-top: 0;
		}
	}
	.CartTableProduct{ 
		padding: 13px 12px 11px 12px;
		position: relative;
		.CartTableProductImg{
			height: auto;
			align-self: stretch;
			min-height: 107px;
		}
		.CartTableProductDesc{ 
			flex: auto;
			max-width: calc(53% - 70px);
			padding: 0 0 0 15px;
			.CartTableProductTop{ 
				.CartTableProductDiscounts{ 
					div{ 
						font-size: 12px;
						line-height: 10px;
						margin: 0 0 5px 0;
						span{
							width: 51px;
							height: 22px;
							font-size: 14px;
							align-items: flex-end;
						}
					}
				}
				.CartTableProductTitle{
					margin: 0 0 3px 0;
				}
			}
			.CartTableProductBottom{
				.CartTableProductColor{
					margin: 0 10px 0 0;
				}
				.jq-selectbox{
					.jq-selectbox__select{
						min-height: 30px;
						padding: 0 21px 0 5px;
					}
				}
			}
		}
		.CartTableProductPrice{
			flex: auto;
			max-width: 11%;
			flex-wrap: wrap;
			white-space: nowrap;
			text-align: center;
			span{
				margin: auto 0 0 0;
			}
			b{
				width: 100%;
				margin: 10px 0 auto 0;
			}
		}
		.CartTableProductQuentity{
			flex: auto;
			max-width: 16%;
		}
		.CartTableProductLike{
			flex: auto;
		}
		.CartTableProductTotal{
			padding: 0 0 0 0;
			position: static;
			a{
				top: 10px;
				transform: translate(0);
				right: 7px;
				svg{
					width: 10px;
				}
			}
		}
	}
	.ui-spinner{
		width: 71px;
	}
	.coupon{
		flex: 0 0 329px;
		.coupon-bottom{
			form{
				input{
					flex: 0 0 calc(55%);
				}
				button{
					flex: 0 0 45%;
				}
			}
		}
	}
	.CartTotal{
		flex: 0 0 263px;
		.CartTotalDesc{
			white-space: nowrap;
			> div{
				flex-wrap: nowrap;
				> div{
					flex: 0 0 115px;
				}
			}
		}
		.CartTotalBtns{
			a{
				min-width: 100%;
				margin: 0 0 26px 0;
			}
		}
	}
	.checkout{
		> h1{
			font-size: 25px;
			margin: 0 0 27px 0;
		}
		.checkout-left{
			width: 319px;
			.checkout-left-title{
				margin: 0 0 10px 0;
			}
		}
		.checkout-right{
			width: 330px;
			.cart-preview{
				margin: 57px 0 0 0;
				.cart-preview-title{
					padding: 22px 15px 18px 12px;
				}
				.cart-preview-content{
					padding: 21px 0 9px 0;
				}
				.cart-preview-product{
					.cart-preview-product-descr{
						padding: 0 0 0 11px;
						.cart-preview-product-size{
							> b{
								margin: 0 30px 0 0;
							}
						}
					}
					.cart-preview-product-img{
						min-width: 100px;
					}
				}
			}
		}
	}
	.delivery{
		h1{
			font-size: 25px;
			margin: 4px 0 17px 0;
		}
		.delivery-block{
			padding: 10px 9px 15px 0;
			max-width: 320px;
			margin: 0 0 30px 0;
			>img{
				top: 15px;
			}
			.delivery-block-title{
				padding: 0 0 0 67px;
				align-items: flex-start;
			}
			.delivery-block-text{
				margin: 0 0 0 0;
				padding: 0 0 0 18px;
				p{
					padding: 0;
					margin: 0;
				}
			}
		}
		h2{
			font-size: 25px;
			margin: 20px 0 13px 0;
		}
	}
	.about-us{
		h1{
			margin: 31px 0 0 0;
			font-size: 25px;
		}
		.about-us-title{
			max-width: 480px;
			margin: 0 auto;
		}
	}
	.about-us-description{
		margin: 29px 0 0px 0;
		align-items: flex-start;
		padding: 32px 0 0 0;
		&:before{
			left: 0;
			right: 0;
		}
		.about-us-block{
			display: flex;
			flex-wrap: wrap;
			padding: 0;
			&:nth-child(2n){
				max-width: 270px;
			}
			>img{
				display: block;
				position: static;
				transform: translate(0);
			}
			.about-us-block-text{
				width: calc(100% - 80px);
				margin: 0 0 0 auto;
			}
			.about-us-block-content{
				margin: 33px 0 0 0;
			}
		}
	}
	.about-bottom{
		margin: 23px 0 0 0;
		.about-bottom-img{
			height: 270px;
			overflow: hidden;
			margin: 0 0 38px 0;
			.about-bottom-img-description{
				padding: 5px 0 7px 15px;
				bottom: 20px;
				div{
					font-size: 30px;
				}
			}
		}
	}
	.about-bottom-content{
		.about-bottom-block{
			padding: 0 0 0 75px;
			margin: 0 0 26px 0;
			> img{
				left: 0;
				margin: 0 0;
			}
			&.fluid{
				display: flex;
				justify-content: center;
				text-align: left;
				align-items: center;
				padding: 0;
				>img{
					margin: 0 20px 0 0;
				}
				p{
					max-width: 220px;
					text-align: left;
				}
			}
		}
	}
	.about-us{
		display: flex;
		flex-wrap: wrap;
		h1{
			width: 100%;
			margin: 4px 0 0 0;
		}
	}
	.about-us-sale-title{
		width: 100%;
		margin: 0px 0 11px 0;
	}
	.about-us-sale{
		padding: 23px 0 0 0;
		.about-us-sale-text{
			max-width: 523px;
			br{
				display: none;
			}
		}
	}
	.about-us-sale-table{
		width: calc(50% - 15px);
		&:after{
			left: 67px;
		}
		.about-us-sale-table-th{
			font-size: 14px;
			span{
				margin: 0 28px 0 19px;
			}
		}
		.about-us-sale-table-tr{
			> div{
				padding: 8px 0;
				font-size: 14px;
				&:nth-child(1){
					flex: 0 0 54px;
					margin: 0 14px 0 0;
				}
				&:nth-child(2){
					padding-left: 9px
				}
			}
		}
	}
	.BasicProvisions{
		width: calc(50% - 16px);
		margin: 32px 0 0 auto;
		.BasicProvisions-text{
			p{
				margin: 0 0 7px 0;
			}
		}
	}
	.thank{
		h1{
			font-size: 25px;
		}
		.thank-left{
			max-width: 173px;
			.thank-left-title{
				margin: 0;
				font-size: 35px;
			}
			p{
				margin: 0;
				font-size: 9px;
			}
		}
		.child{
			height: 380px;
			img{
				width: 376px;
				left: -65px;
			}
		}
		.thank-right{
			width: 517px;
			height: 513px;
			.thank-right-content{
				.thank-right-title{
					margin: 0 0 20px 0;
					p{
						&:last-child{
							max-width: 420px;
							margin: 30px auto 0 auto;
						}
					}
				}
			}
		}
	}
	.small-products{
		.product{
			width: 225px;
			margin: 0 0 10px 0;
			&:nth-child(3n){
				margin: 0 0 10px 0;
			}
			&:nth-child(2n){
				margin-right: 0;
			}
			&:hover{
				&:before{
					display: none;
				}
				box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.15);
			}
			.product-img{
				.product-img-for{
					.slick-slide{
						min-height: 283px;
					}
					.slick-arrow{
						min-width: 0;
					}
				}
			}
		}
	}
	.popup{
		&.popup_favourites{
			width: 300px;
		}
	}
	.popup_favourites-content{
		width: auto;
		margin: 0 10px;
	}
	.catalog{
		margin: 0 0 23px 0;
		.catalog-top{
			h1{
				font-size: 25px;
			}
			>a{
				display: none;
			}
		}
		.catalog-bottom{
			flex-wrap: wrap;
			.spec-select{
				margin: 0 1px 14px 0;
				flex-grow: 0;
			}
			> button{
				align-self: flex-start;
				margin: 0;
			}
		}
	}
	.catalog-description{
		padding: 37px 0 0 0;
   		margin: 40px 0 0 0;
		h2{
			font-size: 30px;
			line-height: 35px;
			margin: 0 0 30px 0;
		}
		p{
			margin: 0 0 27px 0;
		}
	}
	.card{
		width: 690px;
		.card-left{
			width: 280px;
			.sliders{
				display: none;
				&.active{
					display: block;
				}
			}
			.slick-slide{
				height: 460px;
			}
		}
		.slider-for{
			width: 100%;
		} 
		.slider-nav{
			width: 100%;
			.slick-track{
				display: flex;
				.slick-slide{
					display: flex;
					align-items: flex-end;
					width: 86px;
					height: 108px;
					margin: 10px 15px 0 0;
				}
			}
		}
	}
	.card-partners{
		grid-template-columns: 1fr 1fr;
		grid-gap: 17px 26px;
	}
	.card-rating{
		img{
			width: 16px;
		}
	}
	.card{
		margin-top: -12px;
		margin-bottom: 42px;
		.card-right{
			margin: 0 0 0 22px;
			h1{
				font-size: 24px;
				line-height: 30px;
				margin: 5px 0 14px 0;
			}
		}
	}
	.card-un-nav-title{
		margin: 10px 0 14px 0;
	}
	.big-select-pre-title{
		margin: 17px 0 7px 0;
	}
	.big-select{
		.big-select-container{
			&.work{
				.presence{
					display: none;
				}
			}
		}
	}
	.card-quantity{
		.card-quantity-title{
			margin: 24px 0 12px 0;
		}
		.ui-spinner{
			width: 160px;
			height: 40px !important;
			.ui-spinner-button{
				width: 37px;
			}
		}
	}
	.sizes-btn{
		margin: 19px 0 10px 0;
	}
	.card-description{
		.card-description-title{
			margin: 0 0 12px 0;
		}
	}
	.card-btns{
		margin: 26px 0 0 0;
		.card-btns-first{
			height: 55px;
			font-size: 18px;
		}
		.card-btns-like{
			height: 55px;
		}
		.card-btns-fluid{
			height: 55px;
			font-size: 18px;
		}
	}
	.for-small-pc{
		.card-social{
			margin: 51px 0 0 0;
		}
		.card-partners{
			margin: 20px 0 0 0;
			a{
				height: 39px;
				img{
					max-height: 90%;
				}
			}
		}
	}
	.annex{
		border-top: 1px solid rgba(129, 129, 129, 0.1);
		margin: 0;
		.annex-title{
			font-size: 25px;
			margin: 33px 0 0 0;
		}
	}
	.annex-slider{
		.slick-list{
			.product{
				width: 330px;
				margin: 0 30px 0 0;
				.product-img{
					.product-img-for{
						.slick-slide{
							height: 417px;
						}
					}
					.product-img-nav{
						margin: 17px 0 0 0;
						.slick-list{
							.slick-track{
								.slick-slide{
									width: 25px;
									height: 25px;
								}
							}
						}
					}
				}
				.product-title{
					span{
						font-size: 20px;
						margin: 12px 0 7px 0;
					}
					a{
						font-size: 17px;
						line-height: normal;
					}
				}
				.product-price{
					font-size: 28px;
					b{
						font-size: 18px;
					}
				}
			}
		}
	}
	.feedback{
		.feedback-top{
			.feedback-name{
				p{
					font-size: 12px;
				}
			}
		}
	}
	.sizes{
		margin: 0 10px 20px;
		.sizes-title{
			font-size: 20px;
			text-align: left;
			justify-content: flex-start;
			margin: 20px 0;
			img{
				width: 22px;
			}
		}
	}
	.sizes-table{
		.sizes-th{
			position: relative;
			min-width: 250px;
			&:after{
				content: "";
				width: 100%;
				top: 0;
				bottom: 15px;
				position: absolute;
				box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
			}
		}
		.sizes-td{
			overflow: auto;
			.tr{
				min-width: 764px;
			}
			&::-webkit-scrollbar { width: 15px; height: 15px;}
			&::-webkit-scrollbar-button {
				background: url(../images/icons/horiz-scroll-left.svg) center center no-repeat;
				height: 15px;
				border: 1px solid #E1E1E1;
				box-sizing: border-box;
				&:end{
					background: url(../images/icons/horiz-scroll-right.svg) center center no-repeat;
				}
			}
			&::-webkit-scrollbar-track-piece { background-color: #EFEBEC;}
			&::-webkit-scrollbar-thumb {background-color: $colorHover;}
		}
	}
	.sizes-preview{
		flex-wrap: wrap;
		.sizes-preview-block{
			display: flex;
			flex-wrap: wrap;
			.sizes-preview-block-title{
				width: 100%;
				padding: 0;
				order: 2;
			}
			.sizes-preview-block-img{
				width: 100%;
				order: 1;
				text-align: center;
			}
			&:nth-child(1){
				width: 295px;
				order: 1;
			}
			&:nth-child(2){
				width: 100%;
				order: 3;
				margin-top: 30px;
			}
			&:nth-child(3){
				width: 295px;
				order: 2;
			}
			&:before{
				display: none;
			}
		}
		&:before{
			display: none;
		}
	}
	.popup#fav{
		width: 690px;
	}
	.fav{
		.fav-left{
			order: 2;
			width: 200px;
			min-width: 200px;
			border: 0;
			&:after{
				width: 297px;
				height: 192px;
				background: url(../images/fav-md.svg) no-repeat;
				top: 31px;
				right: 95px;
			}
		}
		.fav-right{
			order: 1;
			position: relative;
			z-index: 2;
			.fav-right-title{
				font-size: 16px;
				line-height: 20px;
			}
			form{
				margin: 40px 0;
			}
			.fav-bottom{
				width: 100%;
				flex-wrap: wrap;
				.fav-bottom-left{
					width: 100%;
					text-align: center;
					font-size: 16px;
				}
				.fav-bottom-right{
					font-size: 16px;
					width: 100%;
					text-align: center;
					padding: 20px 0 0 0;
					a{
						margin: 0 0 0 20px;
					}
				}
			}
		}
	}	
	.popup{
		&.product_popup{
			width: 690px;
		}
	}
	.product_popup-in{
		.product_popup-left{
			width: 287px;
		}
		.product_popup-in-right{
			margin: 0 0 0 14px;
			h1{
				font-size: 24px;
				line-height: 30px;
			}
			.card-btns{
				.card-btns-first{
					min-width: 200px;
				}
			}
		}
		.product_popup-slider{
			width: 287px;
			.slick-slide{
				min-height: 459px;
			}
		}
		.big-select{
			.big-select-container{
				.big-select-container-text{
					width: 180px;
				}
			}
		}
	}
	.popup#attention{
		width: 700px;
	}
	.attention{
		&:after{
			width: 180px;
			background-position: -290px center;
			background-size: cover;
		}
		.attention-left{
			width: 370px;
		}
		.attention-img{
			height: 476px;
			right: 10px;
			&:after{
				top: -155px;
			}
			img{
				max-height: 100%;
			}
		}
	}
	.yk_aboutUs{
		padding: 35px 0 0 0;
		.yk_aboutUs-block{
			max-width: 330px;
			.yk_aboutUs-block-title{
				font-size: 25px;
			}
			.yk_aboutUs-content{
				text-align: center;
				padding: 20px 20px 20px 20px;
				>img{
					margin: 0 20px 0 0;
				}
			}
		}
	}
	.yk_aboutUs-icons{
		flex-wrap: wrap;
		margin: 0 0 -15px 0;
		.yk_aboutUs-icon-block{
			width: 28%;
			margin: 0 0 15px 0;
			line-height: 17px;
		}
	}
	.yk_delivery{
		margin: 35px 0 0 0;
		.yk_delivery-block{
			max-width: 330px;
			margin: 0 0 30px 0;
			.yk_delivery-block-title{
				font-size: 25px;
				margin: 0 0 15px 0;
			}
			.yk_delivery-content{
				padding-bottom: 15px;
				.yk_delivery-content-title{
					padding: 0 15px 0 69px;
				}
				.yk_delivery-content-text{
					padding-left: 9px;
					p{
						br{
							display: none;
						}
					}
					.center{
						br{
							display: none;
						}
						padding: 20px 0 0 0;
						display: flex;
						justify-content: center;
						align-items: center;
						img{
							margin: 0 4px;
						}
					}
				}
			}
		}
	}
	.yk_delivery .yk_delivery-block .yk_delivery-title{
		font-size: 25px;
		min-height: 25px;
		margin: 0 0 15px 0;
	}
	.products-slider{
		padding: 0;
	}
	.product .product-img .product-img-for img{
		max-height: 95%;
	}
	.main-menu{
		ul{
			li{
				&.for-fix{
					display: block;
				}
			}
		}
	}
	.container.products{
		.product{
			width: 47%;
			margin: 0 0 20px 0;
		}
	}
}
@media (max-width: 767px){
	.container{
		width: auto;
		margin: 0 15px;
	}
	.wrapper{
		padding: 69px 0 0 0;
	}
	.bottom-menu{
		> ul{
			width: auto;
			margin: 0 15px;
		}
		.fast-menu{
			width: auto;
			margin: 0 15px;
		}
		.mobil-phones{
			width: auto;
			margin: 0 15px;
		}
	}
	header{
		.container{
			height: 68px;
		}
		border-bottom: 1px solid #E1E1E1;
	}
	.phones{
		display: none;
	}
	.main-menu-btn{
		width: 30px;
		height: 20px;
		margin: 0 15px 0 0;
		span{
			height: 3px;
			&:nth-child(2){
				top: 8px;
			}
		}
	}
	.logo{
		font-size: 20px;
		margin: 0 auto 0 0;
		b{
			font-size: 22px;
		}
	}
	.main-menu{
		ul{
			li{
				a{
					svg{
						margin: 0;
						width: 26px;
						height: auto;
					}
				}
			}
		}
	}
	.banners{
		width: auto;
		margin: 20px 15px 0 15px;
		display: block;
		.banner{
			min-height: 140px;
			margin: 20px 0 20px 0;
			&:last-child{
				min-height: 220px;
				margin-bottom: 0;
			}
			.banner-chost{
				left: 95px;
			}
			.banner-title-small{
				left: 95px;
			}
		}
	}
	.banner-slider{
		.slick-slide{
			min-height: 310px;
			.banner-slider-title{
				padding: 32px 14px 0 0;
			}
			.banner-slider-bottom{
				right: 15px;
			}
		}
	}
	.products{
		width: auto;
		margin: 0 15px;
		padding: 0;
		.product{
			width: 100%;
		}
		&.double{
			.product{
				width: calc(50% - 10px);
				.product-img{
					.product-img-for{
						.slick-slide{
							height: 183px;
							min-height: 183px;
						}
						.like{
							width: 24px;
							height: 20px;
							top: 10px;
							right: 5px;
							bottom: auto;
							left: auto;
						}
					}
					.product-img-nav{
						display: none;
					}
				}
				.product-price{
					font-size: 22px;
					b{
						font-size: 14px;
					}
				}
				.product-left-bottom{
					min-width: 54px;
					> span{
						font-size: 14px;
						padding: 1px 0;
						margin: 0 0 3px 0;
						&:last-child{
							margin: 0;
						}
					}
				}
				.product-title{
					text-align: left;
					span{
						display: none;
					}
					a{
						font-size: 14px;
					}
				}
				.product-btn{
					font-size: 14px;
					svg{
						width: 18px;
					}
				}
			}
		}
	}
	.products-slider{
		.product{
			&:nth-child(3) ~ .product{
				display: none;
			}
			&.active:nth-child(3) ~ .product{
				display: block;
			}
		}
	}
	.product{
		.product-img{
			.product-img-for{
				.slick-slide{
					height: 127vw;
					max-height: 520px;
				}
			}
		}
	}
	.admission{
		padding: 15px 12px 8px 8px;
		.admission-description{
			flex-wrap: wrap;
			padding: 10px 0 5px 5px;
			position: relative;
			z-index: 1;
			.admission-title{
				margin: 0 0 10px 0;
				a{
					span{
						font-size: 33px;
					}
				}
			}
			.admission-btn{
				width: calc(100% - 5px);
				.btn{
					min-width: 100%;
				}
			}
			> img{
				z-index: -1;
				left: auto;
				right: 0;
				bottom: -8px;
				height: 110%;
				width: auto;
			}
		}
		&.small{
			grid-column: span 3;
			height: calc(100vw - 30px);
		}
	}
	.free-delivery{
		display: flex;
		flex-wrap: wrap;
		padding: 0 13px 14px 13px;
		margin: 40px 0;
		.btn{
			min-width: 100%;
		}
		.free-delivery-title{
			padding: 20px 0 9px 0;
			span{
				font-size: 21px;
			}
		}
		.delivery-boxes{
			right: 25px;
		}
		.left{
			top: 10px;
			left: -20px;
			transform: translate(0);
		}
	}
	.mail-form{
		flex-wrap: wrap;
		&:before{
			background-size: cover;
		}
		.mail-form-left{
			font-size: 20px;
			text-align: center;
			span{
				font-size: 35px;
			}
		}
		.btn{
			min-width: 100%;
			margin: 0 0 18px 0;
		}
	}
	footer{
		padding: 0;
		> .container{
			display: block;
			margin: 0;
		}
		.group-column{
			.footer-column{
				margin: 0;
			}
		}
		.footer-column{
			&:nth-child(1){
				max-width: 100%;
			}
			.footer-column-title{
				padding: 0 15px 0 15px;
				margin: 0;
				height: 55px;
				display: flex;
				align-items: center;
				box-sizing: border-box;
				border-bottom: 1px solid rgba(255, 255, 255, 0.3);
				&:after{
					content: "";
					width: 12px;
					height: 9px;
					background: url(../images/icons/footer-span.svg) no-repeat;
					margin: 0 0 0 auto;
				}
				&.active{
					&:after{
						transform: rotate(180deg);
					}
					+ .footer-content{
						display: block;
					}
				}
			}
			.footer-content{
				background: #2E2D2D;
				padding: 11px 15px 15px 15px;
				display: none;
				margin: 0;
			}
		}
		.copyright{
			margin: 83px 0 0 0;
		}
	}
	.bottom-menu{
		height: calc(100vh - 68px);
		> ul{ 
			width: 100%;
			> li{ 
				> .dropdown-menu {
					padding: 14px 15px 17px 15px;
					.dropdown-menu-column{
						width: 100%;
					}
				}
			}
		}
		.fast-menu{
			flex-wrap: wrap;
			padding: 15px 0;
			a{
				height: 28px;
				position: relative;
				width: 100%;
				padding: 0 0 0 35px;
				font-size: 14px;
				img{
					position: absolute;
					top: 50%;
					left: 0;
					transform: translate(0,-50%);
				}
				&:before{
					display: none;
				}
			}
		}
		.mobil-phones{
			flex-wrap: wrap;
			line-height: 20px;
			font-display: 14px;
			div{
				br{
					display: none;
				}
				&:last-child{
					margin: 0;
				}
			}
		}
	}
	.header-banner{
		top: 68px;
	}
	.cart-preview{
		width: 100%;
		height: calc(100vh - 68px);
		overflow: auto;
		top: 100%;
		right: 0;
	}
	.for-xs{
		display: block;
	}
	.personal-cabinet-btn{
		display: flex;
		align-items: center;
		height: 55px;
		font-size: 16px;
		font-weight: 700;
		color: #fff;
		border: 1px solid #E1E1E1;
		background: $colorHover;
		text-transform: uppercase;
		width: 100%;
		box-sizing: border-box;
		padding: 0 0 0 20px;
		position: relative;
		margin: 0 0 0 0;
		&:after{
			content: "";
			background: url(../images/icons/pcbtn.svg) no-repeat;
			width: 12px;
			height: 7px;
			display: block;
			position: absolute;
			top: 50%;
			transform: translate(0,-50%);
			right: 14px;
		}
		&.active{
			&:after{
				transform: rotate(180deg);
			}
		}
		span{
			display: flex;
			align-items: center;
			justify-content: center;
			width: 34px;
			height: 34px;
			border: 1px solid #fff;
			border-radius: 50%;
			box-sizing: border-box;
			margin: 0 18px 0 0;
			svg{
				display: block;
				fill: #fff;
			}
		}
	}
	.personal-cabinet-left{
		width: 100%;
		position: relative;
		margin: 0;
		ul{
			display: none;
			background: #fff;
			z-index: 9;
			&.active{
				width: 100%;
				position: absolute;
				top: 0;
				left: 0;
				display: block;
			}
			li{
				a{
					padding-left: 21px;
				}
				&.active{
					display: none;
				}
			}
		}
	}
	.personal-cabinet-right{
		width: 100%;
		margin: 25px 0 0 0;
		button{
			min-width: 100%;
		}
	}
	.breadcrumbs{
		letter-spacing: -0.03em;
	}
	.MySubscribesBtns{
		margin: 20px 0 0 0;
		a{
			min-width: 100%;
			margin: 0 0 10px 0;
		}
	}
	.CartTable{
		.CartTableTop{
			display: none;
		}
	}
	.CartTableProduct{
		flex-wrap: wrap;
		padding: 27px 12px 15px 12px;
		.CartTableProductImg{
			position: absolute;
			top: 27px;
			left: 12px;
			min-height: 95px;
			width: 76px;
		}
		.CartTableProductDesc{
			min-width: 0;
			max-width: 100%;
			width: 100%;
			padding: 0;
			.CartTableProductTop{
				min-height: 95px;
				padding: 0 0 0 96px;
				.CartTableProductDiscounts{
					div{
						width: 100%;
						margin: 0 0 3px 0;
					}
				}
			}
			.CartTableProductBottom{
				justify-content: space-between;
				.CartTableProductColor{
					margin: 13px 0;
					max-width: 50%;
				}
			}
		}
		.CartTableProductLike{
			position: absolute;
			border: 0;
			top: 26px;
			right: 38px;
			flex-grow: 1;
		}
		.CartTableProductPrice{
			width: 33.33%;
			max-width: 100%;
			border: 0;
			flex-grow: 1;
			b{
				font-size: 24px;
			}
		}
		.CartTableProductTotal{
			width: 33.33%;
			flex-grow: 1;
			a{
				top: 26px;
				right: 12px;
				svg{
					width: 14px;
				}
			}
		}
		.CartTableProductQuentity{
			max-width: 100%;
			width: 33.33%;
			border: 0;
			flex-grow: 1;
		}
	}
	.CartArea-top{
		>a{
			font-size: 14px;
		}
	}
	.coupon{
		flex: 0 0 100%;
		.coupon-bottom{
			form{
				button{
					min-width: 0;
				}
			}
		}
	}
	.CartTotal{
		flex: 0 0 100%;
		margin: 25px 0 0 0;
		.CartTotalDesc{
			> div{
				> div{
					flex: 0 0 50%;
				}
			}
		}
	}
	.jq-selectbox{
		.jq-selectbox__select{
			display: none;
		}
		select{
			min-height: 40px;
			display: flex;
			align-items: center;
			border: 1px solid #E1E1E1;
			box-sizing: border-box;
			padding: 0 10px 0 3px;
			position: relative;
			cursor: pointer;
			font-size: 14px;
			font-weight: 700;
			color: $color;
		}
	}
	.checkout{
		position: relative;
		padding: 0 0 150px 0;
		.discount{
			.discount-bottom{
				padding-top: 15px;
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				border-top: 1px solid #EFEBEC;
				.btn{
					min-width: 100%;
				}
			}
		}
		> h1{
			order: -1;
		}
		.checkout-left{
			width: 100%;
			order: 2;
		}
		.checkout-right{
			width: 100%;
			order: 1;
			margin: 0 0 40px 0;
			.cart-preview{
				margin: 0;
				height: auto;
				box-shadow: none;
				.cart-preview-content{
					max-height: 551px;
				}
			}
		}
		.cart-preview-product{
			padding: 0 0 22px 13px;
			box-sizing: border-box;
			.cart-preview-product-descr{
				.cart-preview-product-color{
					margin: 4px 0;
				}
			}
		}
		.half{
			justify-content: space-between;
			> div{
				width: calc(50% - 15px);
				margin: 0;
			}
		}
	}
	.type-of-delivery{
		padding: 24px 0 22px 11px;
		.jq-selectbox{
			select{
				font-weight: 400;
				width: 100%;
			}
		}
	}
	.delivery{
		.delivery-block{
			width: 100%;
			max-width: 100%;
			margin: 0 0 20px 0;
			.delivery-block-title{
				align-items: center;
			}
		}
	}
	.about-us{
		h1{
			margin: -12px 0 12px 0;
		}
		.about-us-title{
			text-align: left;
			p{
				margin: 16px 0 18px 0;
			}
		}
	}
	.about-us-description{
		padding: 17px 0 0 0;
		.about-us-block{
			max-width: 100%;
			&:nth-child(2n){
				max-width: 100%;
			}
			.about-us-block-text{
				width: calc(100% - 75px);
			}
			.about-us-block-content{
				margin: 16px 0 0 0;
				>a{
					width: calc(50% - 17px);
					margin-right: 0;
					&:nth-of-type(2n){
						margin-left: auto;
					}
				}
			}
		}
	}
	.about-bottom{
		margin: 1px 0 0 0;
		.about-bottom-img{
			height: 185px;
			.about-bottom-img-description{
				bottom: 9px;
			}
		}
	}
	.about-bottom-content{
		.about-bottom-block{
			width: 100%;
		}
	}
	.about-us-sale-title{
		margin: 0 0 20px 0;
		text-align: left;
	}
	.about-us-sale{
		padding: 26px 0 0 0;
		span{
			font-size: 18px;
			line-height: 24px;
			text-align: left;
		}
		.about-us-sale-text{
			font-size: 14px;
			margin: 11px auto 2px auto;
			text-align: left;
		}
	}
	.about-us-sale-table{
		width: 100%;
		margin: 22px 0 0 0;
	}
	.BasicProvisions{
		width: 100%;
	}
	.thank{
		.thank-left{
			display: none;
		}
		.thank-right{
			height: 325px;
			.thank-right-content{
				.thank-right-title{
					font-size: 20px;
					p{
						&:last-child{
							margin: 14px 0 0 0;
						}
					}
				}
				.btn{
					margin: 0 auto -8px auto;
				}
			}
		}
	}
	.small-products{
		.product{
			width: 100%;
			padding: 0;
			margin: 58px 0 0 0;
			&:after{
				content: "";
				width: 100%;
				height: 1px;
				background: rgba(196, 196, 196, 0.5);
				position: absolute;
				top: -28px;
				left: 0;
			}
			&:nth-child(2n),
			&:nth-child(3n){
				margin: 58px 0 0 0;
			}
			&:first-child{
				margin: 0;
				&:after{
					display: none;
				}
			}
			.product-img{ 
				.product-img-for{
					.slick-slide{
						min-height: 405px;
						img{
							max-height: 100%;
						}
					}
					.slick-arrow{
						top: 190px;
					}
				}
			}
		}
	}
	.navigation{
		ul{
			li{
				a{
					width: 40px;
					height: 48px;
				}
			}
		}
	}
	.popup{
		.popup-content{
			padding: 0 10px;
			&.small{
				width: 300px;
			}
		}
	}
	.checkIn{
		form{
			button{
				min-width: 100%;
			}
		}
		.checkIn-bottom{
			flex-wrap: wrap;
			text-align: center;
			padding: 0 0 30px 0;
			.checkIn-bottom-left{
				font-size: 16px;
				margin: 0 auto 15px auto;
				a{}
			}
			.checkIn-bottom-right{
				font-size: 16px;
			}
		}
	}
	.catalog-btns{
		display: flex;
		justify-content: space-between;
		align-items: center;
		.jq-selectbox{
			width: calc(50% - 10px);
			select{
				display: flex;
				align-items: center;
				height: 35px;
				width: 100%;
				font-size: 16px;
				color: $colorHover;
				border: 1px solid $colorHover;
				box-sizing: border-box;
				font-size: 16px;
			}
		}
		a.btn.wh-bg{
			min-width: 0;
			color: $colorHover;
			border-color: $colorHover;
			width: calc(50% - 10px);
			font-size: 16px;
			padding: 0;
			svg{
				display: block;
				margin: 0 0 0 7px;
				fill: $colorHover;
			}
			&:hover,
			&.active{
				color: #fff;
				background: $colorHover;
				svg{
					fill: #fff;
				}
			}
		}
	}
	.catalog{
		position: relative;
		.catalog-top{
			border: 0;
		}
		.catalog-bottom{
			width: 100%;
			top: 100%;
			position: absolute;
			left: 0;
			background: #fff;
			z-index: 9;
			display: none;
			&.active{
				display: block;
			}
			> button{
				width: 100%;
			}
		}
		.spec-select{
			width: 100%;
			margin: 0 0 10px 0;
			.spec-select-container{}
			.spec-select-dropdown{
				position: relative;
			}
		}
	}
	.no-for-mob{
		display: none;
	}
	.catalog-description{
		h2{
			font-size: 23px;
		}
	}
	.card{
		flex-wrap: wrap;
		width: auto;
		margin: 0 15px 0 15px;
		position: relative;
		.card-left{
			display: none;
			.slick-slide{
				height: 417px;
			}
		}
		.slider-nav{
			.slick-track{
				.slick-slide{
					width: 67px;
					height: 84px;
				}
			}
		}
		.card-right{
			width: 100%;
			margin: 0 0 0 0;
			h1{
				font-size: 18px;
				line-height: 29px;
				text-transform: uppercase;
			}
			.characteristics{
				margin: 25px 0 0 0;
				p{
					span{
						min-width: 100px;
					}
				}
			}
		}
	}
	.for-small-pc{
		display: none;
	}
	.no-for-small-pc{
		display: block;
	}
	.mobil-for{
		margin: 0 0 20px 0;
		.slick-slide{
			display: flex;
			align-items: flex-end;
			justify-content: center;
			background: #EFEBEC;
			height: 417px;
			img{
				max-height: 100%;
			}
		}
	}
	.mobil-nav{
		position: relative;
		padding: 0 0 24px 0;
		.slick-slide{
			width: 65px;
			height: 84px;
			margin: 0 20px 0 0;
			background: #EFEBEC;
			position: relative;
			&.slick-current{
				&:after{
					content: "";
					width: 100%;
					height: 100%;
					box-sizing: border-box;
					position: absolute;
					top: 0;
					left: 0;
					border: 1px solid $colorHover;
				}
			}
		}
		.slick-dots{
			position: absolute;
			left: 0;
			bottom: 0;
			justify-content: center;
			width: 100%;
			li{
				button{
					background: #fff;
				}
				&.slick-active{
					button{
						background: $colorHover;
					}
				}
			}
		}
	}
	.big-select{
		.big-select-container{
			.big-select-container-text{
				width: 180px;
			}
			&.work{
				&:after{
					width: 12px;
					height: 7px;
					background-size: 100% 100%;
					right: 10px;
				}
			}
		}
	}
	.card-description{
		.card-description-title{
			margin: 0 0 5px 0;
		}
	}
	.card-btns{
		position: relative;
		.card-btns-first{
			margin: 0 80px 0 0;
			min-width: 0;
		}
		.card-btns-like{
			position: absolute;
			top: 0;
			right: 0;
		}
	}
	.card-social{
		margin: 25px 0 0 0;
	}
	.card-partners{
		margin: 15px 0 0 0;
	}
	.annex{
		border: 0;
		.annex-title{
			margin: 25px 0 20px 0;
		}
	}
	.annex-slider{
		.slick-list{
			overflow: hidden;
			.product{
				overflow: hidden;
				width: calc(100vw - 30px);
				margin: 0;
				&:hover{
					box-shadow: none;
				}
				.product-img{
					.product-img-for{
						.slick-slide{}
					}
				}
			}
		}
		.slick-dots{
			left: 0;
			width: 100%;
			justify-content: center;
		}
	}
	.annex-tab{
		.ui-tabs-nav{
			font-size: 25px;
			justify-content: space-between;
			li{
				margin: 0;
				a{
					font-weight: 800;
				}
			}
		}
	}
	.feedback{
		padding: 20px 12px 15px 13px;
		.feedback-top{
			.feedback-rating{
				display: none;
			}
		}
		.feedback-text{
			color: #000;
			margin: 15px 0 0 0;
		}
	}
	.feedbacks{
		.btn{
			min-width: 100%;
		}
	}
	.popup#sizes{
		left: 0;
		top: 3%;
		width: 100%;
		margin: 0;
		transform: translate(0);
	}
	.sizes-table{
		.sizes-th{
			min-width: 160px;
		}
	}
	.sizes-preview{
		.sizes-preview-block{
			.sizes-preview-block-img{
				height: 150px;
				img{
					max-height: 100%;
				}
			}
			.sizes-preview-block-title{
				font-size: 14px;
				line-height: 20px;
				align-items: flex-start;
				justify-content: flex-start;
				text-align: left;
			}
			&:nth-child(3){
				width: calc(50% - 15px);
				img{
					margin: 0 0 0 auto;
				}
			}
			&:nth-child(1){
				width: calc(50% - 15px);
				img{
					max-height: 90%;
				}
			}
			&:nth-child(2){
				margin-top: 10px;
				.sizes-preview-block-title{
					height: auto;
					width: 130px;
					margin: 0 auto;
					text-align: center;
				}
			}
		}
	}
	.popup#fav{
		width: auto;
		transform: translate(0,-50%);
		top: 50%;
		left: 15px;
		right: 15px;
		.popup-content{
			padding: 0 0 0 10px;
		}
	}
	.fav{
		position: relative;
		overflow: hidden;
		.fav-left{
			position: absolute;
			z-index: -1;
			right: -10px;
			top: 0;
			bottom: 0;
			&:before{
				content: "";
				width: 100%;
				height: 150%;
				position: absolute;
				z-index: -1;
				top: -25%;
				right: 75px;
				background: #fff;
				transform: rotate(-9deg);
			}
			&:after{
				width: 177px;
				height: 122px;
				background-size: 100% 100%;
				top: 0;
				right: 25px;
			}
		}
		.fav-right{
			padding: 0 50px 0 10px;
			position: relative;
			.fav-right-title{
				width: 188px;
				font-size: 14px;
				line-height: 20px;
				text-align: left;
				justify-content: flex-start;
				margin: 30px 0 0 0;
			}
			form{
				margin: 0 0 30px 0;
				.fav-form-title{
					font-size: 20px;
					text-align: left;
					justify-content: flex-start;
				}
				button{
					min-width: 100%;
				}
			}
			.fav-bottom{
				padding: 0 0 30px 0;
				.fav-bottom-right{
					font-size: 13px;
				}
			}
		}
	}
	.popup{
		&.product_popup{
			width: 300px;
		}
	}
	.product_popup-in{
		padding: 15px 0 15px 0;
		flex-wrap: wrap;
		.product_popup-left{
			width: 100%;
		}
		.product_popup-right{
			width: 100%;
		}
		.product_popup-in-right{
			width: 100%;
			margin: 0;
			.card-btns{
				.card-btns-first{
					min-width: 185px;
					font-size: 15px;
				}
			}
			.big-select{
				.big-select-container{
					.big-select-container-left{
						width: 42px;
						min-width: 42px;
					}
				}
			}
			h1{
				font-size: 18px;
				line-height: normal;
			}
		}
		.product_popup-slider{
			width: 100%;
			padding: 0 0 60px 0;
			.slick-slide{
				min-height: 280px;
				height: 280px;
			}
		}
	}
	.popup#attention{
		width: calc(100vw - 20px);
		.popup-content{
			padding: 0;
		}
	}
	.attention{
		overflow: hidden;
		&:after{
			width: 100px;
			right: 0;
			z-index: -1;
			background-position: -204px center;
		}
		&:before{
			content: "";
			width: 100px;
			height: 150%;
			position: absolute;
			right: 45px;
			top: -25%;
			background: #fff;
			transform: rotate(-7.9deg);
		}
		.attention-left{
			margin: 0;
			padding: 10px 10px 15px 10px;
			.attention-title{
				font-size: 20px;
			}
			form{
				margin: 0 0 20px 0;
			}
		}
		.attention-img{
			display: none;
		}
	}
	.yk_aboutUs{
		.yk_aboutUs-block{
			width: 100%;
			max-width: 100%;
			margin: 0 0 20px 0;
			.yk_aboutUs-content{
				justify-content: space-between;
				>img{
					margin: 0;
				}
			}
		}
	}
	.yk_aboutUs-icons{
		padding: 0;
		.yk_aboutUs-icon-block{
			width: 50%;
		}
	}
	.yk_delivery{
		.yk_delivery-block{
			max-width: 100%;
			width: 100%;
			margin: 0 0 20px 0;
			.yk_delivery-title{
				min-height: 0;
			}
		}
	}	
	.main-menu ul{
		padding: 0;
	}
}