@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;900&display=swap');
$color: #656362;
$colorHover: #C57B48;
$border: #818181;
body{
	margin: 0;
	padding: 0;
    font-family: 'Nunito';
	color: $color;
}
ul,
ol{
	margin: 0;
	padding: 0;
	list-style: none;
}
*:focus{
	outline: 0;
}
button{
	cursor: pointer;
}
.container{
	width: 1110px;
	margin: 0 auto;
}
header{
	.container{
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}
.logo{
	font-size: 45px;
	a{
		color: $colorHover;
		text-decoration: none;
		b{ 
			font-weight: 700;
		}
	}
	p{
		margin: 0;
		padding: 0;
		font-size: 12px;
		a{
			color: rgba(0,0,0,0.3);
			font-weight: 700;
		}
	}
}
.phones{
	text-align: right;
	font-size: 14px;
	line-height: 20px;
	padding: 0 34px 0 30px;
	position: relative;
	border-right: 1px solid #C4C4C4;
	&:before{
		content: "";
		width: 18px;
		height: 19px;
		position: absolute;
		top: 10px;
		left: 0;
		background: url(../images/icons/phones.svg) left center no-repeat;
	}
	p{
		margin: 0;
		padding: 0;
		color: rgba(0,0,0,0.5);
		a{
			color: $color;
			text-decoration: none;
			font-weight: 700;
		}
	}
}
.main-menu{
	font-size: 14px;
	ul{
		display: flex;
		flex-wrap: wrap;
		li{
			margin: 0 25px 0 0;
			&:last-child{
				margin-right: 0;
			}
			a{
				display: flex;
				align-items: center;
				text-decoration: none;
				color: rgba(0,0,0,0.5);
				svg{
					fill: rgba(0,0,0,0.5);
					margin: 0 6px 0 0;
				}
			}
			&:hover,
			&.active{
				a{
					color: $colorHover;
					svg{
						fill: $colorHover;
					}
				}
			}
		}
	}
}
.bottom-menu{
	width: 100%;
	font-size: 16px;
	text-transform: uppercase;
	position: relative;
	&:after{
		content: "";
		width: 100vw;
		height: 1px;
		left: 50%;
		top: 0;
		position: absolute;
		margin: 0 0 0 -50vw;
		background: $border;
		opacity: 0.1;
	}
	ul{
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		li{
			a{
				display: block;
				color: $color;
				text-decoration: none;
				position: relative;
			}
			&:hover,
			&.active{
				a{
					color: $colorHover;
					&:after{
						content: "";
						display: block;
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 3px;
						background: $colorHover;
					}
				}
			}
		}
	}
}
.header-banner{
	background: $colorHover;
	padding: 14px 0;
	.container{
		display: flex;
		align-items: stretch;
	}
}
.search-form{
	width: calc(50% - 15px);
	form{
		display: block;
		position: relative;
		input{
			display: flex;
			align-items: center;
			padding: 0 30px 0 20px;
			width: 100%;
			height: 50px;
			box-sizing: border-box;
			border: 0;
			font-family: 'Nunito';
			font-size: 18px;
			&::placeholder{
				color: $border;
			}
		}
		button{
			display: block;
			position: absolute;
			top: 50%;
			right: 10px;
			transform: translate(0,-50%);
			background: none;
			border: 0;
			&:hover{
				svg{
					fill: $colorHover;
				}
			}
			svg{
				display: block;
				fill: $border;
			}
		}
	}
}
.discount-banner{
	display: flex;
	align-items: center;
	width: calc(50% - 15px);
	margin: 0 0 0 auto;
	background: url(../images/discount-banner.png) bottom right no-repeat;
	color: $colorHover;
	box-sizing: border-box;
	padding: 0 0 0 50px;
	background-size: cover;
	span{
		font-size: 30px;
		font-weight: 900;
		display: inline-block;
		margin: 0 20px 0 0;
	}
}