@font-face {
    font-family: 'FiraSansMedium';
    src: local('Fira Sans Medium'), local('fonts/firasans/Firasans-Medium'), url('fonts/firasans/Firasansmedium.woff2') format('woff2'), url('fonts/firasans/Firasansmedium.woff') format('woff'), url('fonts/firasans/Firasansmedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'FiraSansLight';
    src: local('Fira Sans Light'), local('fonts/firasans/Firasans-Light'), url('fonts/firasans/Firasanslight.woff2') format('woff2'), url('fonts/firasans/Firasanslight.woff') format('woff'), url('fonts/firasans/Firasanslight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'FiraSansBook';
    src: local('Fira Sans Book'), local('fonts/firasans/Firasans-Book'), url('fonts/firasans/Firasansbook.woff2') format('woff2'), url('fonts/firasans/Firasansbook.woff') format('woff'), url('fonts/firasans/Firasansbook.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'FiraSansRegular';
    src: local('Fira Sans Regular'), local('fonts/firasans/Firasans-Regular'), url('fonts/firasans/Firasansregular.woff2') format('woff2'), url('fonts/firasans/Firasansregular.woff') format('woff'), url('fonts/firasans/Firasansregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'FiraSansBold';
    src: local('Fira Sans Bold'), local('fonts/firasans/Firasans-Bold'), url('fonts/firasans/Firasansbold.woff2') format('woff2'), url('fonts/firasans/Firasansbold.woff') format('woff'), url('fonts/firasans/Firasansbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
body{
    font-family: 'FiraSansRegular';
    margin: 0 0 0 0;
    padding: 0;
}
ul,
ol{
    padding: 0;
    margin: 0;
    list-style: none;
}
*:focus{
    outline: 0;
}
button{
    cursor: pointer;
}
img{
    border: 0;
    max-width: 100%;
}
.container{
    width: 940px;
    margin: 0 auto;
}
.clearfix:after{
    content: "";
    display: block;
    clear: both;
}
header{
    padding: 10px 0 0 0;
}
.logo{
    float: left;
}
.logo a,
.logo img{
    display: block;
}
.header-right{
    float: right;
}
.header-right>div{
    display: inline-block;
    vertical-align: middle;
}
.mail{
    font-size: 12px;
    margin: -4px 27px 0 0;
}
.mail a{
    color: #2B2B2B;
    text-decoration: none;
}
.mail a svg,
.mail a span{
    display: inline-block;
    vertical-align: top;
}
.mail a svg{
    fill: #454545;
    margin: 2px 4px 0 0;
}
.phone-whatsapp{
    text-align: right;
    margin: 14px 17px 0 0;
}
.phone{
    text-decoration: none;
    font-size: 12px;
    color: #2B2B2B;
    display: block;
}
.phone svg,
.phone span{
    display: inline-block;
    vertical-align: middle;
    fill: #282828;
}
.phone svg{
    margin: 0 4px 0 0;
}
.whatsapp{
    font-family: 'FiraSansLight';
    display: inline-block;
    vertical-align: middle;
    font-size: 11px;
    text-decoration: none;
    color: #282828;
    border-bottom: 1px dashed #282828;
    margin: -11px 4px 0 0;
}
.whatsapp:hover{
    border: 0;
    padding: 0 0 1px 0;
}
.social{
    margin: -4px 0 0 0;
}
.social a{
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 5px;
}
.social a:first-child{
    margin: 0;
}
.social a svg{
    display: block;
    fill: #454545;
}
.make-call{
    font-size: 11px;
    margin: -3px 0 0 34px;
}
.make-call a{
    width: 120px;
    text-align: center;
    padding: 8.2px 0 6.2px 0;
    font-family: 'FiraSansBold';
    display: block;
    border: 2px solid #BF3D3D;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #BF3D3D;
    text-decoration: none;
    box-sizing: border-box;
}
.make-call a:hover{
    background: #BF3D3D;
    color: #fff;
}
.cart-btn{
    margin: -3px 0 0 33px;
}
.cart-btn a{
    display: block;
}
.cart-btn a svg{
    display: block;
    fill: #454545;
}
.bottom{
    background: #F4F4F4;
}
.main-menu{
    font-family: 'FiraSansBold';
    letter-spacing: 0.1em;
    font-size: 11px;
    text-transform: uppercase;
    padding: 0 0 0 5px;
    float: left;
}
.main-menu ul li{
    display: inline-block;
    vertical-align: middle;
    margin: 0 35px 0 0;
}
.main-menu ul li:last-child{
    margin: 0;
}
.main-menu ul li.active{
    border-bottom: 2px solid #BF3D3D;
}
.main-menu ul li a{
    display: block;
    color: #282828;
    text-decoration: none;
    padding: 14px 0 13px 0;
}
.main-menu ul li a:hover{
    color: #BF3D3D;
}
.search-form{
    float: right;
    margin: 10px 0 0 0;
}
.search-form form{
    position: relative;
}
.search-form form input{
    display: block;
    width: 256px;
    box-sizing: border-box;
    border: 1px solid #DADADA;
    font-size: 13px;
    font-family: 'FiraSansLight';
    padding: 2.4px 25px 2.4px 5px;
}
.search-form button{
    border: 0;
    background: #fff;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translate(0,-50%);
}
.search-form button svg{
    fill: #454545;
    display: block;
}
.main-banner{
    background: #BF3D3D;
    overflow: hidden;
    position: relative;
}
.main-banner .container{
    position: relative;
    z-index: 1;
}
.main-banner>img{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
}
.main-banner-title{
    font-family: 'FiraSansBold';
    font-size: 34px;
    line-height: 48px;
    letter-spacing: 0.025em;
    color: #fff;
    padding: 66px 0 18px 0;
}
.main-banner-sub-title{
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 0.025em;
    color: #fff;
}
.main-banner-btn{
    padding: 68px 0 82px 0;
}
.main-banner-btn a{
    display: inline-block;
    vertical-align: middle;
    width: 156px;
    box-sizing: border-box;
    letter-spacing: 0.1em;
    font-size: 11px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    text-align: center;
    padding: 7.2px 0;
}
.good-roof{}
.good-roof-title{
    font-family: 'FiraSansBold';
    font-size: 20px;
    color: #282828;
    text-align: center;
    padding: 36px 0 29px 0;
}
.good-roof-content{
    display: flex;
    flex-wrap: wrap;
}
.good-roof-block{
    flex-basis: 25%;
    background: #F4F4F4;
    border-right: 1px solid #fff;
    box-sizing: border-box;
    position: relative;
    padding: 0 0 50px 23px;
}
.good-roof-block-icon{
    line-height: 100px;
    height: 100px;
}
.good-roof-block-icon svg{
    fill: #BF3D3D;
    display: inline-block;
    vertical-align: middle;
}
.good-roof-block-title{
    font-family: 'FiraSansBold';
    font-size: 24px;
    letter-spacing: 0.01em;
    margin: -3px 0 0 0; 
}
.good-roof-block-text{
    font-family: 'FiraSansLight';
    font-size: 14px;
    color: #282828;
    margin: 21px 0 0 0;
}
.good-roof-block-text p{
    margin: 0 0 10px 0;
}
.good-roof-block-btn{
    position: absolute;
    width: 100%;
    bottom: 24px;
    left: 23px;
    font-size: 12px;
}
.good-roof-block-btn a{
    font-family: 'FiraSansLight';
    color: #BF3D3D;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    padding: 0 17px 0 0;
    position: relative;
}
.good-roof-block-btn a:before{
    content: "";
    width: 7px;
    height: 10px;
    background: url(../images/icon/red-arrow.svg) right center no-repeat;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0,-50%);
}
.why-we{}
.why-we-title{
    text-align: center;
    font-family: 'FiraSansBold';
    font-size: 20px;
    color: #282828;
    margin: 43px 0 53px 0;
}
.why-we-content{
    overflow: hidden;
}
.why-we-left{
    width: 418px;
    float: left;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.why{
    text-align: center;
    margin: 0 0 25px 0;
}
.why:nth-child(2),
.why:nth-child(5){
    flex-basis: 60%;
}
.why-icon{
    height: 50px;
    line-height: 50px;
    margin: 0 0 8px 0;
}
.why-icon img{
    display: inline-block;
    vertical-align: middle;
}
.why-title{
    font-family: 'FiraSansMedium';
    color: #282828;
    font-size: 12px;
}
.why-we-right{
    width: 460px;
    float: right;
    font-size: 14px;
    line-height: 17px;
    color: #282828;
    margin: 0 0 18px 0;
}
.why-we-right p{
    margin: 0 0 11px 0;
}
.why-we-right .more{
    display: inline-block;
    position: relative;
    color: #BF3D3D;
    font-size: 12px;
}
.why-we-right .more:before{
    content: "Больше";
}
.why-we-right .more.active:before{
    content: "Меньше";
}
.why-we-right .more:after{
    content: "";
    width: 7px;
    height: 12px;
    background: url(../images/icon/red-arrow.svg) no-repeat;
    position: absolute;
    right: -15px;
    top: 2px;
    transform: rotate(90deg);
}
.why-we-right-title{
    font-family: 'FiraSansMedium';
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.015em;
    color: #282828;
    margin: 0 0 18px 0;
}
.video{
    border: 7px solid #F4F4F4;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    margin: 45px 0 62px 0;
}
.video iframe{
    width: 100%;
    height: 568px;
    border: 0;
    display: block;
}
.pre-view-cer{}
.pre-view-cer-left{
    width: 400px;
    float: left;
    padding: 0 0 0 4px;
}
.pre-view-cer-title{
    font-family: 'FiraSansBold';
    font-size: 20px;
    color: #282828;
    margin: 0 0 17px 0;
}
.pre-view-cer-left p{ 
    font-family: 'FiraSansLight';
    font-size: 14px;
    line-height: 17px;
    margin: 0 0 12px 0;
    color: #282828;
}
.pre-view-cer-left .more{
    font-family: 'FiraSansLight';
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    color: #BF3D3D;
    text-decoration: none;
    position: relative;
    padding: 0 15px 0 0;
}
.pre-view-cer-left .more:before{
    content: "";
    width: 7px;
    height: 12px;
    background: url(../images/icon/red-arrow.svg) right center no-repeat;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0,-50%);
}
.pre-view-cer-left .more:hover{
    text-decoration: underline;
}
.pre-view-cer-right{
    width: 520px;
    float: right;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}
/* slider */
.slick-slide{
    float: left;
}
.slick-track{
    overflow: hidden;
}
.slick-list{
    overflow: hidden;
}
/* slider */
.pre-view-cer-right .slick-slide{
    margin: 0 20px 0 0;
    border: 5px solid #fff;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}
.pre-view-cer-right .slick-slide img{
    display: block;
}
.works{}
.works-title{
    font-family: 'FiraSansBold';
    font-size: 20px;
    color: #282828;
    text-align: center;
    margin: 60px 0 38px 0;
}
.works-content{
    display: flex;
    flex-wrap: wrap;
}
.work{
    flex-basis: 33.33%;
    box-sizing: border-box;
    background: #F4F4F4;
    border-right: 1px solid #fff;
    padding: 0 0 17px 0;
}
.work-img{
    display: block;
    position: relative;
    width: 100%;
    height: 218px;
}
.work-img a{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.work-img a img{
    min-width: 100%;
    min-height: 100%;
    display: block;
    max-width: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.work-title{
    font-family: 'FiraSansBold';
    padding: 12px 0 29px 23px;
}
.work-title a{
    display: inline-block;
    color: #282828;
    text-decoration: none;
    font-size: 20px;
}
.work-title a:hover{
    text-decoration: underline;
}
.work-text{
    font-size: 14px;
    line-height: 17px;
    font-family: 'FiraSansLight';
    color: #282828;
    padding: 0 37px 0 23px;
}
.work-btn{
    padding: 24px 0 0 24px;
}
.work-btn a{
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    color: #BF3D3D;
    text-decoration: none;
    position: relative;
    padding: 0 15px 0 0;
}
.work-btn a:hover{
    text-decoration: underline;
}
.work-btn a:before{
    content: "";
    width: 7px;
    height: 12px;
    background: url(../images/icon/red-arrow.svg) right center no-repeat;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0,-50%);
}
.works-btn{
    text-align: right;
    padding: 15px 0 0 0;
}
.works-btn a{
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    color: #BF3D3D;
    text-decoration: none;
    position: relative;
    padding: 0 15px 0 0;
}
.works-btn a:hover{
    text-decoration: underline;
}
.works-btn a:before{
    content: "";
    width: 7px;
    height: 12px;
    background: url(../images/icon/red-arrow.svg) right center no-repeat;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0,-50%);
}
.tabs-news{
    margin: 48px 0 0 0;
}
.tabs-news .ui-tabs-nav{
    font-size: 20px;
    font-family: 'FiraSansBold';
    margin: 0 0 19px 0;
}
.tabs-news .ui-tabs-nav li{
    display: inline-block;
    vertical-align: middle;
    margin: 0 40px 0 0;
}
.tabs-news .ui-tabs-nav li a{
    display: block;
    color: #A0A0A0;
    text-decoration: none;
}
.tabs-news .ui-tabs-nav li.ui-state-active a{
    color: #282828;
}
.news{
    display: flex;
    flex-wrap: wrap;
}
.new.full{
    flex-basis: 100%;
    background: none;
}
.new.full .new-description{
    border: 0;
    padding: 26px 0 86px 61px;
}
.new-description{
    border-right: 1px solid #fff;
    padding: 29px 15px 90px 20px;
    height: 100%;
}
.new-description:hover{
    background: #BF3D3D;
}
.new.full>img{
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    display: block;
}
.new{
    flex-basis: 33.33%;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    background: #F4F4F4;
}
.new:last-child{
    border: 0;
}
.new-img{
    width: 100%;
    height: 142px;
    position: relative;
}
.new-img img{
    display: block;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.new-title{
    font-family: 'FiraSansMedium';
    font-size: 12px;
    line-height: 14px;
    margin: 0 0 21px 0;
}
.new-title a{
    text-decoration: none;
    color: #282828;
    text-transform: uppercase;
}
.new-description:hover .new-title a{
    color: #fff;
}
.new-text{
    font-family: 'FiraSansLight';
    font-size: 14px;
    line-height: 17px;
    color: #282828;
}
.new-description:hover .new-text{
    color: #fff;
}
.new-btn{
    position: absolute;
    bottom: 31px;
    left: 20px;
}
.new-btn a{
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    color: #BF3D3D;
    text-decoration: none;
    position: relative;
    padding: 0 15px 0 0;
}
.new-description:hover .new-btn a{
    color: #fff;
}
.new-btn a:hover{
    text-decoration: underline;
}
.new-btn a:before{
    content: "";
    width: 7px;
    height: 12px;
    background: url(../images/icon/red-arrow.svg) right center no-repeat;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0,-50%);
}
.new-description:hover .new-btn a:before{
    background: url(../images/icon/white-arrow.svg) right center no-repeat;
}
.new.full .new-title{
    font-family: 'FiraSansMedium';
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 25px 0;
}
.new.full .new-title a{
    color: #fff;
}
.new.full .new-text{
    max-width: 777px;
    font-size: 15px;
    line-height: 18px;
    color: #fff;
}
.new.full .new-btn{
    position: absolute;
    left: 61px;
    bottom: 47px;
}
.new.full .new-btn a{
    color: #fff;
}
.new.full .new-btn a:before{
    background: url(../images/icon/white-arrow.svg) right center no-repeat;
}
.news-btn{
    text-align: right;
    padding: 22px 0 20px 0;
}
.news-btn a {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    color: #BF3D3D;
    text-decoration: none;
    position: relative;
    padding: 0 15px 0 0;
}
.news-btn a:hover{
    text-decoration: underline;
}
.news-btn a:before {
    content: "";
    width: 7px;
    height: 12px;
    background: url(../images/icon/red-arrow.svg) right center no-repeat;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0,-50%);
}
.feedbacks-slider{
    width: 820px;
    margin: 0 auto;
    position: relative;
}
.feedbacks-slider .slick-track{
    display: flex;
}
.feedback{
    width: 399px;
    background: #F4F4F4;
    box-sizing: border-box;
    position: relative;
    margin: 39px 20px 0 0;
    float: none;
    padding: 0 0 59px 0;
}
.feedback.feeds{
    margin: 65px 0 0 0;
    width: 420px;
}
.feeds{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.feedback.feeds .feedback-img{
    left: 16%;
}
.feedback.feeds .feedback-text{
    text-align: left;
}
.feedback-img{
    position: absolute;
    top: -39px;
    width: 75px;
    height: 79px;
    border-radius: 50%;
    overflow: hidden;
    left: 50%;
    transform: translate(-50%,0);
}
.feedback-img img{
    display: block;
    min-width: 100%;
    min-height: 100%;
    max-width: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.feedback-text{
    font-family: 'FiraSansLight';
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    color: #282828;
    margin: 0 24px;
    padding: 59px 0 0 0;
}
.feedback-bottom{
    overflow: hidden;
    position: absolute;
    bottom: 8px;
    left: 21px;
    right: 18px;
    box-sizing: border-box;
}
.feedback-bottom-left{
    float: left;
}
.feedback-bottom-right{
    font-family: 'FiraSansBold';
    float: right;
    font-size: 14px;
    color: #282828;
}
.feedback-bottom-right span{
    font-family: 'FiraSansLight';
    display: inline-block;
    vertical-align: bottom;
    font-size: 12px;
}
.feedbacks-slider .slick-arrow{
    width: 10px;
    height: 15px;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    border: 0;
    padding: 0;
    background: url(../images/icon/slide-arrow.svg) center center no-repeat;
    font-size: 0;
    cursor: pointer;
}
.feedbacks-slider .slick-prev.slick-arrow{
    left: -45px;
}
.feedbacks-slider .slick-next.slick-arrow{
    transform: rotate(180deg);
    right: -45px;
}
.feedbacks-section-title{
    font-family: 'FiraSansBold';
    text-align: center;
    font-size: 20px;
    color: #282828;
    margin: 29px 0 33px 0;
}
.feedbacks-btn{
    text-align: right;
    padding: 27px 0 0 0;
}
.feedbacks-btn a {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    color: #BF3D3D;
    text-decoration: none;
    position: relative;
    padding: 0 15px 0 0;
}
.feedbacks-btn a:hover{
    text-decoration: underline;
}
.feedbacks-btn a:before {
    content: "";
    width: 7px;
    height: 12px;
    background: url(../images/icon/red-arrow.svg) right center no-repeat;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0,-50%);
}
.form-bg{
    position: relative;
    background: url(../images/form.png) center top no-repeat;
    background-size: cover;
    margin: 116px 0 0 0;
}
.form-title{
    color: #fff;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.05em;
    font-family: 'FiraSansMedium';
    margin: 0 0 19px 0;
}
.form-title .large{
    display: block;
    font-size: 34px;
    font-family: 'FiraSansBold';
    padding: 45px 0 11px 0;
    letter-spacing: 0;
}
.form-title .red{
    color: #BF3D3D;
}
.form-bg form{
    position: relative;
    z-index: 1;
}
.form-bg form .left{
    width: 185px;
    float: left;
    margin: 0 35px 0 0;
}
.form-bg form .right{
    width: 266px;
    float: left;
}
.form-bg form input{
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #FFFFFF;
    background: none;
    font-size: 13px;
    font-family: 'FiraSansLight';
    padding: 6.4px 10px 6.4px 13px;
    color: #fff;
    margin: 0 0 23px 0;
}
.form-bg form textarea{
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #FFFFFF;
    background: none;
    height: 87px;
    font-size: 13px;
    font-family: 'FiraSansLight';
    color: #fff;
    padding: 5px 11px;
}
input[type="file"]{
    display: none;
}
.file{
    font-size: 13px;
    color: #fff;
    cursor: pointer;
    margin: 26px 0 0 0;
    display: block;
}
.file img,
.file span{
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
.file span{
    margin: 0 4px;
}
.file span:before{
    content: "";
    width: 100%;
    height: 1px;
    background: #fff;
    position: absolute;
    bottom: 1px;
    left: 0;
}
.file:hover span:before{
    display: none;
}
.form-bg .container{
    padding: 0 0 43px 0;
    box-sizing: border-box;
    position: relative;
}
.man{
    position: absolute;
    bottom: 0;
    right: 5px;
    z-index: 0;
}
.man img{
    display: block;
}
.form-bg button{
    font-family: 'FiraSansMedium';
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 13px;
    color: #fff;
    border: 0;
    background: #BF3D3D;
    clear: both;
    display: block;
    padding: 10px 26px 9px 29px;
    margin: 0 0 0 0;
}
.form-bg button:hover{
    opacity: 0.9;
}
footer{
    background: #454545;
}
.copyright{
    background: #2B2B2B;
}
.footer-column{
    float: left;
}
.footer-column:nth-child(1){
    width: 181px;
}
.footer-column:nth-child(2){
    width: 120px;
}
.footer-column-title{
    font-size: 14px;
    font-family: 'FiraSansBold';
    color: #fff;
    margin: 0 0 13px 0;
}
.footer-column ul{
    font-size: 12px;
    line-height: 14px;
    font-family: 'FiraSansLight';
}
.footer-column ul li{
    margin: 0 0 5.5px 0;
}
.footer-column ul li a{
    text-decoration: none;
    color: #A0A0A0;
}
.footer-column ul li a:hover{
    color: #fff;
}
.footer-contacts{
    float: right;
    width: 400px;
    padding: 5px 0 0 0;
}
.footer-contacts>a{
    display: block;
    font-size: 13px;
    color: #fff;
    text-decoration: none;
    position: relative;
    padding: 0 0 0 20px;
    margin: 0 0 11px 0;
}
.footer-contacts>a img{
    display: block;
    position: absolute;
    left: 0;
    top: 3px;
}
.footer-contacts>a[href]:hover{
    opacity: 0.7;
}
.footer-contacts-bottom{
    padding: 16px 0 0 0;
    overflow: hidden;
}
.footer-btn{
    float: left;
    font-family: 'FiraSansMedium';
    font-size: 11px;
}
.footer-btn a{
    text-align: center;
    width: 142px;
    display: block;
    border: 2px solid #FFFFFF;
    text-decoration: none;
    color: #fff;
    padding: 7.2px 0;
    box-sizing: border-box;
}
.footer-btn a:hover{
    background: #fff;
    color: #454545;
}
.footer-social{
    float: left;
    margin: 5px 0 0 38px;
}
.footer-social a{
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px 0 0;
}
.footer-social a:last-child{
    margin: 0;
}
.footer-social a img{
    display: block;
}
.footer-social a:hover img{
    opacity: 0.7;
}
footer>.container{
    padding: 27px 0 29px 0;
}
.copyright{
    font-family: 'FiraSansLight';
    font-size: 12px;
    color: #A0A0A0;
    padding: 11px 0 18px 23px;
}
.search-btn{
    display: none;
}
.search-btn svg{
    fill: #454545;
}
.bottom{
    position: relative;
}
.overflow{
    overflow: hidden;
}
.main-menu-btn{
    display: block;
}
.new-img{
    overflow: hidden;
}
.bread-crumbs{
    margin: 23px 0 0 0;
}
.bread-crumbs a.main{
    text-decoration: underline;
}
.bread-crumbs a{
    position: relative;
    font-size: 12px;
    line-height: 14px;
    color: #A0A0A0;
    text-decoration: none;
    margin: 0 15px 0 0;
    font-family: 'FiraSansLight';
}
.bread-crumbs a:hover{
    color: #BF3D3D;
    transition: 0.3s;
}
.bread-crumbs a:after{
    content: '|';
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translate(0,-50%);
}
.bread-crumbs a:last-child{
    margin: 0;
}
.bread-crumbs a:last-child:after{
    display: none;
}
.main-title{
    color: #282828;
    font-family: 'FiraSansBold';
    font-size: 34px;
    line-height: 41px;
    margin: 48px 0 0 0;
    text-transform: uppercase;
}
.main-description{
    font-size: 14px;
    line-height: 17px;
    font-family: 'FiraSansLight';
    margin: 30px 0 46px 0;
    color: #000;
}
.news{
    margin: 21px 0 0 0;
}
.new-block{
    max-width: 280px;
    width: 100%;
    margin: 0 20px 37px 0;
}
.new-block-img{
    position: relative;
    height: 280px;
    overflow: hidden;
}
.new-block-img img{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    display: block;
    max-width: none;
}
.new-block-title{
    font-size: 20px;
    line-height: 24px;
    color: #282828;
    font-family: 'FiraSansBold';
    margin: 10px 0 0 0;
}
.new-block-title a{
    color: #282828;
    text-decoration: none;
}
.new-block-title a:hover{
    text-decoration: underline;
}
.new-date{
    font-family: 'FiraSansLight';
    font-size: 12px;
    line-height: 14px;
    margin: 10px 0 0 0;
    color: #282828;
}
nav.navigation.feeds{
    margin: 40px 0 0 0;
}
nav.navigation{
    
}
.navigation ul{
    overflow: hidden;
}
.navigation ul li{
    display: inline-block;
    border: 1px solid #dadada;
    float: left;
}
.navigation ul li.active{
    background: #BF3D3D;
}
.navigation ul li.active a{
    color: #fff;
}
.navigation ul li a{
    display: block;
    width: 24px;
    text-align: center;
    line-height: 27px;
    height: 24px;
    display: block;
    font-size: 14px;
    font-family: 'FiraSansLight';
    color: #282828;
    box-sizing: border-box;
    text-decoration: none;
}
.navigation ul li a.prev svg,
.next svg{
    stroke: #2b2b2b;
    display: inline-block;
    vertical-align: middle;
    margin: -3px 0 0 0;
}
.navigation ul li a.prev svg,
.next svg:hover{
    stroke: #2b2b2b;
}
.feeds-form-bg{
    background: #F4F4F4;
    padding: 50px 0;
    margin: 29px 0 46px 0;
}
.feeds-form-title{
    font-family: 'FiraSansBold';
    font-size: 20px;
    line-height: 24px;
    color: #282828;
}
.feeds-form-left{
    float: left;
    margin: 37px 0 0 3px;
    max-width: 280px;
    width: 100%;
}
.feeds-form-left input{
    display: block;
    border: 2px solid #DEDEDE;
    max-width: 280px;
    width: 100%;
    box-sizing: border-box;
    margin: 0 0 20px 0;
    font-size: 12px;
    line-height: 14px;
    font-family: 'FiraSansLight';
    color: #A0A0A0;
    padding: 8px 13px 6px 13px;
}
.feeds-form-left input:last-child{
    margin: 0;
}
.feeds-form-right{
    float: right;
    margin: 37px 40px 0 0;
    max-width: 599px;
    width: 100%;
    
}
.feeds-form-right input{
    display: block;
    border: 2px solid #DEDEDE;
    margin: 0 0 20px 0;
    font-size: 12px;
    line-height: 14px;
    font-family: 'FiraSansLight';
    color: #A0A0A0;
    padding: 8px 13px 8px 13px;
    min-height: 84px;
    box-sizing: border-box;
    max-width: 599px;
    width: 100%;
}
button.btn-feeds{
    clear: both;
    display: block;
    font-size: 11px;
    font-family: 'FiraSansBold';
    line-height: 13px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border: 2px solid #BF3D3D;
    color: #BF3D3D;
    padding: 8px 20px;
    margin: 0 0 0 3px;
}
button.btn-feeds:hover{
    background: #BF3D3D;
    color: #fff;
    transition: 0.3s;
}
.from-manufacturer{
    margin: 36px 0 0 0;
}
.from-manufacturer-content{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 20px;
}
.from-manufacturer-block{
    flex-basis: 160px;
    min-height: 252px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}
.from-manufacturer-block-img{
    position: relative;
    width: 100%;
    height: 160px;
}
.from-manufacturer-block-img img{
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.from-manufacturer-block-title{
    font-size: 16px;
    font-family: 'FiraSansBold';
    margin: 22px 0 18px 0;
    text-align: center;
    transition: 0.4s;
}
.from-manufacturer-block-title a{
    color: #282828;
    text-decoration: none;
}
.from-manufacturer-block-btn{
    font-family: 'FiraSansBold';
    font-size: 11px;
    text-transform: uppercase;
    transition: 0.4s;
}
.from-manufacturer-block-btn a{
    display: block;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    border: 2px solid #BF3D3D;
    color: #BF3D3D;
    text-decoration: none;
    padding: 8.2px 0 6.2px 0;
}
.from-manufacturer-block-hidden{
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.4s;
    background: rgba(191,61,61,0.85);
    padding: 62px 20px 0 23px;
    box-sizing: border-box;
    color: #fff;
    font-size: 12px;
    font-family: 'FiraSansLight';
}
.from-manufacturer-block:hover .from-manufacturer-block-hidden{
    top: 0;
}
.from-manufacturer-block-hidden p{
    margin: 0 0 20px 0;
}
.from-manufacturer-block-hidden p span{
    font-family: 'FiraSansBold';
    display: block;
}
.from-manufacturer-block:hover .from-manufacturer-block-title{
    position: absolute;
    top: 0;
    left: 20px;
    z-index: 1;
}
.from-manufacturer-block:hover .from-manufacturer-block-title a{
    color: #fff;
}
.from-manufacturer-block:hover .from-manufacturer-block-btn{
    left: 20px;
    right: 20px;
    position: absolute;
    bottom: 23px;
    z-index: 2;
}
.from-manufacturer-block:hover .from-manufacturer-block-btn a{
    padding: 4.2px 0 2.2px 0;
    border: 2px solid #fff;
    color: #fff;
}
.fast-choose{
    margin: 44px 0 0 0;
}
.fast-choose-title{
    font-family: 'FiraSansBold';
    font-size: 20px;
    color: #282828;
    margin: 0 0 50px 0;
}
.fast-choose-content{
    position: relative;
}
.fast-choose-row{
    display: flex;
    align-items: center;
    margin: 0 0 32px 0;
}
.fast-choose-row-label{
    font-family: 'FiraSansLight';
    font-size: 14px;
    color: #282828;
    margin: 0 34px 0 0;
}
.fast-choose-type>div{
    display: inline-block;
    vertical-align: middle;
    margin: 0 8px 0 0;
}
.fast-choose-type>div input[type="radio"]{
    display: none;
}
.fast-choose-type>div label{
    font-family: 'FiraSansLight';
    display: block;
    text-align: center;
    width: 60px;
    font-size: 16px;
    color: #A0A0A0;
    border-bottom: 3px solid #DADADA;
    cursor: pointer;
    padding: 0 0 2px 0;
}
.fast-choose-type>div input:checked + label{
    border-bottom: 3px solid #BF3D3D;
}
.fast-choose-color{
    max-width: 550px;
    position: relative;
}
.fast-choose-color .slick-slide{
    margin: 0 10px 0 0;
}
.fast-choose-color>div input{
    display: none;
}
.fast-choose-color>div label{
    width: 60px;
    height: 60px;
    line-height: 54px;
    padding: 3px 3px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: block;
    text-align: center;
    font-family: 'FiraSansBold';
}
.fast-choose-color>div label span{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}
.fast-choose-color>div input:checked + label{
    border: 3px solid #BF3D3D;
    padding: 0;
}
.fast-choose-color .slick-prev{
    display: none !important;
}
.fast-choose-color .slick-next{
    display: block;
    position: absolute;
    top: 50%;
    right: -20px;
    border: 0;
    background: url(../images/icon/red-arrow.svg) no-repeat;
    padding: 0;
    width: 7px;
    height: 10px;
    font-size: 0;
}
.checkbox input{
    display: none;
}
.checkbox label{
    position: relative;
    padding: 0 0 0 29px;
    cursor: pointer;
}
.checkbox label:before{
    content: "";
    width: 21px;
    height: 21px;
    box-sizing: border-box;
    border: 1px solid #DEDEDE;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
}
.checkbox input:checked + label:after{
    content: "";
    width: 29px;
    height: 27px;
    background: url(../images/icon/checkbox.svg) no-repeat;
    position: absolute;
    left: -1px;
    top: -7px;
    z-index: 1;
}
.fast-choose-row-thickness>div{
    margin: 0 14px 0 0;
    display: inline-block;
    vertical-align: middle;
}
.fast-choose-row-thickness>div:last-child{
    margin-right: 0;
}
.fast-choose-bottom{
    margin: -3px 0 0 0;
}
.fast-choose-bottom-left{
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    color: #282828;
    font-family: 'FiraSansLight';
    margin: 0 50px 0 0;
}
.fast-choose-bottom-left span{
    font-family: 'FiraSansBold';
    color: #BF3D3D;
    font-size: 20px;
    margin: 0 3px 0 5px;
}
.fast-choose-bottom-right{
    display: inline-block;
    vertical-align: middle;
}
.fast-choose-bottom-right a{
    display: inline-block;
    vertical-align: middle;
    font-size: 11px;
    letter-spacing: 0.1em;
    text-decoration: none;
    color: #A0A0A0;
    border: 2px solid #A0A0A0;
    text-transform: uppercase;
    padding: 7.2px 0;
    width: 145px;
    box-sizing: border-box;
    text-align: center;
    font-family: 'FiraSansBold';
    margin: 0 20px 0 0;
}
.fast-choose-bottom-right a:last-child{
    margin: 0;
}
.fast-choose-bottom-right a:hover,
.fast-choose-bottom-right a.active{
    color: #BF3D3D;
    border: 2px solid #BF3D3D;
}
.fast-choose-img{
    position: absolute;
    right: 50px;
    top: 0;
    width: 275px;
    height: 275px;
}
.fast-choose-img img{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.filter{
    border: 3px solid #BF3D3D;
    position: relative;
    z-index: 2;
    background: #fff;
}
.filter-top{
    border-bottom: 3px solid #BF3D3D;
    position: relative;
    color: #282828;
    font-size: 20px;
    font-family: 'FiraSansMedium';
    padding: 11.5px 0 11.5px 29px;
    cursor: pointer;
}
.filter-top:after{
    content: "";
    width: 89px;
    height: 100%;
    position: absolute;
    top: -1px;
    right: 0;
    padding: 1px 0;
    background: url(../images/icon/filter-arrow.svg) center 13px no-repeat;
    border-left: 3px solid #BF3D3D;
}
.filter-top.active:after{
    transform: rotate(180deg);
    border: 0;
    border-right: 3px solid #BF3D3D;
}
.filter-column .checkbox label{
    font-family: 'FiraSansLight';
    font-size: 14px;
}
.filter-column .checkbox label:before{
    width: 15px;
    height: 15px;
}
.filter-column .checkbox input:checked + label:after{
    width: 23px;
    height: 21px;
    background-size: 100% 100%;
}
@media (max-width: 939px){
    .container{
        width: 740px;
    }
    .feedback.feeds{
        width: 320px;
    }
    .search-btn{
        display: block;
        float: right;
    }
    .search-form{
        display: none;
        position: absolute;
        width: 100%;
        left: 0;
        background: #F4F4F4;
        top: 100%;
        padding: 10px 0;
        z-index: 10;
        margin: 0;
        border-top: 1px solid #DADADA;
    }
    .search-form.active{
        display: block;
    }
    .search-form form{
        width: 740px;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 0;
    }
    .search-form form input{
        width: 100%;
    }
    .feedbacks-slider{
        width: 100%;
    }
    .search-btn{
        margin: 10px 20px 0 0;
        cursor: pointer;
    }
    .search-btn.active{
        width: 18px;
        height: 18px;
        position: relative;
    }
    .search-btn.active svg{
        display: none;
    }
    .search-btn.active:before{
        content: "";
        width: 18px;
        height: 2px;
        background: #282828;
        position: absolute;
        top: 6px;
        transform: rotate(45deg);
        left: 0;
    }
    .search-btn.active:after{
        content: "";
        width: 18px;
        height: 2px;
        background: #282828;
        position: absolute;
        top: 6px;
        transform: rotate(-45deg);
        left: 0;
    }
    header{
        padding: 14px 0 0 0;
    }
    .logo{
        margin: 0 0 0 19px;
    }
    .main-menu{
        padding: 0 0 0 20px;
    }
    .main-menu ul li a{
        padding: 12px 0 13px 0;
    }
    .mail{
        margin: 0 0 0 0;
    }
    .cart-btn{
        margin: -8px 5px 0 0;
    }
    .make-call{
        margin: -7px 13px 0 0;
    }
    .social{
        margin: -8px 13px 0 0;
    }
    .phone-whatsapp{
        margin: 13px 17px 0 0;
    }
    .mail{
        margin: -6px 18px 0 0;
    }
    .main-banner-title{
        font-size: 31px;
        line-height: 42px;
        letter-spacing: 0.025em;
        padding: 61px 0 28px 22px;
    }
    .main-banner-sub-title{
        font-size: 19px;
        line-height: 29px;
        padding: 0 0 0 22px;
    }
    .main-banner-btn{
        padding: 62px 0 45px 22px;
    }
    .main-banner>img{
        right: -40%;
    }
    .good-roof-title{
        padding: 30px 0 22px 0;
    }
    .good-roof-block-icon svg{
        max-width: 39px;
        max-height: 39px;
    }
    .good-roof-block{
        padding: 0 0 42px 14px;
    }
    .good-roof-block-icon {
        line-height: 82px;
        height: 79px;
    }
    .good-roof-block-title{
        font-size: 19px;
        margin: -1px 0 0 0;
    }
    .good-roof-block-text{
        margin: 16px 0 0 0;
        font-size: 11px;
    }
    .good-roof-block-text p{
        margin: 0 0 7px 0;
    }
    .good-roof-block-btn{
        font-size: 9.45px;
        bottom: 21px;
        left: 13px;
        padding: 0 13px 0 0;
    }
    .good-roof-block-btn a:before{
        width: 5px;
        height: 8px;
        background-size: 100% 100%;
    }
    .why-we-title{
        margin: 25px 0 24px 0;
    }
    .why-we-right-title{
        margin: 0 0 13px 0;
    }
    .why-we-right{
        width: 304px;
    }
    .why-we-left{
        padding: 27px 0 0 0;
    }
    .why{
        margin: 0 0 57px 0;
    }
    .why-we-right p{
        margin: 0 0 23px 0;
    }
    .video{
        margin: 3px 0 38px 0;
    }
    .video iframe{
        height: 503px;
    }
    .pre-view-cer-left{
        padding: 0;
        width: 320px;
    }
    .pre-view-cer-title{
        margin: 0 0 14px 0;
    }
    .pre-view-cer-right{
        width: 400px;
    }
    .pre-view-cer-right .slick-slide{
        width: 187px;
        height: 268px;
        overflow: hidden;
        box-sizing: border-box;
        margin: 0 25px 0 0;
    }
    .pre-view-cer-right .slick-slide img{
        max-width: none;
        min-width: 100%;
        min-height: 100%;
    }
    .works-title{
        margin: 60px 0 28px 0;
    }
    .work-img{
        height: 170px;
    }
    .work-title{
        padding: 9px 0 22px 14px;
    }
    .work-title a{
        font-size: 16px;
    }
    .work-text{
        font-size: 11px;
        line-height: 14px;
        padding: 0 37px 0 14px;
    }
    .work{
        padding: 0 0 12px 0;
    }
    .work-btn{
        padding: 17px 0 0 14px;
    }
    .work-btn a{
        font-size: 9.4px;
        padding: 0 10px 0 0;
    }
    .work-btn a:before{
        width: 5px;
        height: 9px;
        background-size: 100% 100%;
    }
    .works-btn{
        padding: 8px 0 0 0;
    }
    .works-btn a{
        font-size: 9.5px;
        padding: 0 10px 0 0;
    }
    .works-btn a:before{
        width: 5px;
        height: 9px;
        background-size: 100% 100%;
    }
    .tabs-news{
        margin: 42px 0 0 0;
    }
    .tabs-news .ui-tabs-nav{
        margin: 0 0 13px 0;
    }
    .tabs-news .ui-tabs-nav li{
        margin: 0 17px 0 0;
    }
    .new.full .new-description{
        padding: 20px 0 42px 47px;
        box-sizing: border-box;
    }
    .new.full .new-title{
        margin: 0 0 9px 0;
    }
    .new.full .new-text{  
        padding: ;
        font-size: 15px;
        line-height: 18px;
    }
    .new.full .new-btn{
        left: 47px;
        bottom: 13px;
    }
    .new-img{
        height: 111px;
    }
    .new-description{
        padding: 24px 10px 40px 15px;
        box-sizing: border-box;
        height: calc(100% - 111px);
    }
    .new-title{
        margin: 0 0 10px 0;
    }
    .new-btn{
        bottom: 11px;
        left: 15px;
        padding: 17px 0 17px 0;
    }
    .feedbacks-section-title{
        margin: 37px 0 13px 0;
    }
    .feedback-img{
        width: 60px;
        height: 64px;
        margin: 0 0 0 0;
        top: -32px;
    }
    .feedback{
        width: 321px;
        padding: 0 0 48px 0;
    }
    .feedbacks-slider{
        padding: 0 36px;
        box-sizing: border-box;
    }
    .feedback-text{
        padding: 50px 0 0 0;
    }
    .feedback-bottom{
        bottom: 6px;
        left: 18px;
        right: 7px;
    }
    .feedbacks-slider .slick-prev.slick-arrow{
        left: 0;
    }
    .feedbacks-slider .slick-next.slick-arrow{
        right: 0;
    }
    .feedbacks-btn{
        padding: 16px 0 0 0;
    }
    .form-bg{
        margin: 76px 0 0 0;
    }
    .form-bg .container{
        padding: 3px 0 43px 21px;
    }
    .man{
        right: -157px;
    }
    footer>.container{
        padding: 25px 0 34px 0;
    }
    .footer-contacts{
        width: auto;
        padding: 0;
    }
    .news{
        display: flex;
        flex-wrap: wrap;
        column-gap: 20px;
    }
    .new-block{
        flex-basis: calc(33.33% - 14px);
        margin: 0 0 20px 0;
        max-width: none;
    }
}
@media (max-width: 767px){
    header{
        background: #e5e5e5;
    }
    .container{
        width: auto;
        margin: 0 13px;
    }
    .header-right>div.mail,
    .header-right>div.social,
    .header-right>div.make-call{
        display: none;
    }
    .logo{
        float: none;
        width: 100%;
        margin: 0 0 0 0;
        text-align: center;
    }
    .logo img{
        margin: 0 auto;
    }
    .main-menu-btn{
        width: 21px;
        height: 17px;
        position: relative;
        display: block;
        float: left;
        margin: 17px 0 0 4px;
    }
    .main-menu-btn span{
        display: block;
        width: 100%;
        height: 3px;
        background: #454545;
        position: absolute;
        left: 0;
    }
    .main-menu-btn span:nth-child(1){
        top: 0;
    }
    .main-menu-btn span:nth-child(2){
        top: 7px;
    }
    .main-menu-btn span:nth-child(3){
        bottom: 0;
    }
    .main-menu{
        display: none;
        position: absolute;
        top: 0;
        left: -13px;
        width: 100vw;
        box-sizing: border-box;
        z-index: 10;
        background: #F4F4F4;
        padding: 0 0 0 13px;
    }
    .main-menu.active{
        display: block;
    }
    .main-menu ul li{
        display: block;
        margin: 0 0 0 0;
    }
    .search-btn{
        position: absolute;
        right: 48px;
        bottom: 100%;
        margin: 0 0 -3px 0;
        padding: 0 0 0 0;
    }
    .bottom .container{
        position: relative;
    }
    .phone-whatsapp{
        width: 130px;
        left: 50%;
        margin: 12px 0 0 -82px;
        position: absolute;
    }
    .phone{
        font-size: 15px;
    }
    .whatsapp{
        margin: -9px 15px 0 0;
    }
    .cart-btn{
        margin: 14px 9px 0 0;
    }
    .search-btn svg{
        width: 18px !important;
        height: 18px !important;
    }
    header{
        padding: 14px 0 32px 0;
    }
    .main-banner-title{ 
        font-size: 25px;
        line-height: 36px;
        padding: 27px 0 6px 11px;
    }
    .main-banner-sub-title{
        font-size: 15px;
        padding: 0 0 0 10px;
    }
    .main-banner-btn{
        padding: 32px 0 56px 11px;
    }
    .good-roof-title{
        padding: 18px 20px 11px 20px;
    }
    .good-roof-block{
        flex-basis: 50%;
    }
    .good-roof-content{
        position: relative;
    }
    .good-roof-content:before{
        content: "";
        position: absolute;
        top: 0;
        left: -13px;
        width: 100vw;
        height: 100%;
        background: #F4F4F4;
        z-index: -1;
    }
    .good-roof-block:nth-child(2n){
        border-right: 0;
    }
    .good-roof-block:nth-child(2n):before{
        content: "";
        position: absolute;
        width: 100vw;
        height: 1px;
        background: #fff;
        bottom: 0;
        right: -13px;
    }
    .why,
    .why:nth-child(2), 
    .why:nth-child(5){
        flex-basis: 33.33%;
        margin: 0 0 17px 0;
    }
    .why-we-left{
        float: none;
        width: 100%;
    }
    .why-we-right{
        width: 100%;
        float: none;
        margin: 0 0 10px 0;
    }
    .why-we-title{
        margin: 28px 0 -7px 0;
    }
    .why-we-right-title{
        margin: 6px 0 13px 0;
    }
    .why-we-right p{
        margin: 0 0 13px 0;
    }
    .video{
        margin: 3px 0 27px 0;
    }
    .video iframe{
        height: 203px;
    }
    .pre-view-cer-left{
        width: 100%;
        float: none;
    }
    .pre-view-cer-title{
        text-align: center;
    }
    .pre-view-cer-right{
        width: 100%;
        float: none;
        margin: 13px 0 0 0;
    }
    .works-title{
        margin: 43px 0 17px 0;
    }
    .works-content{
        display: block;
        margin: 0 0 0 -13px;
    }
    .works-content .slick-list,
    .works-content .slick-track{
        overflow: inherit;
    }
    .work{
        width: 244px;
    }
    .works-btn{
        clear: both;
        text-align: left;
    }
    .tabs-news{
        margin: 38px 0 0 0;
    }
    .tabs-news .ui-tabs-nav{
        width: 600px;
    }
    .new.full .new-description{
        padding: 42px 25px 79px 20px;
        height: auto;
    }
    .new.full .new-title{
        margin: 0 0 22px 0;
    }
    .new.full .new-btn {
        left: 19px;
        bottom: 20px;
    }
    .new{
        flex-basis: 100%;
    }
    .new:nth-child(2) ~ div{
        display: none;
    }
    .new-description{
        padding: 24px 10px 58px 18px;
    }
    .new-btn {
        bottom: 5px;
        left: 17px;
    }
    .news-btn{
        padding: 18px 0 0 0;
    }
    .feedbacks-section-title{
        margin: 43px 0 13px 0;
    }
    .feedbacks-slider{
        padding: 0;
    }
    .feedback{
        margin: 33px 0 0 0;
        padding: 0 0 59px 0;
    }
    .feedback-text{
        font-size: 13px;
        line-height: 16px;
        padding: 47px 0 0 0;
    }
    .form-bg{
        margin: 41px 0 0 0;
    }
    .form-bg .container{
        padding: 3px 0 43px 4px;
    }
    .form-title .large{
        font-size: 34px;
        line-height: 44px;
        padding: 33px 0 0 0;
    }
    .form-title{
        margin: 0 0 27px 0;
    }
    .form-bg form .left{
        width: 100%;
        float: none;
        margin: 0;
    }
    .man{
        display: none;
    }
    .form-bg form .right{
        width: 100%;
        float: none;
    }
    .file{
        margin: 3px 0 23px 0;
    }
    .footer-column:nth-child(1){
        width: 160px;
    }
    footer>.container{
        padding: 21px 0 22px 0;
    }
    .footer-column:nth-child(3){
        float: none;
        clear: both;
        padding: 16px 0 16px 0;
    }
    .copyright{
        font-size: 9px;
        padding: 15px 0 18px 3px;
    }
    header{
        background: #fff;
    }
    .search-form form{
        width: auto;
        margin: 0 0;
    }
    .search-form{
        width: 100vw;
        left: -13px;
        padding: 10px 13px;
        box-sizing: border-box;
        margin: 31px 0 0 0;
    }
    .search-btn.active{
        position: absolute;
    }
    .main-menu{
        top: 31px;
    }
    .main-banner>img{
        max-width: none;
        height: 100%;
        left: 50%;
    }
    .main-banner-sub-title{
        font-family: 'FiraSansLight';
    }
    .footer-contacts{
        float: none;
    }
    .new-block{
        flex-basis: 100%;
    }
}