@font-face {
    font-family: 'MullerThin';
    src: url('MullerThin.eot');
    src: local('font/Muller Thin'), local('MullerThin'),
        url('font/MullerThin.eot?#iefix') format('embedded-opentype'),
        url('font/MullerThin.woff2') format('woff2'),
        url('font/MullerThin.woff') format('woff'),
        url('font/MullerThin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'MullerLight';
    src: url('MullerLight.eot');
    src: local('Muller Light'), local('MullerLight'),
        url('font/MullerLight.eot?#iefix') format('embedded-opentype'),
        url('font/MullerLight.woff2') format('woff2'),
        url('font/MullerLight.woff') format('woff'),
        url('font/MullerLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'MullerBold';
    src: url('MullerBold.eot');
    src: local('Muller Bold'), local('MullerBold'),
        url('font/MullerBold.eot?#iefix') format('embedded-opentype'),
        url('font/MullerBold.woff2') format('woff2'),
        url('font/MullerBold.woff') format('woff'),
        url('font/MullerBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'MullerBlack';
    src: url('MullerBlack.eot');
    src: local('Muller Black'), local('MullerBlack'),
        url('font/MullerBlack.eot?#iefix') format('embedded-opentype'),
        url('font/MullerBlack.woff2') format('woff2'),
        url('font/MullerBlack.woff') format('woff'),
        url('font/MullerBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
body{
	margin: 0;
    font-family: 'MullerLight';
}
ul,
ol{
	padding: 0;
	margin: 0;
	list-style: none;
}
*:focus{
	outline: 0;
}
img{
	max-width: 100%;
}
.clearfix:after{
	content: "";
	display: block;
	clear: both;
}
.container{
	width: 1170px;
	margin: 0 auto;
}
.attention{
	background: #eff7ef;
	border: 1px solid #e6f1e6;
}