@font-face {
    font-family: 'SeroPro-Light';
    src: url('fonts/SeroPro/SeroPro-Light.eot');
    src: local('fonts/SeroPro/SeroPro-Light'),
        url('fonts/SeroPro/SeroPro-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/SeroPro/SeroPro-Light.woff2') format('woff2'),
        url('fonts/SeroPro/SeroPro-Light.woff') format('woff'),
        url('fonts/SeroPro/SeroPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'SeroPro-Italic';
    src: url('fonts/SeroPro/SeroPro-Italic.eot');
    src: local('fonts/SeroPro/SeroPro-Italic'),
        url('fonts/SeroPro/SeroPro-Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/SeroPro/SeroPro-Italic.woff2') format('woff2'),
        url('fonts/SeroPro/SeroPro-Italic.woff') format('woff'),
        url('fonts/SeroPro/SeroPro-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'SeroPro-Black';
    src: url('fonts/SeroPro/SeroPro-Black.eot');
    src: local('fonts/SeroPro/SeroPro-Black'),
        url('fonts/SeroPro/SeroPro-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/SeroPro/SeroPro-Black.woff2') format('woff2'),
        url('fonts/SeroPro/SeroPro-Black.woff') format('woff'),
        url('fonts/SeroPro/SeroPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SeroPro-BlackItalic';
    src: url('fonts/SeroPro/SeroPro-BlackItalic.eot');
    src: local('fonts/SeroPro/SeroPro-BlackItalic'),
        url('fonts/SeroPro/SeroPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/SeroPro/SeroPro-BlackItalic.woff2') format('woff2'),
        url('fonts/SeroPro/SeroPro-BlackItalic.woff') format('woff'),
        url('fonts/SeroPro/SeroPro-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'SeroPro-Bold';
    src: url('fonts/SeroPro/SeroPro-Bold.eot');
    src: local('fonts/SeroPro/SeroPro-Bold'),
        url('fonts/SeroPro/SeroPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/SeroPro/SeroPro-Bold.woff2') format('woff2'),
        url('fonts/SeroPro/SeroPro-Bold.woff') format('woff'),
        url('fonts/SeroPro/SeroPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SeroPro-Medium';
    src: url('fonts/SeroPro/SeroPro-Medium.eot');
    src: local('fonts/SeroPro/SeroPro-Medium'),
        url('fonts/SeroPro/SeroPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/SeroPro/SeroPro-Medium.woff2') format('woff2'),
        url('fonts/SeroPro/SeroPro-Medium.woff') format('woff'),
        url('fonts/SeroPro/SeroPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SeroPro-BoldItalic';
    src: url('fonts/SeroPro/SeroPro-BoldItalic.eot');
    src: local('fonts/SeroPro/SeroPro-BoldItalic'),
        url('fonts/SeroPro/SeroPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/SeroPro/SeroPro-BoldItalic.woff2') format('woff2'),
        url('fonts/SeroPro/SeroPro-BoldItalic.woff') format('woff'),
        url('fonts/SeroPro/SeroPro-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'SeroPro';
    src: url('fonts/SeroPro/SeroPro.eot');
    src: local('fonts/SeroPro/SeroPro'),
        url('fonts/SeroPro/SeroPro.eot?#iefix') format('embedded-opentype'),
        url('fonts/SeroPro/SeroPro.woff2') format('woff2'),
        url('fonts/SeroPro/SeroPro.woff') format('woff'),
        url('/fonts/SeroPro/SeroPro/fonts/SeroPro/SeroPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
	margin: 0;
    font-family: 'SeroPro';
}
ul,
ol{
	padding: 0;
	margin: 0;
	list-style: none;
}
*:focus{
	outline: 0;
}
img{
	max-width: 100%;
}
.clearfix:after{
	content: "";
	display: block;
	clear: both;
}
.container{
	width: 1140px;
	margin: 0 auto;
}
button{
    cursor: pointer;
}
header{ 
    box-shadow: 0 3px 5px rgba(0,0,0,0.13);
}
nav{
    
}
img{
    max-width: 100%;
}
.top-menu ul li{
    margin: 0 23px 0 0;
    display: inline-flex;
}
.top-menu ul li:last-child{
    margin: 0;
}
.top-menu ul li a{
    font-size: 15px;
    color: #313131;
    text-decoration: none;
}
header>.container{
    display: flex;
    padding: 20px 0 18px 0;
    flex-wrap: wrap;
}
.header-right{
    display: inline-flex;
    margin: 0 0 0 auto;
}
.header-left{
}
.location{
    position: relative;
    padding: 0 0 0 12px;
    margin: 0 10px 0 0;
	text-transform: uppercase;
}
.location span{
    border-bottom: 1px dashed #014a92;
    font-family: 'SeroPro-Bold';
    color: #000000;
	padding: 0 0 4px 0;
    font-size: 15px;
}
.location:before{
    content: '';
    position: absolute;
    border-left: 1px solid #e5e5e5;
    height: 100%;
    left: -56px;
}
.location:after{
    content: '';
    position: absolute;
    background: url(../images/icons/location.png) no-repeat;
    width: 9px;
    height: 11px;
    top: 50%;
    left: -10px;
    transform: translate(0,-50%);
}
.phone{
    margin: 0 46px 0 40px;
}
.phone a{
    font-family: 'SeroPro-Bold';
    color: #000000;
    font-size: 15px;
    position: relative;
    padding: 0 0 0 25px;
    text-decoration: none;
}
.phone a:before{
    content: '';
    position: absolute;
    background: url(../images/icons/phone.png) no-repeat;
    width: 11px;
    height: 11px;
    top: 50%;
    left: 0;
    transform: translate(0,-50%);
}
.mail a{
    font-family: 'SeroPro';
    color: #000000;
    font-size: 15px;
    position: relative;
    padding: 0 0 0 25px;
    text-decoration: none; 
}
.mail a:before{
    content: '';
    position: absolute;
    background: url(../images/icons/mail.png) no-repeat;
    width: 14px;
    height: 11px;
    top: 50%;
    left: 0;
    transform: translate(0,-50%);
}
.logo{
    min-width: 230px;
    margin: 0 27px 0 0;
    align-items: center;
    display: flex;
}
.header-bottom{
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}
.header-bottom .container{
    display: flex;
}
.nav-bottom .container ul{
    
}
.nav-bottom .container ul li{
    width: 130px;
    text-align: center;
}
.nav-bottom .container ul li a{
    font-family: 'SeroPro-Medium';
    font-size: 15px;
}
.header-bottom .container{
    display: flex;
}
.header-bottom-menu{
    flex-grow: 1;
    font-size: 15px;
}
.header-bottom-menu ul{
    display: flex;
    align-items: stretch;
}
.header-bottom-menu ul li{
    display: flex;
    align-items: center;
    flex-grow: 1;
    border-left: 1px solid #e5e5e5;
    text-align: center;
}
.header-bottom-menu ul li:last-child{
    border-right: 1px solid #e5e5e5;
}
.header-bottom-menu ul li a{
    padding: 8.5px 0;
    display: block;
    min-width: 140px;
    color: #000;
    text-decoration: none;
    transition: 0.3s;
}
.header-bottom-menu ul li a:hover{
	background: 
}
.container.top{
    display: flex;
    flex-wrap: wrap;
}
.slider{
    width: 765px;
    float: left;
}
.slide{
    position: relative;
}
.slide-img{
    position: absolute;
    z-index: -1;
    width: 765px;
    height: 284px;
}
.slider h3{
    font-family: 'SeroPro-Light';
    padding: 56px 0 0 30px;
    font-size: 31px;
    margin: 0;
    color: #282828;
    font-weight: normal;
}
.slider h3 p,
.slider h3 span{
    font-family: 'SeroPro-bold';
    margin: 0;
}
.baner{
    position: relative;
    width: 375px;
    height: 284px;
    z-index: 1;
    overflow: hidden;
}
.baner img{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: none;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%,-50%);
}
/* slick slider */
.slick-list{
    overflow: hidden;
}
.slick-track{
    overflow: hidden;
}
.slick-slide{
    float: left;
}
/* slick slider */
.slick-dots{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
.slider{
    position: relative;
}
.slider .slick-slide{
    min-height: 284px;
    position: relative;
    z-index: 1;
}
.slider .slick-slide>img{
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: block;
    min-width: 100%;
    min-height: 100%;
    max-width: none;
}
.slick-dots{
    position: absolute;
    bottom: 22px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slick-dots li{
    display: inline-block;
    vertical-align: middle;
    margin: 0 6px;
}
.slick-dots li button{
    display: block;
    border: 0;
    background: #fff;
    width: 12px;
    height: 12px;
    padding: 0;
    border-radius: 50%;
    font-size: 0;
    opacity: 0.5;
    cursor: pointer;
    transition: 0.3s;
}
.slick-dots li button:hover{
    opacity: 1;
}
.slick-dots li.slick-active button{
    background: #004892;
    opacity: 1;
}
.baner-title{
    font-size: 31px;
    color: #fff;
    position: relative;
    z-index: 1;
    padding: 55px 0 0 30px;
}
.baner-title span{
    font-family: 'SeroPro-bold';
    color: #000;
}
.top-form{
    width: 100%;
}
.form-title{
    text-align: center;
    font-size: 27px;
    color: #282828;
    margin: 0 0 0 0;
}
.top-form form{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 15px 15px;
    width: 100%;
}
.top-form form input{
    border: 1px solid #dcdcdc;
    border-radius: 1px;
    font-size: 15px;
    color: #000;
    padding: 20px 15px 20px 56px;
    background-position: 24px center;
    background-repeat: no-repeat;
}
.top-form form input::placeholder{
    color: #8f8f8f;
}
.top-form form input,
.top-form form button{
    display: block;
    width: calc(25% - 45px / 3);
    box-sizing: border-box;
}
.top-form form input.f-user{
    background-image: url(../images/icons/f-user.png);
}
.top-form form input.f-phone{
    background-image: url(../images/icons/f-phone.png);
}
.top-form form input.f-location{
    background-image: url(../images/icons/f-location.png);
}
.top-form form button{
    border: 0;
    background: #004992;
    font-family: 'SeroPro-bold';
    font-size: 13px;
    color: #fff;
    border-radius: 1px;
    text-transform: uppercase;
}
.main-banner{
    background: #f7f7f7;
}
.manufacturers{
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}
.title{
    font-family: 'SeroPro-bold';
    font-size: 27px;
    color: #282828;
    text-transform: uppercase;
    text-align: center;
}
.manufacturers-title{
    margin: 0 0 0 0;
}
.manufacturers-all{
    text-align: center;
}
.manufacturers-all a{
    display: inline-block;
    position: relative;
    font-size: 15px;
    color: #004992;
    text-decoration: none;
}
.manufacturers-all a:after{
    content: "";
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #004992;
    position: absolute;
    bottom: 0;
    left: 0;
}
.manufacturers-all a:hover:after{
    display: none;
}
.manufacturers-all a:before{
    content: "";
    width: 5px;
    height: 10px;
    background: url(../images/icons/small-arrow.png) no-repeat;
    position: absolute;
    left: -23px;
    top: 10px;
}
.manufacturers-slider{
    position: relative;
}
.manufacturers-slider .slick-track{
    display: flex;
    align-items: center;
}
.manufacturers-slider .slick-slide{
    float: none;
}
.manufacturers-slider .slick-slide img{
    display: block;
}
.manufacturers .slick-arrow{
    width: 14px;
    height: 31px;
    background: url(../images/icons/arrow.png) center center no-repeat;
    border: 0;
    font-size: 0;
    position: absolute;
    top: 50%;
    margin: -15.5px 0 0 0;
}
.manufacturers .slick-prev.slick-arrow{
    left: -60px;
}
.manufacturers .slick-next.slick-arrow{
    right: -60px;
    transform: rotate(180deg);
}
.gray{
    background: #f7f7f7;
}
.direction-content{
    display: flex;
    flex-wrap: wrap;
}
.direction-content>*{
    flex-basis: 33.33%;
}
.direction-content>ul>li>a{
    font-size: 15px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'SeroPro-bold';
    display: block;
    position: relative;
    padding: 0 0 0 25px;
    max-width: 335px;
    letter-spacing: 1.5px;
}
.direction-content>ul>li>a:before{
    content: "";
    width: 5px;
    height: 10px;
    position: absolute;
    left: 0;
    top: 50%;
    margin: -5px 0 0 0;
    background: url(../images/icons/menu-arrow.png) no-repeat;
}
.direction-content>ul>li>ul{
    padding: 0 0 0 25px;
}
.direction-content>ul>li>ul li a{
    color: #313131;
    font-size: 15px;
    text-decoration: none;
}
.border-bottom{
    border-bottom: 1px solid #e5e5e5;
}
.news{
    grid-gap: 30px 30px;
    position: relative;
}
.new{
    max-width: 554px;
    width: calc(50% - 15px);
    position: relative;
}
.slick-track .new{
    margin: 0 30px 0 0;
}
.new-img{
    display: block;
    width: 100%;
    height: 284px;
    position: relative;
    overflow: hidden;
}
.new-img a{
    display: block;
    position: relative;
    widows: 100%;
    height: 100%;
}
.new-img a img{
    display: block;
    min-width: 100%;
    min-height: 100%;
    max-width: none;
    max-width: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.new-description{}
.new-title{
    font-size: 21px;
    line-height: 24px;
}
.new-title a{
    color: #000;
    text-decoration: none;
    display: block;
}
.new-date{
    font-size: 15px;
    color: #8f8f8f;
}
.new-text{
    font-size: 15px;
    line-height: 24px;
}
.new-btn{
    text-align: right;
}
.new-btn a{
    color: #004992;
    text-decoration: none;
    display: inline-block;
    position: relative;
    padding: 0 0 0 12px;
    background: url(../images/icons/small-arrow.png) left center no-repeat;
}
.new-btn a:hover{
    text-decoration: underline;
}
.news-slider .slick-arrow {
    width: 14px;
    height: 31px;
    background: url(../images/icons/arrow.png) center center no-repeat;
    border: 0;
    font-size: 0;
    position: absolute;
    top: 125px;
    margin: 0 0 0 0;
}
.news-slider .slick-prev.slick-arrow{
    left: -60px;
}
.news-slider .slick-next.slick-arrow{
    right: -60px;
    transform: rotate(180deg);
}
.done-projects{
    display: grid;
    grid-gap: 10px 10px;
    grid-auto-flow: dense;
    grid-template-columns: 1fr 1fr 1fr;
}
.col-1{
    grid-column: span 1;
}
.col-2{
    grid-column: span 2;
}
.col-3{
    grid-column: span 3;
}
.row-1{
    grid-row: span 1;
}
.row-2{
    grid-row: span 2;
}
.row-3{
    grid-row: span 3;
}
.done-project{
    position: relative;
    overflow: hidden;
    min-height: 280px;
}
.done-project a{
    display: block;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
}
.done-project img{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: none;
    min-width: 100%;
    min-height: 100%;
}
.done-project-hidden{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    z-index: 1;
    padding: 0 45px 30px 35px;
    box-sizing: border-box;
    opacity: 0;
    transition: 0.7s;
}
.done-project:hover .done-project-hidden{
    opacity: 1;
}
.done-project-hidden p{
    margin: 0;
}
.our-contacts{
    display: flex;
    flex-wrap: wrap;
}
.our-contacts .title{
    flex-basis: 100%;
}
.contact-block{
    flex-basis: 20%;
    box-sizing: border-box;
    padding: 0 0 0 20px;
    position: relative;
}
.contact-block:before{
    content: "";
    width: 5px;
    height: 10px;
    background: url(../images/icons/small-arrow.png) no-repeat;
    position: absolute;
    top: 5px;
    left: 0;
}
.contact-block-title{
    font-family: 'SeroPro-bold';
    text-transform: uppercase;
    font-size: 15px;
    color: #004992;
    margin: 0 0 15px 0;
}
.contact-block p{
    margin: 0 0 10px 0;
    font-size: 15px;
}
.contact-block p a{
    color: #004992;
    text-decoration: none;
}
.contact-block p a:hover{
    text-decoration: underline;
}
footer{
    background: #004992;
}
footer>.container{
    display: flex;
    align-items: flex-start;
}
.footer-logo{}
.footer-logo a{
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
}
.footer-logo a img{}
.footer-logo a span{}
.footer-nav{}
.footer-nav ul{
    display: flex;
    flex-wrap: wrap;
}
.footer-nav ul li{
    flex-basis: 50%;
}
.footer-nav ul li a{
    color: #fff;
    text-decoration: none;
}
.footer-form{}
.footer-form-title{
    font-size: 15px;
    color: #fff;
}
.footer-form form{
    position: relative;
}
.footer-form input{
    width: 360px;
    font-size: 15px;
    border: 1px solid #dcdcdc;
    border-radius: 1px;
    color: #000;
    box-sizing: border-box;
    font-family: 'SeroPro';
    padding: 13.5px 50px 13.5px 56px;
    background: #fff url(../images/icons/footer-mail.png) 10px center no-repeat;
}
.footer-form input::placeholder{
    color: #8f8f8f;
}
.footer-form button{
    display: block;
    border: 0;
    width: 39px;
    height: 37px;
    background: #004992 url(../images/icons/white-arrow.png) center center no-repeat;
    position: absolute;
    top: 50%;
    margin: -18.5px 0 0 0;
    right: 6px;
}
.footer-form button:hover{
    background-color: #dcdcdc;
}