@font-face {
    font-family: 'TTFirs';
    src: url('TTFirs-Medium.eot');
    src: url('TTFirs-Medium.eot?#iefix') format('embedded-opentype'),
        url('TTFirs-Medium.woff2') format('woff2'),
        url('TTFirs-Medium.woff') format('woff'),
        url('TTFirs-Medium.ttf') format('truetype'),
        url('TTFirs-Medium.svg#TTFirs-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

