@font-face {
    font-family: 'Gotham Pro Black Italic';
    src: local('Gotham Pro Black Italic'), local('Gotham-Pro-Black-Italic'),
        url('fonts/GothamPro-BlackItalic/GothamPro-BlackItalic.woff2') format('woff2'),
        url('fonts/GothamPro-BlackItalic/GothamPro-BlackItalic.woff') format('woff'),
        url('fonts/GothamPro-BlackItalic/GothamPro-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
  }
@font-face {
    font-family: 'Gotham Pro Bold';
    src: local('Gotham Pro Bold'), local('Gotham-Pro-Bold'),
        url('fonts/GothamPro-Bold/GothamPro-Bold.woff2') format('woff2'),
        url('fonts/GothamPro-Bold/GothamPro-Bold.woff') format('woff'),
        url('fonts/GothamPro-Bold/GothamPro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
body{
	margin: 0;
}
ul,
ol{
	padding: 0;
	margin: 0;
	list-style: none;
}
*:focus{
	outline: 0;
}
img{
	max-width: 100%;
}
.clearfix:after{
	content: "";
	display: block;
	clear: both;
}
.container{
	width: 100%;
	height: 100vh;
    overflow: hidden;
}
.banner{
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    background: url(../images/baner.png) right center no-repeat;
    z-index: 1;
}
.banner:before{
    position: absolute;
    content: '';
    background: #1D70B7;
    transform: skew(-20deg);
    width: 70%;
    height: 100%;
    z-index: -1;
    left: -20%;
}
.banner:after{
    position: absolute;
    content: '';
    background: url(../images/right-top.svg) no-repeat;
    top: 0;
    right: 0;
    width: 959px;
    height: 812px;
    z-index: -2;
}
.logo{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 100%;
    margin: 100px 0 0 0;
    justify-content: center;
}
.banner-title{
    font-family: 'Gotham Pro Black Italic';
    width: 986px;
    text-align: center;
    font-size: 92px;
    line-height: 110px;
    text-transform: uppercase;
    color: #fff;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin: 34px 0 0 120px;
}
.banner-btn{
    width: 100%;
}
.banner-btn a{
    color: #29235C;
    line-height: 16px;
    padding: 15px 60px;
    background: #FCEE18;
    border-radius: 86px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Gotham Pro Bold';
}
.banner-btn a:hover{
    color: #FCEE18;
    background: #29235C;
    transition: 0.3s;
}
.banner-bottom{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 100%;
    justify-content: flex-end;
}