@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial;
  color: #3C3C3B;
  font-weight: 300; }

.wrapper {
  min-height: 100vh;
  overflow: hidden; }
  .wrapper.main {
    background: url(../images/mainBg.jpg) bottom center no-repeat;
    display: block; }
    .wrapper.main .link {
      margin: 38px 0 0 0; }

.mainTop {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 29px 47px 50px 47px;
  box-sizing: border-box;
  background: #fff;
  font-size: 14px; }
  .mainTop .mainTop-right {
    margin: 0 0 0 auto; }
    .mainTop .mainTop-right a {
      font-weight: 700;
      color: #006843;
      text-decoration: none; }

*:focus {
  outline: 0; }

.mainContainer {
  margin: 0 auto;
  position: relative;
  z-index: 1; }
  .mainContainer:before {
    content: "";
    width: 100%;
    height: calc(100% - 50px);
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background: #fff; }
  .mainContainer:after {
    position: absolute;
    left: 0;
    top: calc(100% - 60px);
    content: "";
    width: 100%;
    height: 173px;
    background: url(../images/mainPlug.svg) bottom center no-repeat;
    z-index: -1; }
  .mainContainer .mainContainer-content {
    width: 360px;
    margin: 0 auto; }
  .mainContainer .mainLogo a {
    width: 100%;
    display: block;
    text-decoration: none; }
    .mainContainer .mainLogo a img {
      display: block;
      margin: 0 auto; }
  .mainContainer .mainLogo span {
    display: block;
    text-align: center;
    font-weight: 500;
    color: #006843;
    font-size: 24px;
    margin: 38px 0 0 0; }

.mainTitle {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  margin: 36px -50% 16px -50%; }

.tabs-nav ul {
  padding: 0;
  margin: 0 0 28px 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; }
  .tabs-nav ul li {
    display: inline-block;
    vertical-align: middle; }
    .tabs-nav ul li a {
      display: block;
      text-decoration: none;
      font-size: 12px;
      color: #3C3C3B;
      position: relative;
      z-index: 1;
      cursor: pointer; }
    .tabs-nav ul li.active a {
      color: green; }
      .tabs-nav ul li.active a:after {
        content: "";
        width: 100%;
        height: 2px;
        bottom: -2px;
        left: 0;
        background: #006843;
        position: absolute;
        z-index: -1; }

.tabs-nav .tab-content {
  display: none; }
  .tabs-nav .tab-content.active {
    display: block; }

.choose-country {
  position: absolute;
  padding: 0 0 0 12px;
  left: 0;
  top: 0;
  bottom: 0;
  margin: 0 0;
  width: 40px;
  box-sizing: border-box; }
  .choose-country .choose-country-cont {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0 29px 0 0;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    align-items: center; }
    .choose-country .choose-country-cont:after {
      content: "";
      width: 10px;
      height: 10px;
      display: block;
      position: absolute;
      background: url(../images/icons/plug.svg) no-repeat;
      right: 0;
      top: -50%;
      bottom: -50%;
      margin: auto 0; }
    .choose-country .choose-country-cont img {
      max-width: 14px; }
  .choose-country .choose-country-drop {
    position: absolute;
    width: 100%;
    left: 0;
    top: calc(100% + 5px);
    z-index: 1;
    box-sizing: border-box;
    display: none;
    padding: 0 0 0 12px; }
    .choose-country .choose-country-drop > div {
      margin: 0 0 5px 0; }
      .choose-country .choose-country-drop > div:last-child {
        margin: 0; }
      .choose-country .choose-country-drop > div img {
        display: block;
        max-width: 14px; }
  .choose-country.active .choose-country-drop {
    display: block; }

input {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-family: 'Roboto', Arial;
  height: 24px;
  box-sizing: border-box;
  border: 0.5px solid #006843;
  border-radius: 5px;
  color: #3C3C3B;
  width: 100%;
  padding: 0 11px;
  margin: 0 0 15px 0; }
  input::placeholder {
    color: rgba(50, 50, 50, 0.5); }

.main-form {
  position: relative;
  margin: 0 0 34px 0; }
  .main-form input {
    padding-left: 48px; }

button,
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 170px;
  height: 24px;
  box-sizing: border-box;
  padding: 0 10px;
  border: 1px solid #006843;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Roboto', Arial;
  font-weight: 500;
  color: #3C3C3B;
  background: none;
  font-size: 12px;
  margin: 0 auto;
  text-decoration: none; }
  button:hover,
  .btn:hover {
    background: #006843;
    color: #fff; }
  button.main-btn,
  .btn.main-btn {
    margin: 34px auto 0 auto; }

.link {
  font-weight: 500;
  font-size: 12px;
  color: #006843; }
  .link.center {
    text-align: center;
    display: block; }
  .link:hover {
    text-decoration: none; }

.code {
  margin: 39px 0 0 0; }

.required {
  position: relative;
  margin: 0 0 15px 0; }
  .required:before {
    content: "";
    width: 8px;
    height: 8px;
    background: url(../images/icons/required.svg) no-repeat;
    display: block;
    position: absolute;
    right: calc(100% + 4.5px);
    top: 8px;
    bottom: 0;
    margin: 0 0; }

.requiredDescrition {
  width: 460px;
  font-size: 10px;
  line-height: 12px;
  color: rgba(0, 0, 0, 0.5);
  margin: 0 0 18px 0; }

.reg {
  margin: 38px 0 0 0;
  padding: 0 0 60px 0; }
  .reg .main-form {
    margin: 0; }
  .reg .jq-selectbox {
    margin: 0 0 20px 0; }
  .reg button {
    margin: 60px auto 0 auto; }

.checkbox-goup {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 5px 0 0 0; }
  .checkbox-goup .checkbox-goup__label {
    font-size: 12px;
    font-weight: 500;
    color: #006843;
    margin: 0 19px 0 0; }
  .checkbox-goup .checkbox-goup__content {
    flex-grow: 1; }

.checkbox {
  margin: 0 0 19px 0; }
  .checkbox input {
    display: none; }
    .checkbox input:checked + label:before {
      background: #006843 url(../images/icons/check.svg) center center no-repeat; }
  .checkbox label {
    display: block;
    position: relative;
    padding: 0 0 0 33px;
    cursor: pointer;
    font-size: 12px;
    line-height: 14px;
    color: #3C3C3B;
    font-weight: 300; }
    .checkbox label:before {
      content: "";
      width: 22px;
      height: 22px;
      border: 1px solid #006843;
      border-radius: 5px;
      position: absolute;
      top: -50%;
      bottom: -50%;
      left: 0;
      margin: auto 0;
      background: #fff;
      box-sizing: border-box; }
    .checkbox label a {
      color: #006843; }
      .checkbox label a:hover {
        text-decoration: none; }
  .checkbox.medium label {
    font-weight: 500; }
  .checkbox.small {
    margin: 27px 0 15px 0; }
    .checkbox.small label {
      padding: 0 0 0 33px; }
      .checkbox.small label:before {
        width: 16px;
        height: 16px;
        top: -2px;
        bottom: auto;
        margin: 0 0; }

.jq-selectbox {
  position: relative; }
  .jq-selectbox select {
    display: none; }
  .jq-selectbox .jq-selectbox__select {
    display: flex;
    align-items: center;
    position: relative;
    height: 24px;
    box-sizing: border-box;
    border: 1px solid #006843;
    border-radius: 5px;
    padding: 0 40px 0 11px;
    font-size: 12px;
    color: #3C3C3B;
    cursor: pointer;
    background: #fff; }
    .jq-selectbox .jq-selectbox__select:before {
      content: "";
      width: 11px;
      height: 8px;
      background: url(../images/icons/select.svg) bottom no-repeat;
      position: absolute;
      top: -50%;
      bottom: -50%;
      margin: auto 0;
      right: 21px; }
  .jq-selectbox .jq-selectbox__dropdown {
    width: 100%;
    box-sizing: border-box;
    z-index: 10;
    background: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    border: 1px solid #006843;
    border-radius: 5px;
    padding: 13px 10px 15px 10px; }
    .jq-selectbox .jq-selectbox__dropdown ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      .jq-selectbox .jq-selectbox__dropdown ul li {
        font-size: 12px;
        cursor: default; }
        .jq-selectbox .jq-selectbox__dropdown ul li:hover, .jq-selectbox .jq-selectbox__dropdown ul li.selected {
          color: #F7901E; }

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 101px;
  box-sizing: border-box;
  padding: 25px 47px 0 25px; }
  header .logo {
    padding: 0 0 0 0;
    display: flex;
    align-items: center; }
    header .logo a {
      display: block;
      text-decoration: none; }
      header .logo a img {
        display: block;
        width: 220px; }
    header .logo span {
      display: block;
      font-size: 24px;
      font-weight: 500;
      color: #006843;
      margin: 0 0 0 92px; }

.left-bar {
  flex: 0 0 317px;
  min-height: calc(100vh - 101px);
  position: relative;
  box-sizing: border-box;
  padding: 0 30px 0 13px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; }
  .left-bar:after {
    content: "";
    position: absolute;
    right: 0;
    width: 1px;
    top: 60px;
    bottom: 61px;
    background: #BBBBBB; }
  .left-bar .copyright {
    font-size: 14px;
    font-weight: 400;
    margin: auto 0 58px 0; }
    .left-bar .copyright a {
      color: #006843;
      text-decoration: none; }
      .left-bar .copyright a:hover {
        text-decoration: underline; }

.right-bar {
  flex-grow: 1;
  padding: 0 0 0 20px;
  max-width: calc(100% - 250px);
  box-sizing: border-box; }
  .right-bar > p {
    font-size: 18px; }

.main-menu {
  margin: 43px 0 0 0;
  font-weight: 400;
  font-size: 14px; }
  .main-menu > ul {
    padding: 0;
    margin: 0;
    list-style: none; }
    .main-menu > ul > li {
      margin: 0 0 8px 0; }
      .main-menu > ul > li:last-child {
        margin: 0; }
      .main-menu > ul > li > a {
        display: flex;
        height: 57px;
        align-items: center;
        color: #3C3C3B;
        text-decoration: none;
        padding: 0 0 0 49px;
        position: relative;
        border-radius: 10px; }
        .main-menu > ul > li > a img {
          display: block;
          position: absolute;
          top: -50%;
          bottom: -50%;
          left: 25px;
          transform: translate(-50%, 0);
          margin: auto 0; }
        .main-menu > ul > li > a.active {
          background: rgba(177, 178, 178, 0.2); }
      .main-menu > ul > li.active > a, .main-menu > ul > li:hover > a {
        background: rgba(177, 178, 178, 0.2); }
      .main-menu > ul > li.active ul {
        display: block; }
      .main-menu > ul > li ul {
        display: none;
        font-size: 14px;
        padding: 0 0 0 49px;
        margin: 12px 0 0 0;
        list-style: none; }
        .main-menu > ul > li ul li {
          margin: 0 0 22px 0; }
          .main-menu > ul > li ul li:last-child {
            margin: 0; }
          .main-menu > ul > li ul li a {
            color: #3C3C3B;
            display: block;
            position: relative;
            text-decoration: none; }
            .main-menu > ul > li ul li a:after {
              content: "";
              width: 8px;
              height: 8px;
              position: absolute;
              top: -50%;
              bottom: -50%;
              margin: auto 0;
              background: #006843;
              border-radius: 50%;
              left: -22px; }

.search {
  position: relative;
  margin: -5px 0 0 70px; }
  .search form {
    width: 462px;
    box-sizing: border-box;
    padding: 0 0 0 25px;
    position: relative;
    box-sizing: border-box;
    border-left: 2px solid #006843; }
    .search form input {
      width: 100%;
      border: 0;
      height: auto;
      height: 38px;
      padding: 0 0 0 33px;
      font-size: 14px;
      color: #006843;
      opacity: 0.4;
      border-bottom: 1px solid #BBBBBB;
      border-radius: 0;
      margin: 0; }
      .search form input:focus {
        opacity: 1; }
      .search form input::placeholder {
        color: #006843; }
    .search form button {
      border: 0;
      position: absolute;
      top: -50%;
      bottom: -50%;
      margin: auto 0;
      left: 25px;
      min-width: 0;
      padding: 0;
      width: auto;
      border-radius: 0;
      opacity: 0.4; }
      .search form button:hover {
        background: none;
        opacity: 1; }

.content {
  width: 100%;
  display: flex; }

.header-right {
  display: flex;
  align-items: center;
  margin: 0 0 0 auto; }
  .header-right .name {
    font-size: 18px;
    font-weight: 400;
    margin: 0 18px 0 23px; }
    .header-right .name a {
      color: #F7901E;
      font-weight: 300;
      text-decoration: none; }
      .header-right .name a:hover {
        text-decoration: underline; }
  .header-right > p {
    font-size: 18px; }

.log-out {
  display: flex;
  align-items: center;
  color: #006843;
  font-size: 12px; }
  .log-out:hover {
    text-decoration: none; }
  .log-out img {
    display: block;
    margin: 0 5px 0 0; }

.notification {
  width: 58px;
  height: 58px;
  box-sizing: border-box;
  border: 2px solid #006843;
  border-radius: 50%;
  position: relative;
  text-decoration: none;
  color: #fff;
  background: url(../images/icons/notification.svg) center center no-repeat; }
  .notification span {
    display: flex;
    align-items: center;
    position: absolute;
    top: -2px;
    right: 2px;
    background: #F7901E;
    justify-content: center;
    font-size: 13px;
    font-weight: 500;
    width: 18px;
    height: 18px;
    border-radius: 50%; }

h1 {
  margin: 0;
  font-weight: 500;
  padding: 0;
  font-size: 24px;
  color: #F7901E; }

.top {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  margin: 0 0 0 0; }
  .top h1 {
    margin: 0 30px 27px 0; }

.main-menu-btn {
  display: none; }

.toggle {
  cursor: pointer; }

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  margin: 2px 0 34px 0;
  min-height: 14.4px; }
  .breadcrumbs a {
    display: block;
    color: #3C3C3B;
    text-decoration: none;
    position: relative;
    margin: 0 21px 0 0; }
    .breadcrumbs a:after {
      content: "";
      width: 5px;
      height: 8px;
      background: url(../images/icons/breadcrumbs.svg) no-repeat;
      position: absolute;
      top: -50%;
      bottom: -50%;
      margin: auto 0 auto 8px;
      left: 100%; }
    .breadcrumbs a:last-child {
      margin: 0; }
      .breadcrumbs a:last-child:after {
        display: none; }

.tabs .tabs-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 500;
  color: #3C3C3B;
  display: flex;
  align-items: center;
  flex-wrap: wrap; }
  .tabs .tabs-navigation ul li {
    margin: 0 30px 10px 0; }
    .tabs .tabs-navigation ul li a {
      cursor: pointer;
      position: relative;
      display: block; }
    .tabs .tabs-navigation ul li.active a:after {
      content: "";
      display: block;
      background: #006843;
      height: 2px;
      width: 100%;
      position: absolute;
      bottom: -2px;
      left: 0; }

.tabs .tabs-con {
  display: none; }
  .tabs .tabs-con.active {
    display: block; }
    .tabs .tabs-con.active.flexTop {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap; }

.tabs-con .projectService-title:first-child {
  margin-top: 0; }

.tableAdaptive .group-btns.right {
  text-align: right; }

.tableAdaptive table {
  width: 100%;
  border-spacing: 0 15px;
  border: 0;
  margin: 0;
  padding: 0; }
  .tableAdaptive table tr {
    margin: 0 0 15px 0; }
    .tableAdaptive table tr th {
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      color: #3C3C3B;
      padding: 12px 7px 12px 14px;
      text-align: left;
      height: 53px;
      position: relative; }
      .tableAdaptive table tr th:first-child {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px; }
      .tableAdaptive table tr th:last-child {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px; }
        .tableAdaptive table tr th:last-child:after {
          display: none; }
      .tableAdaptive table tr th:after {
        content: "";
        width: 1px;
        top: 12px;
        bottom: 12px;
        background: #BBBBBB;
        position: absolute;
        right: 0;
        display: block; }
      .tableAdaptive table tr th[align="center"] {
        padding-left: 0;
        padding-right: 0;
        text-align: center; }
    .tableAdaptive table tr.top-text th {
      vertical-align: top; }
      .tableAdaptive table tr.top-text th:first-child {
        vertical-align: middle; }
    .tableAdaptive table tr td {
      font-size: 12px;
      line-height: 14px;
      height: 53px;
      padding: 12px 7px 12px 14px;
      position: relative; }
      .tableAdaptive table tr td .red {
        color: #EF1414; }
      .tableAdaptive table tr td .green {
        color: #006843; }
      .tableAdaptive table tr td:first-child {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px; }
      .tableAdaptive table tr td:last-child {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px; }
        .tableAdaptive table tr td:last-child:after {
          display: none; }
      .tableAdaptive table tr td:after {
        content: "";
        width: 1px;
        top: 12px;
        bottom: 12px;
        background: #BBBBBB;
        position: absolute;
        right: 0;
        display: block; }
      .tableAdaptive table tr td[align="center"] {
        padding-left: 0;
        padding-right: 0; }
    .tableAdaptive table tr.thin td {
      min-height: 0;
      padding-top: 5px;
      padding-bottom: 5px;
      height: auto;
      color: #006843; }
      .tableAdaptive table tr.thin td .checkbox label {
        color: #006843; }
      .tableAdaptive table tr.thin td:after {
        display: none; }
      .tableAdaptive table tr.thin td .checkbox {
        margin: 0; }
    .tableAdaptive table tr.light td {
      padding: 4px 5px;
      height: 23px; }
      .tableAdaptive table tr.light td:after {
        top: 4px;
        bottom: 4px; }
    .tableAdaptive table tr.center td,
    .tableAdaptive table tr.center th {
      text-align: center; }
    .tableAdaptive table tr.gray {
      background: rgba(177, 178, 178, 0.2); }
    .tableAdaptive table tr.green {
      background: rgba(55, 203, 52, 0.2); }
    .tableAdaptive table tr.red {
      background: rgba(205, 52, 42, 0.2); }
    .tableAdaptive table tr.lightGreen {
      background: rgba(184, 255, 182, 0.2); }
    .tableAdaptive table tr.orange {
      background: rgba(247, 144, 30, 0.2); }
    .tableAdaptive table tr.blue {
      background: rgba(101, 154, 255, 0.2); }
    .tableAdaptive table tr.white {
      background: none; }
      .tableAdaptive table tr.white td {
        border-top: 1px solid #BDBDBD;
        border-bottom: 1px solid #BDBDBD; }
        .tableAdaptive table tr.white td:last-child {
          border-right: 1px solid #BDBDBD; }
        .tableAdaptive table tr.white td:first-child {
          border-left: 1px solid #BDBDBD; }
    .tableAdaptive table tr.orange-dark {
      background: #FECF9B; }
    .tableAdaptive table tr.green-dark {
      background: #37FF9F; }
    .tableAdaptive table tr.img {
      padding: 0;
      border-radius: 0;
      background: none;
      display: block; }

.diagramm {
  display: block; }

.overfloww-auto {
  max-width: 1101px;
  max-height: 813px;
  width: 100%;
  overflow: auto;
  padding: 0 7px 0 0;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  margin: 0 0 30px 0; }
  .overfloww-auto table {
    width: 100%; }
  .overfloww-auto.similar {
    max-height: inherit; }
    .overfloww-auto.similar table {
      margin: 0;
      width: 100%;
      border: 0;
      border-spacing: 0;
      padding: 0;
      font-size: 12px; }
      .overfloww-auto.similar table .red {
        color: #FF0000; }
      .overfloww-auto.similar table.text-center {
        text-align: center; }
      .overfloww-auto.similar table b {
        font-weight: 500; }
      .overfloww-auto.similar table tr th {
        font-weight: 500;
        background: rgba(177, 178, 178, 0.2);
        border: 0.5px solid #3C3C3B;
        height: 40px; }
      .overfloww-auto.similar table tr td {
        border: 0.5px solid #3C3C3B;
        height: 20px; }
        .overfloww-auto.similar table tr td:last-child {
          border-right-width: 1px; }
        .overfloww-auto.similar table tr td:first-child {
          border-left-width: 1px; }
        .overfloww-auto.similar table tr td.empty {
          border: 0; }
      .overfloww-auto.similar table tr.empty td {
        border: 0; }
  .overfloww-auto {
    /* полоса прокрутки (скроллбар) */
    /* ползунок скроллбара */ }
    .overfloww-auto::-webkit-scrollbar {
      width: 7px;
      /* ширина для вертикального скролла */
      height: 7px;
      background-color: #F1F1F1;
      border-radius: 3.5px; }
    .overfloww-auto::-webkit-scrollbar-thumb {
      background-color: #F7901E;
      border-radius: 3.5px; }
  .overfloww-auto table {
    margin: -15px 0 0 0; }

.tableGreen {
  color: #006843;
  font-weight: 400;
  font-size: 14px; }

.projectService {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  margin: 0 0 23px 0; }
  .projectService.top {
    align-items: flex-start; }
  .projectService .projectService-label {
    flex: 0 0 183px;
    box-sizing: border-box;
    padding: 0 10px 0 0;
    font-size: 12px;
    line-height: 14px; }
    .projectService .projectService-label > a {
      color: #F7901E;
      font-size: 12px;
      display: block; }
      .projectService .projectService-label > a:hover {
        text-decoration: none; }
    .projectService .projectService-label.long {
      flex: 0 0 225px; }
    .projectService .projectService-label.longest {
      flex: 0 0 448px; }
  .projectService .projectService-content {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    max-width: calc(100% - 183px);
    font-size: 12px; }
    .projectService .projectService-content input.long {
      width: 275px; }
    .projectService .projectService-content input.longest {
      width: 488px; }
    .projectService .projectService-content input.shorter {
      width: 107px; }
    .projectService .projectService-content input.shortest {
      width: 74px; }
    .projectService .projectService-content .requiered {
      position: relative; }
      .projectService .projectService-content .requiered > * {
        margin-bottom: 0; }
      .projectService .projectService-content .requiered:before {
        content: "";
        width: 8px;
        height: 8px;
        background: url(../images/icons/required.svg) no-repeat;
        position: absolute;
        right: 100%;
        top: -50%;
        bottom: -50%;
        margin: auto 6px auto 0; }
      .projectService .projectService-content .requiered.ok:before {
        background: url(../images/icons/requiredOk.svg) no-repeat; }
    .projectService .projectService-content.group {
      margin-bottom: -15px; }
      .projectService .projectService-content.group > div {
        margin-right: 30px;
        margin-bottom: 15px; }
        .projectService .projectService-content.group > div:last-child {
          margin-right: 0; }
    .projectService .projectService-content > a {
      color: #006843; }
      .projectService .projectService-content > a:hover {
        text-decoration: none; }
    .projectService .projectService-content .row {
      width: 100%; }
    .projectService .projectService-content .column {
      margin: 0 30px 0 0; }
      .projectService .projectService-content .column:last-child {
        margin: 0; }
    .projectService .projectService-content .jq-selectbox__select {
      min-width: 275px; }
    .projectService .projectService-content .short .jq-selectbox__select {
      min-width: 181px; }
    .projectService .projectService-content > input {
      width: 297px;
      margin: 0; }
      .projectService .projectService-content > input.short {
        width: 181px; }
    .projectService .projectService-content textarea {
      border: 1px solid #006843;
      min-width: 297px;
      height: 102px;
      box-sizing: border-box;
      border-radius: 5px;
      padding: 5px 11px;
      font-family: 'Roboto', Arial;
      color: #3C3C3B; }
      .projectService .projectService-content textarea::placeholder {
        color: #3C3C3B;
        font-weight: 300;
        font-size: 12px; }
      .projectService .projectService-content textarea.longest {
        width: 498px;
        max-width: 100%; }

.downloadLabel input[type="file"] {
  display: none; }

.downloadLabel label {
  display: inline-flex;
  height: 24px;
  border: 1px solid #006843;
  padding: 0 9px;
  border-radius: 5px;
  align-items: center;
  font-weight: 500;
  cursor: pointer; }
  .downloadLabel label:hover {
    color: #fff;
    background: #006843; }

.form-to {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 12px;
  line-height: 14px; }
  .form-to > div {
    display: flex;
    align-items: center;
    margin: 0 0 0 16px; }
    .form-to > div:first-child {
      margin-left: 0; }
  .form-to input {
    margin: 0 0 0 12px;
    width: 65px; }

.jq-select-multiple {
  min-width: 297px;
  border: 1px solid #006843;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 4px 6px 5px 0;
  height: 117px; }
  .jq-select-multiple select {
    display: none; }
  .jq-select-multiple ul {
    height: 100% !important;
    padding: 0 0 0 10px;
    list-style: none;
    margin: 0;
    font-size: 12px;
    line-height: 14px;
    margin: 0 0 4px 0;
    overflow: auto;
    /* ползунок скроллбара */ }
    .jq-select-multiple ul li {
      margin: 0 0 4px 0;
      cursor: default; }
      .jq-select-multiple ul li:hover {
        color: #F7901E; }
      .jq-select-multiple ul li.selected {
        color: #006843;
        font-weight: 500; }
    .jq-select-multiple ul::-webkit-scrollbar {
      width: 7px;
      /* ширина для вертикального скролла */
      background-color: #F1F1F1;
      border-radius: 3.5px; }
    .jq-select-multiple ul::-webkit-scrollbar-thumb {
      background-color: #F7901E;
      border-radius: 3.5px; }

.projectService-btns {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 80px 0 50px 0; }
  .projectService-btns button {
    margin: 0 20px 0 0;
    min-width: 107px; }

.projectServices {
  display: flex;
  align-items: baseline;
  margin: 40px 0 0 0; }
  .projectServices .projectService {
    display: inline-flex;
    margin-left: 30px; }
    .projectServices .projectService:first-child {
      margin-left: 0; }

.tableAdaptive-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end; }
  .tableAdaptive-btns a {
    margin: 0 0 7px 10px;
    min-width: 107px; }
    .tableAdaptive-btns a:first-child {
      margin: 0; }

.newRequiries {
  width: 450px;
  margin: 0 0 0 9px; }
  .newRequiries .newRequiries-top {
    background: rgba(177, 178, 178, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 12px 0;
    border-radius: 10px;
    margin: 0 0 15px 0; }
    .newRequiries .newRequiries-top .newRequiries-top__left {
      font-size: 18px;
      font-weight: 500;
      color: #006843; }
    .newRequiries .newRequiries-top .newRequiries-top__num {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      font-weight: 700;
      color: #F7901E;
      width: 53px;
      height: 53px;
      box-sizing: border-box;
      border: 2px solid #006843;
      border-radius: 50%; }
  .newRequiries .newRequiries-th {
    background: rgba(177, 178, 178, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 12px 0;
    border-radius: 10px;
    margin: 0 0 15px 0;
    font-size: 18px;
    font-weight: 500; }
    .newRequiries .newRequiries-th > div {
      width: 50%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      min-height: 53px;
      box-sizing: border-box;
      border-right: 1px solid #BBBBBB; }
      .newRequiries .newRequiries-th > div:nth-child(2n) {
        border: 0; }
  .newRequiries .newRequiries-table {
    background: rgba(184, 255, 182, 0.2);
    border-radius: 10px;
    padding: 30px 0 25px 0;
    margin: 0 0 15px 0; }
    .newRequiries .newRequiries-table .row {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin: 0 0 9px 0; }
      .newRequiries .newRequiries-table .row:last-child {
        margin: 0; }
      .newRequiries .newRequiries-table .row > div {
        width: 50%;
        box-sizing: border-box; }
        .newRequiries .newRequiries-table .row > div:nth-child(1) {
          padding: 0 0 0 37px;
          font-size: 18px;
          font-weight: 400;
          color: #006843; }
        .newRequiries .newRequiries-table .row > div:nth-child(2) {
          font-size: 24px;
          color: #F7901E;
          font-weight: 700;
          text-align: center; }
  .newRequiries .newRequiries-bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 25px 0 24px 0;
    border-radius: 10px;
    background: rgba(184, 255, 182, 0.2); }
    .newRequiries .newRequiries-bottom > div {
      width: 50%;
      box-sizing: border-box; }
      .newRequiries .newRequiries-bottom > div:nth-child(1) {
        padding: 0 0 0 37px;
        font-size: 18px;
        font-weight: 700; }
      .newRequiries .newRequiries-bottom > div:nth-child(2) {
        font-size: 24px;
        font-weight: 700;
        text-align: center; }

.filterObject-table {
  margin: 20px 0 0 0; }
  .filterObject-table .row {
    display: flex;
    align-items: flex-start;
    margin: 0 0 30px 0; }
    .filterObject-table .row > div {
      font-size: 12px; }
      .filterObject-table .row > div:nth-child(1) {
        flex: 0 0 293px;
        font-size: 12px;
        font-weight: 500; }
  .filterObject-table .filterObject-table__bottom {
    margin: 67px 0 0 0; }
    .filterObject-table .filterObject-table__bottom a {
      min-width: 107px; }

.eventsTable {
  max-width: 1088px; }
  .eventsTable table {
    width: 100%; }

*[align="center"] .eventsTable-btns {
  justify-content: center; }

.checkbox {
  display: inline-block; }
  .checkbox.empty {
    margin: 0 auto; }
    .checkbox.empty label {
      width: 22px;
      height: 22px;
      padding: 0; }

.eventsTable-btns {
  display: flex; }
  .eventsTable-btns a {
    text-decoration: none;
    margin: 0 27px 0 0;
    transition: 0.5s; }
    .eventsTable-btns a:last-child {
      margin: 0; }
    .eventsTable-btns a svg {
      fill: #006843; }
    .eventsTable-btns a:hover {
      opacity: 0.6; }

.events-bottom {
  margin: 0 0 60px 0; }
  .events-bottom .btn,
  .events-bottom button {
    min-width: 107px; }
  .events-bottom .events-bottom__title {
    font-weight: 500;
    font-size: 12px;
    margin: 30px 0 18px 0; }
  .events-bottom .projectService .projectService-content .jq-selectbox__select {
    min-width: 181px; }
  .events-bottom .projectService .projectService-content .requiered {
    position: relative; }
    .events-bottom .projectService .projectService-content .requiered:before {
      content: "";
      width: 8px;
      height: 8px;
      background: url(../images/icons/required.svg) no-repeat;
      position: absolute;
      right: 100%;
      top: -50%;
      bottom: -50%;
      margin: auto 6px auto 0; }

.filter-object-btns {
  display: flex;
  flex-wrap: wrap; }
  .filter-object-btns a {
    min-width: 107px;
    margin: 0 20px 10px 0; }
    .filter-object-btns a:last-child {
      margin: 0; }

.group-btns.margin {
  margin: 0 0 35px 0; }

.group-btns .btn,
.group-btns button {
  min-width: 107px;
  margin: 0 26px 15px 0; }
  .group-btns .btn:last-child,
  .group-btns button:last-child {
    margin-right: 0; }

.files {
  display: flex;
  flex-wrap: wrap; }
  .files .tabs {
    display: flex;
    flex-wrap: wrap;
    width: 100%; }
  .files .files-title {
    font-size: 12px;
    font-weight: 500;
    color: #006843;
    width: 100%;
    margin: 0 0 18px 0; }
  .files .files-nav {
    flex: 0 0 296px; }
    .files .files-nav ul {
      display: block; }
      .files .files-nav ul li {
        border-radius: 10px;
        margin: 0 0 5px 0; }
        .files .files-nav ul li a {
          min-height: 57px;
          padding: 10px 0 10px 56px;
          box-sizing: border-box;
          display: flex;
          align-items: center;
          font-size: 12px;
          font-weight: 500;
          color: #3C3C3B;
          position: relative; }
          .files .files-nav ul li a:before {
            content: "";
            width: 18px;
            height: 16px;
            background: url(../images/icons/file.svg) center center no-repeat;
            position: absolute;
            display: block;
            top: -50%;
            bottom: -50%;
            margin: auto 0;
            left: 16px; }
        .files .files-nav ul li.active {
          background: rgba(177, 178, 178, 0.2); }
          .files .files-nav ul li.active a:after {
            content: "";
            width: 17px;
            height: 1px;
            background: #006843;
            position: absolute;
            top: -50%;
            bottom: -50%;
            left: 100%;
            margin: auto 0 auto 2px; }
  .files .files-content {
    flex: 0 0 296px;
    background: rgba(177, 178, 178, 0.2);
    border-radius: 10px;
    font-size: 12px;
    padding: 21px 0 20px 8px;
    margin: 0 0 0 22px;
    box-sizing: border-box; }
    .files .files-content .files-content__title {
      font-weight: 500;
      line-height: 14px;
      padding: 0 0 0 13px;
      margin: 0 0 24px 0; }
    .files .files-content .files-content__links {
      font-size: 11px;
      line-height: 13px;
      padding: 0 0 0 0; }
      .files .files-content .files-content__links a {
        color: #006843;
        padding: 0 21px 0 21px;
        display: inline-block;
        position: relative; }
        .files .files-content .files-content__links a:hover {
          text-decoration: none; }
        .files .files-content .files-content__links a:after {
          content: "";
          width: 11px;
          height: 11px;
          background: url(../images/icons/file-link.svg) no-repeat;
          background-position: -4px 0px;
          position: absolute;
          top: 0;
          left: 0;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }

.calculations .calculations-title {
  font-weight: 500;
  color: #006843;
  font-size: 12px;
  margin: 0 0 27px 0; }

.calculations > ul {
  font-size: 12px;
  line-height: 18.29px;
  margin: 0;
  padding: 0;
  list-style: none; }
  .calculations > ul li a {
    display: block;
    color: #006843; }
    .calculations > ul li a:hover {
      text-decoration: none; }

.calculations-table-title {
  font-size: 12px;
  font-weight: 500;
  margin: 35px 0 14px 0;
  color: #006843; }

.greenBold {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #006843;
  margin: 0 0 10px 0; }

.projectService-title {
  font-size: 12px;
  line-height: 14px;
  color: #006843;
  font-weight: 500;
  margin: 56px 0 23px 0; }

.onlineCalculations {
  display: flex;
  flex-wrap: wrap; }
  .onlineCalculations.col-3 {
    max-width: 950px; }

.onlineCalculation {
  flex: 0 0 296px;
  height: 313px;
  box-sizing: border-box;
  box-shadow: 0px 0px 15px rgba(129, 129, 129, 0.2);
  border-radius: 10px;
  margin: 0 20px 20px 0; }
  .onlineCalculation.empty {
    box-shadow: none; }
  .onlineCalculation .onlineCalculation-img {
    height: 213px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .onlineCalculation .onlineCalculation-title {
    font-size: 18px;
    line-height: 22px;
    padding: 0 15px;
    text-align: center;
    font-family: 'Montserrat', sans-serif; }
    .onlineCalculation .onlineCalculation-title a {
      text-decoration: none;
      color: #3C3C3B; }
      .onlineCalculation .onlineCalculation-title a:hover {
        color: #006843; }

.hint {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: baseline;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #F7901E; }
  .hint:before {
    content: "?";
    font-size: 12px;
    font-weight: 500;
    color: #fff; }

.tabs-navigation-title {
  font-size: 12px;
  color: #006843;
  font-weight: 500;
  margin: 0 0 23px 0; }

.bim-content {
  display: flex; }
  .bim-content .tabs-navigation {
    flex: 0 0 341px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; }
    .bim-content .tabs-navigation > ul {
      border-right: 1px solid #BBBBBB;
      flex-grow: 1;
      padding-right: 21px; }
    .bim-content .tabs-navigation ul {
      display: block;
      box-sizing: border-box; }
      .bim-content .tabs-navigation ul li {
        display: block;
        margin: 0 0 0 0; }
        .bim-content .tabs-navigation ul li a {
          display: block;
          font-weight: 300;
          position: relative;
          padding: 0 0 0 28px;
          box-sizing: border-box;
          margin: 0 0 13px 0; }
          .bim-content .tabs-navigation ul li a:before {
            content: "";
            width: 20px;
            height: 20px;
            background: url(../images/icons/folder-black.svg) no-repeat;
            position: absolute;
            top: -3px;
            left: 0; }
          .bim-content .tabs-navigation ul li a:after {
            display: none; }
        .bim-content .tabs-navigation ul li.active > a:before {
          background: url(../images/icons/folder.svg) no-repeat; }
        .bim-content .tabs-navigation ul li.active a:after {
          display: none; }
        .bim-content .tabs-navigation ul li.active > ul {
          display: block; }
        .bim-content .tabs-navigation ul li ul {
          padding: 0 0 0 27px;
          display: none; }
        .bim-content .tabs-navigation ul li > ul {
          margin: 0 0 29px 0; }
  .bim-content .tabs-con {
    flex-grow: 1;
    padding: 0 0 0 46px;
    box-sizing: border-box; }
    .bim-content .tabs-con > p {
      font-size: 12px;
      line-height: 14px; }

.filesList a {
  display: block;
  position: relative;
  color: #006843;
  padding: 0 0 0 20px;
  text-decoration: none;
  font-size: 12px;
  margin: 0 0 15px 0; }
  .filesList a:last-child {
    margin: 0; }
  .filesList a:hover {
    text-decoration: underline; }

.filesList.zip a:before {
  content: "";
  width: 10px;
  height: 12px;
  background: url(../images/icons/zip.svg) no-repeat;
  position: absolute;
  left: 0;
  top: 0; }

.filesList.pp a:before {
  content: "";
  width: 14px;
  height: 14px;
  background: url(../images/icons/powerPoint.svg) no-repeat;
  position: absolute;
  left: 0;
  top: 0; }

.alboms {
  margin: 20px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end; }
  .alboms.large .albom {
    margin: 0 20px 37px 0; }
    .alboms.large .albom .albom-edit-btn {
      margin: 0 0 16px 0; }

.albom {
  width: 296px;
  box-sizing: border-box;
  margin: 0 20px 64px 0; }
  .albom .albom-title {
    font-size: 12px;
    margin: 8px 0 0 0; }
    .albom .albom-title a {
      color: #006843;
      text-decoration: none; }
      .albom .albom-title a:hover {
        text-decoration: underline; }

.albom-edit-btn {
  margin: 0 0 7px 0;
  font-size: 12px; }
  .albom-edit-btn a {
    color: #006843;
    display: flex;
    align-items: center;
    text-decoration: none; }
    .albom-edit-btn a svg {
      fill: #006843;
      margin: 0 6px 0 0; }
    .albom-edit-btn a:hover {
      text-decoration: underline; }

.statistica {
  display: flex;
  flex-wrap: wrap; }
  .statistica .statistic {
    display: flex;
    align-items: stretch;
    width: 296px;
    height: 109px;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(129, 129, 129, 0.2);
    border-radius: 10px;
    margin: 0 21px 20px 0;
    transition: 0.7s; }
    .statistica .statistic:hover {
      box-shadow: 0px 0px 15px rgba(129, 129, 129, 0); }
    .statistica .statistic a {
      display: flex;
      width: 100%;
      text-decoration: none;
      color: #006843;
      font-size: 18px;
      font-weight: 500;
      align-items: center;
      justify-content: center;
      text-align: center; }

.lineElements {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap; }

img {
  max-width: 100%; }

.diagramm-filter {
  flex-grow: 1; }
  .diagramm-filter .diagramm-filter-btns {
    margin: 0 0 20px 0; }
    .diagramm-filter .diagramm-filter-btns .btn {
      min-width: 107px;
      margin: 0 17px 10px 0; }
      .diagramm-filter .diagramm-filter-btns .btn:last-child {
        margin-right: 0; }
  .diagramm-filter .diagramm-filter-content {
    display: flex;
    flex-wrap: wrap; }
  .diagramm-filter .diagramm-filter_block {
    background: rgba(184, 255, 182, 0.2);
    border-radius: 10px;
    min-width: 221px;
    padding: 24px 20px 0 23px;
    margin: 0 8px 23px 0; }
  .diagramm-filter .diagramm-filter_block__title {
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 26px 0; }
  .diagramm-filter .checkbox {
    margin: 0 0 26px 0; }
    .diagramm-filter .checkbox label:before {
      background-color: transparent; }

.calendar {
  max-width: 1088px;
  width: 100%; }
  .calendar .calendar-top {
    background: rgba(177, 178, 178, 0.2);
    border-radius: 10px;
    padding: 26.5px 69px 26.5px 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-weight: 500;
    font-size: 12px; }
    .calendar .calendar-top .left {
      display: flex;
      flex-wrap: wrap;
      align-items: center; }
      .calendar .calendar-top .left .jq-selectbox {
        margin: 0 0 0 46px; }
        .calendar .calendar-top .left .jq-selectbox .jq-selectbox__select {
          width: 275px; }
    .calendar .calendar-top .right {
      margin: 0 0 0 auto;
      display: flex;
      flex-wrap: wrap;
      align-items: center; }
      .calendar .calendar-top .right .jq-selectbox {
        margin: 0 0 0 0; }
        .calendar .calendar-top .right .jq-selectbox .jq-selectbox__select {
          width: 178px; }
    .calendar .calendar-top .prev {
      width: 20px;
      height: 20px;
      background: #006843 url(../images/icons/prev.svg) center center no-repeat;
      border-radius: 50%;
      margin: 0 22px 0 0;
      cursor: pointer; }
      .calendar .calendar-top .prev:hover {
        opacity: 0.7; }
    .calendar .calendar-top .next {
      width: 20px;
      height: 20px;
      background: #006843 url(../images/icons/next.svg) center center no-repeat;
      border-radius: 50%;
      margin: 0 0 0 22px;
      cursor: pointer; }
      .calendar .calendar-top .next:hover {
        opacity: 0.7; }

.calendar-cells {
  display: flex;
  flex-wrap: wrap; }
  .calendar-cells .calendar-cell {
    width: calc(14.6% - 29px);
    height: 77px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px 0 0;
    background: rgba(184, 255, 182, 0.2);
    border-radius: 10px;
    margin: 0 29px 20px 0;
    font-weight: 500;
    font-size: 48px;
    position: relative; }
    .calendar-cells .calendar-cell:nth-child(7n) {
      margin-right: 0; }
    .calendar-cells .calendar-cell.weekend {
      background: rgba(205, 52, 42, 0.2); }
    .calendar-cells .calendar-cell span {
      position: absolute;
      bottom: 8px;
      left: 7px;
      font-weight: 300;
      font-size: 9px; }

.calendar-ths {
  display: flex;
  flex-wrap: wrap;
  margin: 26px 0 28px 0; }
  .calendar-ths .calendar-th {
    width: calc(14.6% - 29px);
    margin: 0 29px 0 0;
    font-weight: 500;
    font-size: 18px;
    text-align: center; }
    .calendar-ths .calendar-th:nth-child(7n) {
      margin: 0; }

.statistica-group {
  margin: 0 0 60px 0; }
  .statistica-group .statistica-group_title {
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 20px 0; }

.nav {
  font-size: 12px;
  line-height: 25px;
  list-style: none;
  padding: 0;
  margin: 0; }
  .nav li a {
    text-decoration: none;
    color: #006843; }
    .nav li a:hover {
      text-decoration: underline; }

@media (min-width: 1921px) {
  .wrapper.main {
    background-size: 100% auto; } }

@media (max-width: 1919px) {
  .newRequiries {
    width: 100%;
    max-width: 1101px;
    margin: 0 0 60px 0; } }

@media (max-width: 1640px) {
  header {
    padding: 20px 15px 0 15px; }
    header .logo span {
      margin: 0 0 0 35px; }
  .search form {
    width: 370px; }
  .header-right .name {
    font-size: 14px; }
  .left-bar {
    flex: 0 0 250px;
    padding: 0 20px 0 15px; }
  .diagramm-filter {
    order: -1;
    margin: 0 10px 0 0; }
    .diagramm-filter .diagramm-filter_block__title {
      margin: 0 0 20px 0;
      width: 100%; }
    .diagramm-filter .diagramm-filter_block {
      display: flex;
      align-items: baseline;
      flex-wrap: wrap;
      min-width: inherit;
      width: 100%; }
    .diagramm-filter .checkbox {
      margin: 0 20px 20px 0; } }

@media (max-width: 1440px) {
  header {
    height: auto; }
    header .logo span {
      font-size: 20px; }
  .header-right {
    flex-wrap: wrap;
    max-width: 250px; }
    .header-right .name {
      width: 100%;
      order: 1;
      margin: 0 0 15px 0; }
    .header-right .notification {
      order: 2;
      width: 30px;
      height: 30px;
      background-size: auto 60%;
      border-width: 1px; }
      .header-right .notification span {
        width: 13px;
        height: 13px;
        font-size: 10px;
        right: -5px; }
    .header-right .log-out {
      order: 3;
      margin: 0 0 0 auto; }
  .search {
    margin: -5px 0 0 30px; }
    .search form {
      width: 320px; }
  .left-bar {
    min-height: calc(100vh - 82px); } }

@media (max-width: 1224px) {
  .search form {
    width: 230px;
    padding: 0;
    border: 0; }
    .search form button {
      left: 0; }
  .calendar-cells .calendar-cell span {
    bottom: 5px; } }

@media (max-width: 1223px) {
  .header-right {
    max-width: 150px; }
  .projectServices {
    flex-wrap: wrap; }
    .projectServices .projectService {
      margin-left: 0; }
  .calendar .calendar-top {
    padding: 25px 20px; }
  .calendar-cells .calendar-cell {
    font-size: 34px;
    padding: 0 15px 0 0;
    height: 65px; } }

@media (max-width: 1023px) {
  .projectService .projectService-label.longest {
    flex: 0 0 240px; }
  .projectService .projectService-content input.longest {
    width: 275px; }
  .calendar .calendar-top .left .jq-selectbox .jq-selectbox__select {
    width: 220px; } }

@media (max-width: 939px) {
  header .logo span {
    display: none; }
  .header-right {
    max-width: 150px;
    width: 150px;
    position: relative;
    padding: 30px 0 0 0; }
    .header-right .name {
      position: absolute;
      right: 0;
      top: 0;
      width: calc(100vw - 280px);
      text-align: right; }
      .header-right .name a {
        display: inline; }
  .left-bar {
    flex: initial;
    padding: 0; }
    .left-bar .copyright {
      display: none; }
  .right-bar {
    padding: 0 15px 0 0;
    max-width: calc(100% - 70px); }
  .search {
    margin: auto 30px 0 30px;
    flex-grow: 1; }
    .search form {
      width: auto; }
  .left-bar {
    flex: 0 0 70px;
    padding: 0 10px 0 10px;
    transition: flex 0.5s;
    overflow: hidden; }
    .left-bar .main-menu {
      margin: 8px 0 0 0; }
      .left-bar .main-menu > ul > li > a {
        height: 51px;
        font-size: 0;
        border: 1px solid #006843;
        border-radius: 5px;
        box-sizing: border-box; }
      .left-bar .main-menu > ul > li > ul {
        display: none; }
    .left-bar.active {
      flex: 0 0 250px; }
      .left-bar.active .main-menu > ul > li > a {
        width: 230px;
        font-size: 14px; }
      .left-bar.active .main-menu > ul > li.active ul {
        display: block; }
      .left-bar.active + .right-bar {
        width: calc(100vw - 250px); }
    .left-bar:after {
      display: none; }
  .main-menu-btn {
    display: block;
    height: 50px;
    max-width: 50px;
    position: relative;
    border-radius: 5px;
    border: 1px solid #006843;
    margin: 35px 0 0 0; }
    .main-menu-btn span {
      display: block;
      background: green;
      height: 3px;
      position: absolute;
      left: 10px;
      right: 10px;
      transition: 0.5s; }
      .main-menu-btn span:nth-child(1) {
        top: 15px; }
      .main-menu-btn span:nth-child(2) {
        top: -50%;
        bottom: -50%;
        margin: auto 0; }
      .main-menu-btn span:nth-child(3) {
        bottom: 15px; }
    .main-menu-btn.active span:nth-child(1) {
      transform: rotate(45deg);
      top: 23px; }
    .main-menu-btn.active span:nth-child(2) {
      display: none; }
    .main-menu-btn.active span:nth-child(3) {
      transform: rotate(-45deg);
      top: 23px;
      bottom: auto; }
  .breadcrumbs {
    margin: 35px 0 11px 0; }
  .onlineCalculation.empty {
    display: none; }
  .eventsTable-btns {
    flex-wrap: wrap; } }

@media (max-width: 767px) {
  .mainContainer .mainContainer-content {
    width: auto;
    margin: 0 10px; }
  .mainTop {
    padding: 20px 10px 30px 10px; }
    .mainTop .mainTop-right {
      margin: 0 auto; }
  .mainTitle {
    margin: 36px 0 16px 0;
    font-size: 22px; }
  .required {
    margin-left: 15px; }
  .reg > input {
    margin-left: 15px;
    width: calc(100% - 15px); }
  .reg .jq-selectbox {
    margin-left: 15px; }
  .reg > .checkbox {
    margin-left: 15px; }
  .content {
    flex-wrap: wrap; }
  .left-bar {
    flex: 0 0 100%;
    min-height: 0;
    overflow: inherit;
    margin: -28px 0 0 0; }
    .left-bar.active {
      flex: 0 0 100%; }
      .left-bar.active .main-menu {
        left: 10px; }
        .left-bar.active .main-menu > ul > li > a {
          width: auto;
          font-size: 14px; }
        .left-bar.active .main-menu > ul > li.active ul {
          margin-bottom: 18px; }
    .left-bar .main-menu-btn {
      margin: 0;
      max-width: 30px;
      height: 24px;
      border: 0; }
      .left-bar .main-menu-btn span {
        height: 2px;
        left: 5px;
        right: 5px; }
        .left-bar .main-menu-btn span:nth-child(1) {
          top: 5px; }
        .left-bar .main-menu-btn span:nth-child(3) {
          bottom: 5px; }
      .left-bar .main-menu-btn.active span:nth-child(1) {
        top: 11px; }
      .left-bar .main-menu-btn.active span:nth-child(3) {
        top: 11px; }
    .left-bar .main-menu {
      position: absolute;
      left: -100vw;
      right: auto;
      top: 26px;
      background: #fff;
      z-index: 10;
      right: 10px;
      margin: 0;
      transition: 0.6s;
      width: calc(100vw - 20px);
      padding: 10px 0 0 0; }
      .left-bar .main-menu > ul > li > a {
        width: auto;
        font-size: 14px; }
  .right-bar {
    width: 100%;
    padding: 0 10px 0 10px;
    max-width: 100%; }
  .top {
    margin: 0 0 0 0; }
    .top h1 {
      margin: 0 30px 15px 0; }
  header {
    padding: 15px 10px 0 10px; }
    header .logo {
      width: calc(100% - 140px);
      text-align: center;
      order: 1; }
      header .logo a {
        margin: 0 0; }
        header .logo a img {
          width: 100%; }
    header .search {
      margin: 10px 0 0 50px;
      order: 3;
      z-index: 11; }
    header .header-right {
      order: 2;
      padding: 0;
      max-width: 120px; }
      header .header-right .name {
        display: none; }
  .breadcrumbs {
    margin: 20px 0 11px 0; }
  .tableAdaptive {
    max-height: inherit;
    max-width: inherit;
    padding: 0; }
    .tableAdaptive table {
      display: block;
      margin: 20px 0 0 0; }
      .tableAdaptive table tbody {
        display: block; }
        .tableAdaptive table tbody tr {
          display: block;
          padding: 0 0;
          border-radius: 5px; }
          .tableAdaptive table tbody tr th {
            display: none; }
          .tableAdaptive table tbody tr td {
            display: flex;
            height: auto;
            min-height: 0;
            box-sizing: border-box;
            position: relative;
            padding: 5px 10px 5px 0; }
            .tableAdaptive table tbody tr td:after {
              display: none; }
            .tableAdaptive table tbody tr td:before {
              flex: 0 0 50%;
              content: attr(data-label);
              padding: 0 10px 0 10px;
              left: 0;
              width: 50%;
              box-sizing: border-box;
              font-weight: 500;
              font-size: 12px;
              display: flex;
              align-items: baseline;
              box-sizing: border-box; }
            .tableAdaptive table tbody tr td:first-child {
              padding-top: 15px; }
            .tableAdaptive table tbody tr td:last-child {
              padding-bottom: 15px; }
            .tableAdaptive table tbody tr td[align="center"] {
              padding-right: 15px;
              text-align: left; }
          .tableAdaptive table tbody tr.light td {
            height: auto; }
  .projectService {
    flex-wrap: wrap; }
    .projectService .projectService-label {
      flex: 0 0 100%;
      padding: 0 0 0 0;
      margin: 0 0 10px 0; }
      .projectService .projectService-label.long, .projectService .projectService-label.longest {
        flex: 0 0 100%; }
    .projectService .projectService-content {
      max-width: 100%;
      width: 100%;
      justify-content: space-between; }
      .projectService .projectService-content .column {
        max-width: 50%;
        margin: 0; }
      .projectService .projectService-content input.long,
      .projectService .projectService-content input.longest {
        width: 100%; }
      .projectService .projectService-content .requiered {
        width: 100%;
        box-sizing: border-box;
        padding: 0 0 0 15px; }
        .projectService .projectService-content .requiered:before {
          left: 0;
          right: auto;
          margin: auto 0; }
  select[multiple="multiple"] {
    min-width: 297px;
    border: 1px solid #006843;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 4px 6px 5px 0;
    height: 117px;
    overflow: auto;
    /* ползунок скроллбара */ }
    select[multiple="multiple"] option {
      font-size: 12px;
      line-height: 14px;
      margin: 0 0 4px 0;
      margin: 0 0 4px 0;
      cursor: default; }
      select[multiple="multiple"] option:hover {
        color: #F7901E; }
      select[multiple="multiple"] option.selected {
        color: #006843;
        font-weight: 500; }
    select[multiple="multiple"]::-webkit-scrollbar {
      width: 7px;
      /* ширина для вертикального скролла */
      background-color: #F1F1F1;
      border-radius: 3.5px; }
    select[multiple="multiple"]::-webkit-scrollbar-thumb {
      background-color: #F7901E;
      border-radius: 3.5px; }
  .jq-selectbox {
    width: 100%; }
    .jq-selectbox select {
      display: block;
      display: flex;
      align-items: center;
      position: relative;
      height: 24px;
      box-sizing: border-box;
      border: 1px solid #006843;
      border-radius: 5px;
      padding: 0 40px 0 11px;
      font-size: 12px;
      color: rgba(50, 50, 50, 0.5);
      cursor: pointer;
      background: #fff;
      background: url(../images/icons/select.svg) right 15px center no-repeat;
      width: 100%;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none; }
    .jq-selectbox .jq-selectbox__select {
      display: none; }
  .projectService-btns {
    margin: 30px 0 30px 0; }
  .projectServices {
    margin: 20px 0 0 0; }
  .reg .jq-selectbox select {
    width: calc(100% - 15px); }
  .jq-select-multiple select {
    display: none; }
  .tableAdaptive-btns {
    margin: 25px 0 0 0;
    justify-content: flex-start; }
  .newRequiries .newRequiries-table {
    padding: 15px 0; }
    .newRequiries .newRequiries-table .row > div:nth-child(1) {
      padding: 0 0 0 20px; }
  .newRequiries .newRequiries-bottom > div:nth-child(1) {
    padding: 0 0 0 20px; }
  .filterObject-table .row {
    margin: 0 0 15px 0; }
    .filterObject-table .row > div:nth-child(1) {
      flex: 0 0 40%;
      padding: 0 10px 0 0;
      box-sizing: border-box; }
  .files .files-nav {
    flex: 0 0 100%; }
    .files .files-nav ul li.active a:after {
      display: none; }
  .files .files-content {
    flex: 0 0 100%;
    margin: 20px 0 30px 0; }
    .files .files-content .files-content__title {
      margin: 0 0 15px 0; }
  .onlineCalculation {
    flex: 0 0 100%;
    margin: 0 0 20px 0; }
  .checkbox label:before {
    top: -5px;
    margin: 0;
    bottom: auto; }
  .bim-content {
    flex-wrap: wrap; }
    .bim-content .tabs-navigation {
      flex: 0 0 100%; }
      .bim-content .tabs-navigation > ul {
        border: 0;
        padding-right: 0; }
    .bim-content .tabs-con {
      padding: 10px 0 0 0;
      width: 100%; }
  .diagramm-filter .checkbox {
    width: 50%;
    margin: 0 0 20px 0; }
  .calendar .calendar-top .left {
    width: 100%; }
    .calendar .calendar-top .left .jq-selectbox {
      width: auto;
      flex-grow: 1; }
      .calendar .calendar-top .left .jq-selectbox select {
        background-color: #fff; }
  .calendar .calendar-top .right {
    margin: 20px 0 0 0;
    width: 100%; }
    .calendar .calendar-top .right .jq-selectbox {
      width: auto;
      flex-grow: 1; }
      .calendar .calendar-top .right .jq-selectbox select {
        background-color: #fff; }
  .calendar-ths .calendar-th {
    width: calc(14.6% - 10px);
    margin: 0 10px 0 0; }
  .calendar-cells .calendar-cell {
    align-items: flex-start;
    justify-content: flex-end;
    height: 40px;
    width: calc(14.6% - 10px);
    margin: 0 10px 10px 0;
    padding: 5px 5px 0 0;
    font-size: 20px; }
    .calendar-cells .calendar-cell span {
      right: 0;
      bottom: 3px;
      text-overflow: ellipsis;
      overflow: hidden; }
  .statistica .statistic {
    width: 100%;
    margin: 0 0 20px 0; } }
